@use "sass:list";
@import "../variables";

$helpers: (
    ("mx", "margin-inline-start", "margin-inline-end"),
    ("mxs", "margin-inline-start"),
    ("mxe", "margin-inline-end"),
    ("my", "margin-block-start", "margin-block-end"),
    ("mys", "margin-block-start"),
    ("mye", "margin-block-end"),
    ("ml", "margin-left"),
    ("mr", "margin-right"),
    ("mt", "margin-top"),
    ("mb", "margin-bottom"),
    ("px", "padding-inline-start", "padding-inline-end"),
    ("pxs", "padding-inline-start"),
    ("pxe", "padding-inline-end"),
    ("py", "padding-block-start", "padding-block-end"),
    ("pys", "padding-block-start"),
    ("pye", "padding-block-end"),
    ("pl", "padding-left"),
    ("pr", "padding-right"),
    ("pt", "padding-top"),
    ("pb", "padding-bottom"),
);

@each $helper in $helpers {
  $name: list.nth($helper, 1);
  $i: 0;
  @while ($i <= 10) {
    .#{$name}-#{$i} {
      $j: 2;
      @while ($j <= list.length($helper)) {
        $propName: list.nth($helper, $j);
        #{$propName}: var(--size-#{$i}) !important;
        $j: $j + 1;
      }
    }
    $i: $i + 1;
  }
}

@each $screen in $screens {
  $name: nth($screen, 1);
  .#{$name} {font-size: var(--font-size-#{$name}) !important;}
}


@each $color in $colors {
  .bg-#{$color} {background-color: var(--color-#{$color}) !important;}
}

@each $color in $colors {
  .text-#{$color} {color: var(--color-#{$color}) !important;}
}
