.flex-row {display: flex; flex-direction: row;}
.flex-row-reverse {display: flex; flex-direction: row-reverse;}

.flex-column {display: flex; flex-direction: column;}
.flex-column-reverse {display: flex; flex-direction: column-reverse;}

.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center}

$i: 0;
@while ($i < 12) {
  .flex-#{$i} {flex: $i;}
  $i: $i + 1;
}
