
$i: 0;
@while ($i < 12) {
  .flex-#{$i} {flex: $i;}
  $i: $i + 1;
}

//Margins
$i: 0;
@while ($i < 10) {
  .mx-#{$i} {margin-inline-start: var(--space-#{$i});margin-inline-end: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .my-#{$i} {margin-block-start: var(--space-#{$i});margin-block-end: var(--space-#{$i});}
  $i: $i + 1;
}

//Margin Directive
$i: 0;
@while ($i < 10) {
  .ml-#{$i} {margin-left: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mr-#{$i} {margin-right: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mt-#{$i} {margin-top: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mb-#{$i} {margin-bottom: var(--space-#{$i});}
  $i: $i + 1;
}

//Margin Flexbox
$i: 0;
@while ($i < 10) {
  .mxs-#{$i} {margin-inline-start: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mxe-#{$i} {margin-inline-end: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mys-#{$i} {margin-block-start: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .mye-#{$i} {margin-block-end: var(--space-#{$i});}
  $i: $i + 1;
}

//Paddings
$i: 0;
@while ($i < 10) {
  .px-#{$i} {padding-inline-start: var(--space-#{$i});padding-inline-end: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .py-#{$i} {padding-block-start: var(--space-#{$i});padding-block-end: var(--space-#{$i});}
  $i: $i + 1;
}

//Padding Directive
$i: 0;
@while ($i < 10) {
  .pl-#{$i} {padding-left: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pr-#{$i} {padding-right: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pt-#{$i} {padding-top: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pb-#{$i} {padding-bottom: var(--space-#{$i});}
  $i: $i + 1;
}

//Padding Flexbox
$i: 0;
@while ($i < 10) {
  .pxs-#{$i} {padding-inline-start: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pxe-#{$i} {padding-inline-end: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pys-#{$i} {padding-block-start: var(--space-#{$i});}
  $i: $i + 1;
}

$i: 0;
@while ($i < 10) {
  .pye-#{$i} {padding-block-end: var(--space-#{$i});}
  $i: $i + 1;
}
