.flex-row {display: flex; flex-direction: row;}
.flex-row-reverse {display: flex; flex-direction: row-reverse;}

.flex-column {display: flex; flex-direction: column;}
.flex-column-reverse {display: flex; flex-direction: column-reverse;}

.flex-align-start {align-items: flex-start;}
.flex-align-center {align-items: center;}
.flex-align-end {align-items: flex-end;}

.flex-justify-start {justify-content: flex-start;}
.flex-justify-center {justify-content: center;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-space-between {justify-content: space-between;}
.flex-justify-space-around {justify-content: space-around;}

.text-align-start {text-align: start;}
.text-align-center {text-align: center;}
.text-align-end {text-align: end;}

$i: 0;
@while ($i < 12) {
  .flex-gap-#{$i} {gap: var(--size-#{$i});}
  $i: $i + 1;
}

