:host {
  outline: none;
  align-items: center;
  display: inline-flex;
  padding: .2em .2em;
  border-radius: var(--radius-2);

  &, * {cursor: pointer;}
  &.fill .check-box {color: var(--color-white);}
  &:hover, &:focus {background-color: rgba(var(--color-component-rgb), .1);}
  &.fill .check-box {background-color: var(--color-component);}

  .check-box {
    width: 0;
    height: 0;
    padding: .6em;
    border-width: .2em;
    align-items: center;
    border-style: solid;
    display: inline-flex;
    border-radius: inherit;
    justify-content: center;
    box-sizing: content-box;
    border-color: var(--color-component);

    i {
      font-size: .8em;
    }
  }

  label {
    display: flex;
    align-items: center;
    margin-inline: var(--size-3);

    &:empty {
      display: none;
    }
  }
}
