:host {
  width: 250px;
  display: block;
  position: relative;

  &.dir-rtl {
    direction: rtl;
  }

  &.dir-ltr {
    direction: ltr;
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover {
  &:hover {
    background-color: rgba(var(--color-black-rgb), .1);
  }
}

.day-picker {
  display: flex;
  min-height: 250px;
  flex-direction: column;
  background-color: var(--color-white);

  .year-month {
    display: flex;

    > div {
      flex: 1;
      cursor: pointer;
      padding: 10px 0;
      @include center;
      @include hover;
    }
  }


  .calendar {
    flex: 1;
    display: flex;
    flex-direction: column;

    .week-days {
      display: flex;

      .week-day {
        flex: 1;
        @include center;
      }
    }

    .days {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .day {
        @include center;
        @include hover;
        cursor: pointer;
        border-radius: 50%;
        width: calc(100% / 7);

        &.today {
          color: var(--color-primary);
          box-shadow: 0 0 1px 0 var(--color-primary);
        }

        &.active {
          color: var(--color-white);
          background-color: var(--color-primary);

          &+.day.active {
            border-radius: 0 !important;
          }
        }

        &:not(.this-month) {
          opacity: .4;
        }

        &.holiday {
          color: var(--color-danger)
        }
      }
    }
  }
}

.month-picker, .year-picker {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  position: absolute;
  transform: scale(0);
  background-color: var(--color-white);

  &.show {
    transform: scale(1);
  }

  > div {
    cursor: pointer;
    @include center;
    @include hover;

    &.active {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}


.month-picker {
  display: flex;
  flex-wrap: wrap;

  .month {
    width: calc(100% / 3);
    height: calc(100% / 4);
  }
}

.year-picker {
  .year {
    width: 100%;
  }
}
