<div class="day-picker">
  <div class="year-month">
    <div class="year" (click)="showYears()">{{showValue.years}}</div>
    <div class="month" (click)="showMonths()">{{showDate.format('MMMM')}}</div>
  </div>
  <div class="calendar">
    <div class="week-days">
      <div class="week-day" *ngFor="let weekDay of weekDays">
        {{weekDay}}
      </div>
    </div>
    <div class="days">
      <div class="day" *ngFor="let date of dates; let index = index" [ngClass]="{
      active: date.isSelected,
      today: date.isToday,
      holiday: date.isHoliday,
     'this-month': date.isCurrentMonth
      }" (click)="selectDate(date)">
        {{date.day}}
      </div>
    </div>
  </div>
  <div class="time">

  </div>
</div>
<div class="month-picker" [ngClass]="{show: (view == 'month')}">
  <div class="month" *ngFor="let month of months;let index = index" [ngClass]="{
    active: (showValue.months == index)
  }" (click)="selectMonth(index)">
    {{month}}
  </div>
</div>
<div class="year-picker" [ngClass]="{show: (view == 'year')}">
  <div class="year" *ngFor="let year of years" (click)="selectYear(year)" [ngClass]="{active: (showValue.years == year)}">
    {{year}}
  </div>
</div>
