<div class="control-box">
  <div class="arrow"></div>
  <div class="placeholder" *ngIf="placeholder && !searchValue && !selectedItem">{{placeholder}}</div>
  <div class="text" *ngIf="selectedItem && !searchValue">
    <ng-container *ngIf="optionTemplate; else elseTextTemplate">
      <ng-container *ngTemplateOutlet="optionTemplate.template; context: {$implicit: selectedItem}"></ng-container>
    </ng-container>
    <ng-template #elseTextTemplate>
      {{getText(selectedItem)}}
    </ng-template>
  </div>
  <input [(ngModel)]="searchValue" (ngModelChange)="search()" (keydown)="handleHoveredIndex($event, true)"/>
</div>
<ng-template #itemsTpl>
  <div class="items-container">
    <ul class="items">
      <li *ngFor="let item of renderedItems" class="item" (click)="select(item, $event)"
          [ngClass]="{selected: (selectedItem == item), hovered: (hoveredItem == item)}">
        <ng-container *ngIf="optionTemplate; else elseOptionTemplate">
          <ng-container *ngTemplateOutlet="optionTemplate.template; context: {$implicit: item}"></ng-container>
        </ng-container>
        <ng-template #elseOptionTemplate>
          <div class="default-template">
            {{getText(item)}}
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
</ng-template>
