@import "mixin";

.control-box {
  input {
    color: var(--color-gray-4);
  }

  .text {
    color: var(--color-gray-5);
  }
}

:host {
  display: block;
  min-width: 80px;
  position: relative;

  &.open .control-box input:focus ~ .text  {
      color: var(--color-gray--5);
  }
}

.items-container {
  display: flex;
  overflow: auto;
  min-width: 100%;
  max-height: 240px;
  justify-content: flex-start;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-gray-6);
}

.items {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;

  li {
    cursor: pointer;

    &:hover, &.hovered {
      background-color: var(--color-gray--1);
    }

    &.selected {
      @include selected-color;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-gray--2);
    }

    .default-template {
      display: flex;
      padding: 5px 10px;
      align-items: center;
    }
  }
}
