:host {
  outline: none;
  align-items: center;
  display: inline-flex;
  border-radius: var(--radius-10);

  &, * {
    cursor: pointer;
  }

  &.fill .box {
    color: var(--color-white);
  }

  &.primary {
    &:hover, &:focus {background-color: rgba(var(--color-primary-rgb), .1);}
    &.checked .box {background-color: var(--color-primary);border-color: var(--color-primary);}
  }
  &.warning {
    &:hover, &:focus {background-color: rgba(var(--color-warning-rgb), .1);}
    &.checked .box {background-color: var(--color-warning);border-color: var(--color-warning);}
  }
  &.success {
    &:hover, &:focus {background-color: rgba(var(--color-success-rgb), .1);}
    &.checked .box {background-color: var(--color-success);border-color: var(--color-success);}
  }
  &.link {
    &:hover, &:focus {background-color: rgba(var(--color-link-rgb), .1);}
    &.checked .box {background-color: var(--color-link);border-color: var(--color-link);}
  }
  &.danger {
    &:hover, &:focus {background-color: rgba(var(--color-danger-rgb), .1);}
    &.checked .box {background-color: var(--color-danger);border-color: var(--color-danger);}
  }

  &.xs {
    padding: var(--size-1) var(--size-2);
    .box {font-size: var(--font-size--4);}
    label {font-size: var(--font-size--2);}
  }
  &.sm {
    padding: var(--size-2) var(--size-3);
    .box {font-size: var(--font-size--2);}
    label {font-size: var(--font-size-0);}
  }
  &.md {
    padding: var(--size-2) var(--size-3);
    .box {font-size: var(--font-size-0);}
    label {font-size: var(--font-size-2);}
  }
  &.lg {
    padding: var(--size-3) var(--size-3);
    .box {font-size: var(--font-size-2);}
    label {font-size: var(--font-size-4);}
  }
  &.xl {
    padding: var(--size-3) var(--size-3);
    .box {font-size: var(--font-size-4);}
    label {font-size: var(--font-size-6);}
  }

  $base-size: 1.5em;
  $border-size: 3px;

  &.checked .box::after {
    margin-inline-start: $base-size;
  }

  .box {
    width: calc(($base-size * 2) + ($border-size * 2));
    align-items: center;
    display: inline-flex;
    border-radius: inherit;
    transition: all 200ms ease;
    justify-content: flex-start;
    border: $border-size solid transparent;
    background-color: var(--color-gray--8);
    outline: none;

    &::after {
      content: '';
      min-width: $base-size;
      min-height: $base-size;
      border-radius: 50%;
      transition: all 200ms ease;
      background-color: var(--color-white);
    }
  }

  label {
    margin-inline: var(--size-3);

    &:empty {
      display: none;
    }
  }
}
