:host {
  outline: none;
  padding: .4em .4em;
  align-items: center;
  display: inline-flex;
  border-radius: var(--radius-10);

  .switch-box {font-size: .8em;}
  label {font-size: .9em;}

  &, * {cursor: pointer;}
  &:hover, &:focus {background-color: rgba(var(--component-color-rgb), .1);}
  &.checked .switch-box {background-color: var(--component-color);border-color: var(--component-color);}

  $base-size: 1.5em;
  $border-size: 3px;

  &.checked .switch-box::after {
    margin-inline-start: $base-size;
  }

  .switch-box {
    width: calc(($base-size * 2) + ($border-size * 2));
    align-items: center;
    display: inline-flex;
    border-radius: inherit;
    transition: all 200ms ease;
    justify-content: flex-start;
    border: $border-size solid transparent;
    background-color: var(--color-gray--8);
    outline: none;

    &::after {
      content: '';
      min-width: $base-size;
      min-height: $base-size;
      border-radius: 50%;
      transition: all 200ms ease;
      background-color: var(--color-white);
    }
  }

  label {
    margin-inline: var(--size-3);

    &:empty {
      display: none;
    }
  }
}
