<ng-template #contentTpl let-item let-template="template">
  @if (template) {
    <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
  } @else {
    {{ item }}
  }
</ng-template>

<ul [ngClass]="'dir-' + orientation" class="items">
  @for (item of items; track item; let index = $index) {
    <li [style]="style" class="item">
      <div class="start">
        @if (align == 'start' || (align == 'alternate' && index%2 == 0)) {
          <ng-container
          *ngTemplateOutlet="contentTpl; context: {$implicit: item, template: contentTemplate}"></ng-container>
        }
        @if (oppositeTemplate) {
          @if (align == 'end' || (align == 'alternate' && index%2 == 1)) {
            <ng-container *ngTemplateOutlet="oppositeTemplate; context: {$implicit: item}"></ng-container>
          }
        }
      </div>
      <div class="splitter">
        @if (pointTemplate) {
          <ng-container *ngTemplateOutlet="pointTemplate; context: {$implicit: item}"></ng-container>
        } @else {
          <span class="default-point"></span>
        }
      </div>
      <div class="end">
        @if (align == 'end' || (align == 'alternate' && index%2 == 1)) {
          <ng-container
          *ngTemplateOutlet="contentTpl; context: {$implicit: item, template: contentTemplate}"></ng-container>
        }
        @if (oppositeTemplate) {
          @if (align == 'start' || (align == 'alternate' && index%2 == 0)) {
            <ng-container *ngTemplateOutlet="oppositeTemplate; context: {$implicit: item}"></ng-container>
          }
        }
      </div>
    </li>
  }
</ul>
