<div *ngIf="breadcrumb" class="mb-2">
    <p-breadcrumb [home]="{label: ''}" [model]="breadcrumb" class="max-w-full"/>
</div>
<p-card *ngIf="showInCard; else tableTpl">
    <ng-container *ngTemplateOutlet="tableTpl"></ng-container>
</p-card>
<ng-template #tableTpl>
    <div class="flex flex-row gap-2 align-items-center pb-2">
        <p-button (onClick)="onAdd.emit()" *ngIf="onAdd.observed" [label]="'custom-table.add' | translate"
                  icon="fa fa-plus" iconPos="right" severity="success"/>
        <ng-container *ngIf="captionTpl">
            <ng-container *ngTemplateOutlet="captionTpl"></ng-container>
        </ng-container>
        <p-multi-select class="columns-selection" (ngModelChange)="processHideColumns()" *ngIf="showColumnSelector" [(ngModel)]="selectedColumns"
                        [options]="columns" display="chip" optionLabel="header"></p-multi-select>
    </div>
    <p-table
        #dt showGridlines
        [value]="value" [paginator]="true" [rowsPerPageOptions]="[5, 10, 12, 15, 20, 50]"
        [rows]="12" [size]="size" [loading]="loading">
        <ng-template pTemplate="header">
            <ng-container *ngIf="headerTpl">
                <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
            </ng-container>
            <tr>
                <th *ngIf="expandedrowTpl"></th>
                <th [style.width]="'50px'" class="text-center">#</th>
                <th *ngFor="let column of selectedColumns" [pSortableColumn]="column.field" [ngClass]="column.headerClass"
                    [style.width]="column.width">
                    <div *ngIf="column.field" class="flex flex-row align-items-center">
                        <span class="flex-1">{{ column.header }}</span>
                        @if (isSortable) {
                            <p-sortIcon [field]="column.field" class="flex flex-row align-items-center"/>
                        }
                        @if (isFilterable && column.field) {
                            <p-columnFilter *ngIf="filterType == 'menu'" [field]="column.field" display="menu"
                                            matchMode="contains"
                                            type="text"></p-columnFilter>
                        }
                    </div>
                    <div *ngIf="!column.field">
                        {{ column.header }}
                    </div>
                </th>
                <th *ngIf="operationTpl || onEdit.observed || onDelete.observed" width="10"></th>
            </tr>
            <tr *ngIf="filterType == 'inline' && isFilterable">
                <th *ngIf="expandedrowTpl"></th>
                <th class="text-center"></th>
                <th *ngFor="let column of selectedColumns">
                    @if (column.field) {
                        <p-columnFilter #cf (input)="cf.applyFilter()" [field]="column.field"
                                        [placeholder]="'Search by ' + column.header"
                                        matchMode="contains" type="text"></p-columnFilter>
                    }
                </th>
                <th *ngIf="operationTpl || onEdit.observed || onDelete.observed"></th>
            </tr>
        </ng-template>
        <ng-template #body let-expanded="expanded" let-item let-rowIndex="rowIndex">
            <ng-container *ngIf="bodyTpl">
                <ng-container
                    *ngTemplateOutlet="bodyTpl; context: {$implicit: item, rowIndex: rowIndex}"></ng-container>
            </ng-container>
            <tr>
                <td *ngIf="expandedrowTpl">
                    <p-button [icon]="expanded ? 'far fa-chevron-down' : 'far fa-chevron-left'" [pRowToggler]="item"
                              [plain]="true" [rounded]="true" [text]="true" pRipple
                              type="button"/>
                </td>
                <td class="text-center">{{ rowIndex + 1 }}</td>
                <ng-container *ngFor="let column of selectedColumns">
                    @if (column.template) {
                        <td [ngClass]="column.class">
                            <ng-container *ngTemplateOutlet="column.template; context: {$implicit: item, rowIndex: rowIndex}"></ng-container>
                        </td>
                    } @else {
                        <td [ngClass]="column.class" [innerHTML]="(column.render ? column.render(item) : (column.field ? item[column.field] : undefined))"></td>
                    }
                </ng-container>
                <td *ngIf="operationTpl || onEdit.observed || onDelete.observed">
                    <div class="flex flex-row flex-nowrap gap-2">
                        <ng-container *ngIf="operationTpl">
                            <ng-container
                                *ngTemplateOutlet="operationTpl; context: {$implicit: item}"></ng-container>
                        </ng-container>

                        <p-button (onClick)="onEdit.emit(item)" *ngIf="onEdit.observed"
                                  [pTooltip]="'custom-table.edit' | translate"
                                  icon="fal fa-pencil" severity="warn"
                                  tooltipPosition="bottom"/>

                        <p-button (onClick)="showDeleteDialog(item)" *ngIf="onDelete.observed"
                                  [pTooltip]="'custom-table.delete' | translate"
                                  icon="fal fa-trash-can" severity="danger"
                                  tooltipPosition="bottom"/>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-item>
            <ng-container *ngIf="expandedrowTpl">
                <ng-container *ngTemplateOutlet="expandedrowTpl; context: {$implicit: item}"></ng-container>
            </ng-container>
        </ng-template>
        <ng-template #emptymessage let-columns>
            <tr>
                <td colspan="100" class="no-data" style="height: 100%; padding: 3rem 0">
                    <div class="icon">
                        <i class="far fa-database"></i>
                    </div>
                    <div class="text">{{ 'custom-table.no-records-found' | translate }}</div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>

<p-custom-dialog [(visible)]="isDeleteDialogVisible" [header]="'custom-table.delete' | translate" size="xs">
    <ng-template>
        <div class="my-3">
            {{ 'custom-table.delete-message' | translate }}
        </div>
        <div class="flex flex-row gap-2">
            <p-button (click)="deleteItemApprove()" [label]="'confirm.yes-sure' | translate" icon="far fa-check"
                      iconPos="right" severity="danger"/>
            <p-button (click)="isDeleteDialogVisible = false" [label]="'confirm.cancel' | translate" icon="far fa-times"
                      iconPos="left" severity="secondary"/>
        </div>
    </ng-template>
</p-custom-dialog>
