:host {
    display: flex;
    flex-direction: column;

    --datatable-body-cell-padding: 0.8rem;
    --datatable-header-cell-padding: 0.7rem;

    .card-container {
        display: flex;
        padding: 1.2rem 1rem .1rem;
        flex-direction: column;
        background: var(--surface-0);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .caption-container {
        gap: .5rem;
        display: flex;
        justify-content: space-between;

        ::ng-deep {
            .p-button-label {
                @media (max-width: 700px) {
                    display: none;
                }
            }
        }

        .start,
        .end {
            gap: .5rem;
            display: flex;
            align-items: center;
        }

        .start,
        .end {
            &:not(:empty) {
                padding-bottom: .5rem;
            }
        }
    }

    .filter-row {
        --datatable-header-cell-padding: 0.05rem;

        ::ng-deep {
            p-columnfilter {
                --inputtext-padding-y: 0.6rem;

                .p-inputtext {
                    border: none;
                    border-radius: 0;
                    font-size: .8rem;
                }
            }
        }
    }

    &.xs {
        font-size: .8rem;
        --datatable-body-cell-padding: 0.2rem;
        --datatable-header-cell-padding: 0.5rem;
    }

    &.sm {
        font-size: .9rem;
        --datatable-body-cell-padding: 0.3rem;
        --datatable-header-cell-padding: 0.6rem;
    }

    &.md {
        font-size: 1rem;
        --datatable-body-cell-padding: 0.5rem;
        --datatable-header-cell-padding: 0.7rem;
    }

    &.lg {
        font-size: 1.1rem;
        --datatable-body-cell-padding: .7rem;
        --datatable-header-cell-padding: 0.8rem;
    }

    &.xl {
        font-size: 1.2rem;
        --datatable-body-cell-padding: 0.9rem;
        --datatable-header-cell-padding: 0.9rem;
    }

    ::ng-deep {

        p-card p-table {
            .p-paginator {
                padding-top: 1rem !important;
                padding-bottom: 0 !important;
            }
        }

        p-columnfilter {
            .p-inputtext {
                min-width: 80px;
                width: 100%;
            }


        }

        .p-datatable-sm {
            tr {
                height: 3rem;
            }
        }

        .p-datatable-lg {
            tr {
                height: 4rem;
            }
        }

        p-columnfilterformelement {
            flex: 1;
        }

        .p-datatable-inline-filter {
            position: relative;
            --icon-size: 1rem;
            justify-content: flex-end;
            --button-icon-only-width: 2rem;

            p-button {
                position: absolute;
                margin: 0 .5rem;
            }
        }
    }

    .columns-selection {
        flex: 1;
        max-width: 180px;
    }

    .operation-cell {
        padding: .3rem !important;
    }
}

p-table :host-context([dir=rtl]) {
    ::ng-deep {

        .p-datatable-tbody tr td:first-child,
        .p-datatable-thead tr th:first-child {
            border-inline-start-width: 1px !important;
        }

        // .p-datatable-tbody {
        //     tr:nth-child(even) {
        //         background-color: var(--surface-50);
        //     }
        // }
    }
}

.no-data {
    height: 100%;
    padding: 3rem 0;
    text-align: center;
    color: var(--surface-400);
    background-color: var(--surface-0);

    .top {
        display: flex;
        flex-direction: column;

        i {
            font-size: 6rem;
            line-height: 1.3em;
        }

        span {
            font-size: 2rem;
        }
    }

}