<div *ngIf="breadcrumb" class="mb-2">
    <p-breadcrumb [home]="{label: ''}" [model]="breadcrumb" class="max-w-full" />
</div>
<div [class.card-container]="showInCard">
    <div class="caption-container">
        <div class="start">
            <ng-container *ngIf="onReload.observed">
                <p-button (onClick)="onReload.emit()" [label]="'custom-table.reload' | translate" icon="fa fa-sync" iconPos="right" severity="primary" />
            </ng-container>
            <ng-container *ngIf="onAdd.observed && showAddButton">
                <p-button (onClick)="onAdd.emit()" icon="fa fa-plus" iconPos="right" severity="success"
                    [label]="'custom-table.add' | translate: {row: (name ?? ('custom-table.row' | translate))}" />
            </ng-container>
            <ng-container *ngIf="onGroupOperationClick.observed && selectedItems.length > 0">
                <p-button severity="secondary" iconPos="right" [label]="'custom-table.group-operation' | translate"
                    (click)="showGroupOperation(groupOperationMenu, $event)"></p-button>
            </ng-container>
            <ng-container *ngIf="captionTpl">
                <ng-container *ngTemplateOutlet="captionTpl"></ng-container>
            </ng-container>
        </div>
        <div class="end">
            <ng-container *ngIf="showColumnSelector">
                <p-multi-select class="columns-selection" display="chip" (onChange)="saveSelectedColumnState()" [(ngModel)]="selectedColumns" [options]="columns" display="chip"
                    optionLabel="header" [selectedItemsLabel]="'custom-table.selected-columns' | translate" [maxSelectedLabels]="0" appendTo="body"></p-multi-select>
            </ng-container>
            <ng-container *ngIf="showExportButton">
                <p-button (onClick)="exportToExcel()" [label]="'custom-table.export' | translate" icon="far fa-download" iconPos="right" severity="success" [outlined]="true" />
            </ng-container>
            <ng-container *ngIf="showResetButton && isStateChaged">
                <p-button (onClick)="resetState()" [label]="'custom-table.reset-state' | translate" icon="far fa-filter-slash" iconPos="right" severity="danger"
                    [outlined]="!isStateChaged" />
            </ng-container>
        </div>
    </div>
    <p-table #dt [showGridlines]="true" [showCurrentPageReport]="true" [stripedRows]="true" [rowHover]="true" [scrollable]="true" scrollHeight="flex" [stateStorage]="stateStorage"
        [stateKey]="uniqueStateKey" [currentPageReportTemplate]="'custom-table.current-page-report' | translate" [value]="value" [paginator]="true"
        [expandedRowKeys]="expandedRowKeys" [rowsPerPageOptions]="rowsPerPageOptions" [rows]="rows" [loading]="loading" [lazy]="lazyLoading" (onFilter)="filter($event)"
        (onRowExpand)="onRowExpandHandler($event)" [dataKey]="dataKey">
        <ng-template pTemplate="header">
            <ng-container *ngIf="headerTpl">
                <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
            </ng-container>
            <tr [ngClass]="headerClass" class="header-row">
                <th *ngIf="selectedItemsChange.observed" rowspan="2" [style.width]="'30px'" class="text-center">
                    <p-checkbox [ngModel]="selectedItems.length > 0" [binary]="true" (onChange)="onSelectAll($event.checked)" />
                </th>
                <th *ngIf="expandedrowTpl" rowspan="2" [style.width]="'30px'" class="text-center"></th>
                <th *ngIf="showRowNumber" rowspan="2" [style.width]="'40px'" class="text-center">#</th>
                <th *ngFor="let column of selectedColumns" [pSortableColumn]="column.field" [ngClass]="column.headerClass" [style.width]="column.width">
                    <div *ngIf="column.field" class="flex flex align-items-center">
                        <span class="flex-1">{{ column.header }}</span>
                        @if (isSortable) {
                        <p-sortIcon [field]="column.field" class="flex flex align-items-center" />
                        }
                        @if (isFilterable && column.field) {
                        <p-columnFilter *ngIf="filterType == 'menu'" [field]="column.field" display="menu" matchMode="contains" type="text"></p-columnFilter>
                        }
                    </div>
                    <div *ngIf="!column.field">
                        {{ column.header }}
                    </div>
                </th>
                <th *ngIf="operationTpl || onEdit.observed || onDelete.observed" width="10"></th>
            </tr>
            <tr *ngIf="filterType == 'inline' && isFilterable" class="filter-row">
                <th *ngFor="let column of selectedColumns">
                    @if (column.field) {
                    <p-columnFilter #cf (input)="cf.applyFilter()" [field]="column.field" [placeholder]="'custom-table.search' | translate" matchMode="contains"
                        type="text"></p-columnFilter>
                    }
                </th>
                <th *ngIf="operationTpl || onEdit.observed || onDelete.observed"></th>
            </tr>
        </ng-template>
        <ng-template #body let-expanded="expanded" let-item let-rowIndex="rowIndex" let-last="last">
            <ng-container *ngIf="bodyTpl">
                <ng-container *ngTemplateOutlet="bodyTpl; context: {$implicit: item, rowIndex: rowIndex}"></ng-container>
            </ng-container>
            <tr [ngClass]="rowClassField ? item[rowClassField] : ''" (mouseover)="onRowMouseOver.emit(item)">
                <td *ngIf="selectedItemsChange.observed">
                    <p-checkbox [ngModel]="selectedItems.includes(item)" [binary]="true" (ngModelChange)="onSelect(item, $event)" />
                </td>
                <td *ngIf="expandedrowTpl">
                    <p-button [icon]="expanded ? 'far fa-chevron-down' : 'far fa-chevron-left'" [pRowToggler]="item" [plain]="true" [rounded]="true" [text]="true" pRipple
                        type="button" size="small" />
                </td>
                <td *ngIf="showRowNumber" class="text-center">{{ rowIndex + 1 }}</td>
                <ng-container *ngFor="let column of selectedColumns">
                    @if (column.template) {
                    <td [ngClass]="[column.class ?? '', (column.classFunc ? column.classFunc(item) : '')]">
                        <ng-container *ngTemplateOutlet="column.template; context: {$implicit: item, rowIndex: rowIndex}"></ng-container>
                    </td>
                    } @else {
                    <td [ngClass]="[column.class ?? '', (column.classFunc ? column.classFunc(item) : '')]"
                        [innerHTML]="(column.render ? column.render(item) : (column.field ? item[column.field] : undefined))">
                    </td>
                    }
                </ng-container>
                <td *ngIf="operationTpl || onEdit.observed || onDelete.observed || onOperationClick.observed" class="operation-cell">
                    <div class="flex flex flex-nowrap gap-2">
                        <ng-container *ngIf="operationTpl">
                            <ng-container *ngTemplateOutlet="operationTpl; context: {$implicit: item}"></ng-container>
                        </ng-container>
                        @if (showEditButton) {
                        <p-button (onClick)="onEdit.emit(item)" *ngIf="onEdit.observed" [pTooltip]="'custom-table.edit' | translate" icon="fal fa-pencil" severity="warn"
                            tooltipPosition="bottom" [size]="operationSize" />
                        }
                        @if (showDeleteButton) {
                        <p-button (onClick)="showDeleteDialog(item)" *ngIf="onDelete.observed" [pTooltip]="'custom-table.delete' | translate" icon="fal fa-trash-can"
                            severity="danger" tooltipPosition="bottom" [size]="operationSize" />
                        }
                        @if (onOperationClick.observed) {
                        <p-button (onClick)="showOperationMenu(item, operationMenu, $event)" *ngIf="onOperationClick.observed" [pTooltip]="'custom-table.operation' | translate"
                            icon="far fa-ellipsis-v" severity="secondary" tooltipPosition="bottom" [size]="operationSize" />
                        }
                    </div>
                </td>
            </tr>
            <tr *ngIf="last">
                <td colspan="100" class="text-center" style="height: 100px;">

                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-item>
            <ng-container *ngIf="expandedrowTpl">
                <ng-container *ngTemplateOutlet="expandedrowTpl; context: {$implicit: item}"></ng-container>
            </ng-container>
        </ng-template>
        <ng-template #emptymessage let-columns>
            <tr *ngIf="showEmptyMessage">
                <td colspan="100" class="no-data">
                    <div class="flex flex-column align-items-center gap-2">
                        <div class="top">
                            <i class="fal fa-inbox"></i>
                            <span class="text">{{ 'custom-table.no-records-found' | translate: {row: (name ?? ('custom-table.rows' | translate))} }}</span>
                        </div>
                        @if (showAddButton) {
                        <div *ngIf="onAdd.observed">
                            <p-button (onClick)="onAdd.emit()" [label]="'custom-table.add-first' | translate: {row: (name ?? ('custom-table.row' | translate))}" icon="fa fa-plus"
                                iconPos="right" severity="secondary" />
                        </div>
                        }
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-menu #operationMenu [model]="operations" [popup]="true" appendTo="body" />
<p-menu #groupOperationMenu [model]="groupOperations" [popup]="true" appendTo="body"></p-menu>

<p-custom-dialog [(visible)]="isDeleteDialogVisible" [header]="'custom-table.delete' | translate" size="xs">
    <ng-template>
        <div class="my-3">
            {{ 'custom-table.delete-message' | translate }}
        </div>
        <div class="flex flex gap-2">
            <p-button class="w-full" (click)="deleteItemApprove()" [label]="'confirm.yes-sure' | translate" icon="far fa-check" iconPos="right" severity="danger" />
            <p-button class="w-full" (click)="isDeleteDialogVisible = false" [label]="'confirm.cancel' | translate" icon="far fa-times" iconPos="left" severity="secondary" />
        </div>
    </ng-template>
</p-custom-dialog>