:host {
  display: flex;
  flex-direction: column;

  .card-container {
    display: flex;
    padding: 1.2rem 1rem 0.1rem;
    flex-direction: column;
    background: var(--surface-0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .caption-container {
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;

    ::ng-deep {
      @media (max-width: 700px) {
        .p-button {
          aspect-ratio: 1/1;
        }

        .p-button-label {
          display: none;
        }
      }
    }

    .start,
    .end {
      gap: 0.5rem;
      display: flex;
      align-items: center;
    }

    .start,
    .end {
      &:not(:empty) {
        padding-bottom: 0.5rem;
      }
    }
  }

  .filter-row {
    --p-datatable-header-cell-padding: 0.05rem;

    ::ng-deep {
      th {
        padding: 0rem !important;
      }

      p-columnfilter {
        --p-inputtext-padding-y: 0.6rem;

        .p-inputtext {
          border: none;
          border-radius: 0;
          font-size: 0.8rem;
        }
      }
    }
  }

  &.xs {
    font-size: 0.8rem;
    --p-datatable-body-cell-padding: 0.2rem .3rem;
    --p-datatable-header-cell-padding: 0.2rem .4rem;
  }

  &.sm {
    font-size: 0.9rem;
    --p-datatable-body-cell-padding: 0.25rem .35rem;
    --p-datatable-header-cell-padding: 0.25rem .45rem;
  }

  &.md {
    font-size: 1rem;
    --p-datatable-body-cell-padding: 0.5rem .6rem;
    --p-datatable-header-cell-padding: 0.5rem .7rem;
  }

  &.lg {
    font-size: 1.1rem;
    --p-datatable-body-cell-padding: 0.75rem .85rem;
    --p-datatable-header-cell-padding: 0.75rem .95rem;
  }

  &.xl {
    font-size: 1.2rem;
    --p-datatable-body-cell-padding: 1rem 1.2rem;
    --p-datatable-header-cell-padding: 1rem 1.3rem;
  }

  ::ng-deep {
    p-card p-table .p-paginator {
      padding-top: 1rem !important;
      padding-bottom: 0 !important;
    }

    p-columnfilter .p-inputtext {
      width: 100%;
      min-width: 80px;
      position: relative;

      &:focus {
        z-index: 1;
      }
    }

    .p-datatable-sm tbody tr {
      height: 3rem;
    }

    .p-datatable-lg tbody tr {
      height: 4rem;
    }

    p-columnfilterformelement {
      flex: 1;
    }

    .p-datatable-inline-filter {
      position: relative;
      justify-content: flex-end;
      --p-icon-size: 0.8rem;
      --p-button-icon-only-width: 2rem;

      p-button {
        position: absolute;
        margin: 0 0.2em;
      }
    }
  }

  .columns-selection {
    flex: 1;
    max-width: 180px;
  }

  .operation-cell {
    padding: 0.3rem !important;
  }

  .footer-row th {
    padding: var(--p-datatable-header-cell-padding);
    background: var(--p-datatable-header-cell-background);
    border-color: var(--p-datatable-header-cell-border-color);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: var(--p-datatable-header-cell-color);
    font-weight: var(--p-datatable-column-title-font-weight);
    text-align: start;
  }
}

p-table :host-context([dir="rtl"]) {
  ::ng-deep {

    .p-datatable-tbody tr td:first-child,
    .p-datatable-thead tr th:first-child {
      border-inline-start-width: 1px !important;
    }

    // .p-datatable-tbody {
    //     tr:nth-child(even) {
    //         background-color: var(--surface-50);
    //     }
    // }
  }
}

.no-data {
  height: 100%;
  text-align: center;
  color: var(--surface-400);
  padding: 3rem 0 !important;
  background-color: var(--surface-0);

  .top {
    display: flex;
    align-items: center;
    flex-direction: column;

    i {
      font-size: 6rem;
      line-height: 1.3em;
    }

    span {
      font-size: 2rem;
    }
  }
}