:host {
    display: block;

    ::ng-deep {
        p-columnfilter {
            .p-inputtext {
                min-width: 100px;
                width: 100%;
            }
        }

        .p-datatable-sm {
            tr {
                height: 3rem;
            }
        }

        .p-datatable-lg {
            tr {
                height: 4rem;
            }
        }

        p-columnfilterformelement {
            flex: 1;
        }
    }

    .columns-selection {
        flex: 1;
        max-width: 350px;
    }
}

p-table :host-context([dir=rtl]) {
    ::ng-deep {
        .p-datatable-tbody tr td:first-child, .p-datatable-thead tr th:first-child {
            border-inline-start-width: 1px !important;
        }
    }
}

.no-data {
    text-align: center;
    color: var(--surface-400);

    .icon {
        font-size: 4rem;
    }

    .text {
        font-size: 2rem;
    }
}
