:host {
  z-index: 10000;

  &.fix {
    left: 0;
    right: 0;
    height: 0;
    display: flex;
    position: fixed;

    &.top-start,
    &.top-center,
    &.top-end {
      top: 0;
      align-items: start;
    }

    &.middle-start,
    &.middle-center,
    &.middle-end {
      top: 50%;
      align-items: center;
    }

    &.bottom-start,
    &.bottom-center,
    &.bottom-end {
      bottom: 0;
      align-items: flex-end;
    }

    &.top-start,
    &.middle-start,
    &.bottom-start {
      justify-content: flex-start;
    }

    &.top-center,
    &.middle-center,
    &.bottom-center {
      justify-content: center;
    }

    &.top-end,
    &.middle-end,
    &.bottom-end {
      justify-content: flex-end;
    }

  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 350px;
    list-style: none;
    align-content: stretch;
    flex-direction: column;

    li {
      padding: 0 .9em;
      &:first-child {
        padding-top: .7em;
      }
      &:last-child {
        padding-bottom: .7em;
      }
    }
  }
}
