$arrow-distance: 15%;
$max-distance: calc(100% - 1px);

.dev-tooltip-overlay {
  .overlay-container {
    .text {
      margin: 10px;
      padding: .3em .8em;
      position: relative;
      color: var(--color-white);
      border-radius: var(--radius-2);
      background-color: var(--color-component);

      &::after {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        border: 6px solid var(--color-component);
      }
    }

    &.top .text::after {
      top: $max-distance;
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    &.top-center .text::after {left: 50%;transform: translateX(-50%);}
    &.top-start.direction-ltr .text::after, &.top-end.direction-rtl .text::after {left: $arrow-distance;}
    &.top-end.direction-ltr .text::after, &.top-start.direction-rtl .text::after {right: $arrow-distance;}

    &.bottom .text::after {
      bottom: $max-distance;
      border-top: none;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    &.bottom-center .text::after {left: 50%;transform: translateX(-50%);}
    &.bottom-start.direction-ltr .text::after, &.bottom-end.direction-rtl .text::after {left: $arrow-distance;}
    &.bottom-end.direction-ltr .text::after, &.bottom-start.direction-rtl .text::after {right: $arrow-distance;}

    &.start.direction-ltr .text::after, &.end.direction-rtl .text::after {
      left: $max-distance;
      border-right: none;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    &.end.direction-ltr .text::after, &.start.direction-rtl .text::after {
      right: $max-distance;
      border-left: none;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
    &.start-center .text::after, &.end-center .text::after {top: 50%;transform: translateY(-50%);}
    &.start-top .text::after, &.end-top .text::after {top: $arrow-distance;}
    &.start-bottom .text::after, &.end-bottom .text::after {bottom: $arrow-distance;}
  }
}
