<div class="table-container" responsive>
  @if (captionTemplate) {
    <div class="caption">
      <ng-container *ngTemplateOutlet="captionTemplate; context: {}"></ng-container>
    </div>
  }
  <div class="data">
    <div class="data-table">
      <div class="gradient"></div>
      <table>
        @if (headerTemplate) {
          <thead>
            <ng-container *ngTemplateOutlet="headerTemplate; context: {}"></ng-container>
          </thead>
        }
        @if (filterTemplate) {
          <tbody class="main-tbody filter-box">
            <ng-container *ngTemplateOutlet="filterTemplate; context: {}"></ng-container>
          </tbody>
        }
        @for (item of renderedItems; track item; let index = $index) {
          @if (bodyTemplate) {
            <tbody (click)="config.onRowClick.next(item)"
              [ngClass]="{selected: item[config.selecting.key], expanded: !!item['rowExpanded']}"
              class="main-tbody">
                    <ng-container *ngTemplateOutlet="bodyTemplate; context: {
          $implicit: item,
          index: ((config.paging.size * config.paging.page) + index + 1)
        }"></ng-container>
              @if (detailTemplate && item['rowExpanded']) {
                <tr class="item-detail-box">
                  <td colspan="1000">
                    <ng-container *ngTemplateOutlet="detailTemplate; context: {$implicit: item}"></ng-container>
                  </td>
                </tr>
              }
            </tbody>
          }
        }
        <tbody class="flexible-table-height">
          <tr>
            <td colspan="1000">
              @if ((data.totalCount == 0)) {
                <div class="no-data"></div>
              }
            </td>
          </tr>
        </tbody>
        @if (footerTemplate) {
          <tfoot>
            <ng-container *ngTemplateOutlet="footerTemplate; context: {}"></ng-container>
          </tfoot>
        }
      </table>
    </div>
  </div>
  @if (config.paging.enable) {
    <div class="pagination">
      <div class="summary">
        @if (summaryTemplate) {
          <ng-container *ngTemplateOutlet="summaryTemplate; context: {}"></ng-container>
        }
      </div>
      <div class="paginator">
        <div class="current-page-report page-numbers-around"></div>
        <div class="page-numbers">
          <d-paginator (onChange)="onPageChange($event)" [pageSize]="config.paging.size" [page]="config.paging.page" [size]="size" [totalCount]="totalCount"></d-paginator>
        </div>
        <div class="page-row-count page-numbers-around">
          <d-select (ngModelChange)="onPageSizeChange()" [(ngModel)]="config.paging.size"
            [clearable]="false"
            [items]="config.paging.pageSizes"
            [searchable]="false"
            [size]="size"
            class="limit-select"
            name="pageRowCountControl">
          </d-select>
        </div>
      </div>
    </div>
  }
</div>
