<ng-template #itemsTpl let-cls="cls" let-items>
  <ul [ngClass]="cls">
    @for (item of items; track item) {
      <li (click)="onItemClick(item, $event)" [ngClass]="{selected: item.selected, droppable: item.value.droppable}">
        <div (drag)="onItemDrag(item)"
          (dragenter)="onDragEnter(item)" (dragover)="onDragOver(item, $event)"
          (drop)="onItemDrop(item)" [draggable]="draggable" class="data-item">
          <div (click)="onIconClick(item, $event)" class="icon">
            @if (item.children?.length) {
              @if (item.expanded) {
                <i [ngClass]="icons.expand" class="open"></i>
              }
              @if (!item.expanded) {
                <i [ngClass]="icons.collapse" class="close"></i>
              }
            } @else {
              <i [ngClass]="item.icon ?? icons.leaf" class="leaf"></i>
            }
          </div>
          @if (prependTemplate) {
            <div (click)="$event.stopPropagation()" class="prepend">
              <ng-container *ngTemplateOutlet="prependTemplate; context: {$implicit: item.value}"></ng-container>
            </div>
          }
          <div class="content">
            @if (itemTemplate) {
              <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item.value}"></ng-container>
            } @else {
              {{ item.value }}
            }
          </div>
          @if (appendTemplate) {
            <div (click)="$event.stopPropagation()" class="append">
              <ng-container *ngTemplateOutlet="appendTemplate; context: {$implicit: item.value}"></ng-container>
            </div>
          }
        </div>
        @if (item.children?.length && item.expanded) {
          <ng-container *ngTemplateOutlet="itemsTpl; context: {$implicit:item.children}"></ng-container>
        }
      </li>
    }
  </ul>
</ng-template>
<ng-container *ngTemplateOutlet="itemsTpl; context: {$implicit:roots, cls: 'root'}"></ng-container>
