@mixin selected-color {
  color: var(--color-primary-shade) !important;
  background-color: rgba(var(--color-primary-rgb), .1) !important;
}

@mixin shadow {
  box-shadow: 0 0 1px 0 var(--color-gray-6);
}
