<label *ngIf="showRange" class="min">{{ formatter(min) }}</label>
<div class="volume-box" #volumeBoxEl>
  <div class="value-bar" #valueBarEl>
    <a class="bullet start" *ngIf="mode == 'multiple'" (mousedown)="onDragStart($event, 'start')" (touchstart)="onDragStart($event, 'start')"></a>
    <span class="gap"></span>
    <a class="bullet end" (mousedown)="onDragStart($event, 'end')"></a>
  </div>
</div>
<label *ngIf="showRange" class="max">{{ formatter(max) }}</label>
<span *ngIf="showValue && orientation == 'horizontal'" class="value">{{ formatter(formControl.value) }}</span>
