:host {
    gap: .5em;
    user-select: none;
    position: relative;
    align-items: center;
    display: flex !important;
    direction: ltr !important;

    &.disabled {
        opacity: .4;
    }

    &.horizontal {
        width: 100%;
        padding: .5rem 0;

        &.ltr {
            .bullet {
                &.start {
                    left: 0;
                }

                &.end {
                    right: 0;
                }
            }
        }

        &.rtl {
            .bullet {
                &.start {
                    right: 0;
                }

                &.end {
                    left: 0;
                }
            }
        }

        .volume-box {
            height: .5rem;
        }

        .value-bar {
            top: 0;
            bottom: 0;
        }

        .bullet {
            &.start {
                margin-inline-start: -.75rem;
            }

            &.end {
                margin-inline-end: -.75rem;
            }
        }

        .min, .max {
            font-size: .9em;
        }

        .value {
            display: flex;
            font-size: 1.1em;
            font-weight: bold;
            align-items: center;
        }
    }

    &.vertical {
        height: 100%;
        padding: 0 .5rem;

        .volume-box {
            width: .5rem;
        }

        .value-bar {
            left: 0;
            right: 0;
            flex-direction: column;
        }

        .bullet {
            &.start {
                top: 0;
                margin-block-start: -.75rem;
            }

            &.end {
                bottom: 0;
                margin-block-end: -.75rem;
            }
        }
    }

    .volume-box {
        flex: 1;
        height: 100%;
        border-radius: 4px;
        position: relative;
        background-color: var(--color-gray--5);
    }

    .value-bar {
        display: flex;
        position: absolute;
        border-radius: 4px;
        align-items: center;
        background-color: var(--color-component);

        .bullet {
            width: 0;
            height: 0;
            cursor: grab;
            display: flex;
            padding: .6em;
            position: absolute;
            border-radius: 4px;
            background-color: var(--color-white);
            border: 2px solid var(--color-component);
        }
    }
}
