

[theme=default-dark] {

  // Colors
  --color-black: rgb(255, 255, 255);
  --color-black-rgb: 255, 255, 255;

  --color-white: rgb(30, 30, 30);
  --color-white-rgb: 51, 51, 51;


  --color-gray--0: #212226;
  --color-gray--1: #25272d;
  --color-gray--2: #2e3038;
  --color-gray--3: #34363f;
  --color-gray--4: #363a48;
  --color-gray--5: #394149;
  --color-gray--6: #474c59;
  --color-gray--7: #565b69;
  --color-gray--8: #646a77;
  --color-gray--9: #69707c;
  --color-gray--10: #767a88;

  --color-gray-10: #7c828d;
  --color-gray-9: #838891;
  --color-gray-8: #8c919f;
  --color-gray-7: #9fa3af;
  --color-gray-6: #a7acb9;
  --color-gray-5: #b3b7c2;
  --color-gray-4: #b6b9c5;
  --color-gray-3: #c1c5ce;
  --color-gray-2: #c8cbda;
  --color-gray-1: #d1d4e3;
  --color-gray-0: #e1e2ec;
}
