

[theme=default-light] {

  // Colors
  --color-black: #1d1d21;
  --color-black-rgb: 29, 29, 33;

  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;

  --color-gray--0: #fbfbfb;
  --color-gray--1: #f9f9f9;
  --color-gray--2: #f6f6f6;
  --color-gray--3: #f2f2f2;
  --color-gray--4: #eee;
  --color-gray--5: #e6e6e6;
  --color-gray--6: #ddd;
  --color-gray--7: #d6d6d6;
  --color-gray--8: #ccc;
  --color-gray--9: #c6c6c6;
  --color-gray--10: #b6b6b6;

  --color-gray-10: #888;
  --color-gray-9: #777;
  --color-gray-8: #666;
  --color-gray-7: #555;
  --color-gray-6: #444;
  --color-gray-5: #393941;
  --color-gray-4: #34343e;
  --color-gray-3: #313138;
  --color-gray-2: #28282f;
  --color-gray-1: #212128;
  --color-gray-0: #1c1c21;
}
