<div *ngIf="captionTemplate" class="caption">
  <ng-container *ngTemplateOutlet="captionTemplate.template; context: {}"></ng-container>
</div>
<div class="data">
  <div class="header">
    <table>
      <thead *ngIf="headerTemplate">
      <ng-container *ngTemplateOutlet="headerTemplate.template; context: {}"></ng-container>
      </thead>
      <thead *ngIf="filterTemplate">
      <ng-container *ngTemplateOutlet="filterTemplate.template; context: {$implicit: filters}"></ng-container>
      </thead>
    </table>
  </div>
  <div class="data-table">
    <table>
      <ng-container *ngFor="let item of renderedItems">
        <tbody *ngIf="bodyTemplate">
        <ng-container *ngTemplateOutlet="bodyTemplate.template; context: {$implicit: item}"></ng-container>
        <ng-container *ngIf="detailTemplate">
          <ng-container *ngTemplateOutlet="detailTemplate.template; context: {$implicit: item}"></ng-container>
        </ng-container>
        </tbody>
      </ng-container>
    </table>
  </div>
  <div class="footer">
    <table>
      <tfoot *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate.template; context: {}"></ng-container>
      </tfoot>
    </table>
  </div>
</div>
<div class="pagination" *ngIf="config.paging">
  <div class="pagination-start">
    <ng-container *ngIf="paginationStartTemplate">
      <ng-container *ngTemplateOutlet="paginationStartTemplate.template; context: {}"></ng-container>
    </ng-container>
  </div>
  <div class="pagination-center">
    <div class="current-page-report">
      {{config.paging.pageReportTemplate}}
    </div>
    <div class="page-numbers">
      <ul>
        <li *ngFor="let item of pageNumbers" [ngClass]="{active: (config.paging.page == item - 1)}"
            (click)="selectPage(item)">
          <ng-container *ngIf="item; else extraPagesTpl">
            {{item}}
          </ng-container>
          <ng-template #extraPagesTpl>
            ...
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="page-row-count">
      <dev-select [items]="config.paging.limits" [(ngModel)]="config.paging.limit" (ngModelChange)="render()"
                  name="pageRowCountControl"></dev-select>
    </div>
  </div>
  <div class="pagination-end">
    <ng-container *ngIf="paginationEndTemplate">
      <ng-container *ngTemplateOutlet="paginationEndTemplate.template; context: {}"></ng-container>
    </ng-container>
  </div>
</div>
<div *ngIf="summaryTemplate" class="summary">
  <ng-container *ngTemplateOutlet="summaryTemplate.template; context: {}"></ng-container>
</div>
