<div *ngIf="captionTemplate" class="caption">
  <ng-container *ngTemplateOutlet="captionTemplate; context: {}"></ng-container>
</div>
<div class="data">
  <!--  <div class="data-header">-->
  <!--    <table>-->
  <!--      <thead *ngIf="headerTemplate">-->
  <!--      <ng-container *ngTemplateOutlet="headerTemplate; context: {}"></ng-container>-->
  <!--      </thead>-->
  <!--      <thead *ngIf="filterTemplate">-->
  <!--      <ng-container *ngTemplateOutlet="filterTemplate; context: {$implicit: filters}"></ng-container>-->
  <!--      </thead>-->
  <!--    </table>-->
  <!--  </div>-->
  <div class="data-table">
    <table>
      <thead *ngIf="headerTemplate">
      <ng-container *ngTemplateOutlet="headerTemplate; context: {}"></ng-container>
      </thead>
      <ng-container *ngFor="let item of renderedItems">
        <tbody *ngIf="bodyTemplate" class="item-box"
               [ngClass]="{selected: item[config.selecting.key]}"
               (click)="onRowClick.emit(item)">
        <ng-container *ngTemplateOutlet="bodyTemplate; context: {$implicit: item}"></ng-container>
        </tbody>
        <tbody *ngIf="detailTemplate && item['rowExpanded']" class="item-detail-box">
        <tr>
          <td colspan="1000">
            <ng-container *ngTemplateOutlet="detailTemplate; context: {$implicit: item}"></ng-container>
          </td>
        </tr>
        </tbody>
      </ng-container>
      <tfoot *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate; context: {}"></ng-container>
      </tfoot>
      <tbody class="flexible-table-height">
      <tr>
        <td colspan="1000"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--  <div class="data-footer">-->
  <!--    <table>-->
  <!--      <tfoot *ngIf="footerTemplate">-->
  <!--      <ng-container *ngTemplateOutlet="footerTemplate; context: {}"></ng-container>-->
  <!--      </tfoot>-->
  <!--    </table>-->
  <!--  </div>-->
</div>
<div class="pagination" *ngIf="config.paging">
  <div class="pagination-start">
    <ng-container *ngIf="paginationStartTemplate">
      <ng-container *ngTemplateOutlet="paginationStartTemplate; context: {}"></ng-container>
    </ng-container>
  </div>
  <div class="paginator">
    <div class="current-page-report page-numbers-around">
      {{pageReportTemplate}}
    </div>
    <div class="page-numbers">
      <ul>
        <li *ngFor="let item of pageNumbers" [ngClass]="{active: (config.paging.page == item - 1)}"
            (click)="selectPage(item)">
          <ng-container *ngIf="item; else extraPagesTpl">
            {{item}}
          </ng-container>
          <ng-template #extraPagesTpl>
            ...
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="page-row-count page-numbers-around">
      <dev-select [items]="config.paging.limits"
                  [(ngModel)]="config.paging.limit"
                  (ngModelChange)="render()"
                  class="limit-select"
                  name="pageRowCountControl">
      </dev-select>
    </div>
  </div>
</div>
<div *ngIf="summaryTemplate" class="summary">
  <ng-container *ngTemplateOutlet="summaryTemplate; context: {}"></ng-container>
</div>
