:host {
  display: inline-block;
  border-radius: var(--radius-2);

  &.fill {
    color: var(--color-white);
    background-color: var(--color-component);
    &.disabled {color: rgba(var(--color-white-rgb), .8);}
  }
  &.outline {border: 1px solid var(--color-component);}
  &.text, &.outline {
    color: var(--color-component);
    &:hover {background-color: rgba(var(--color-component-rgb), .1);}
  }

  &.disabled {opacity: .5 !important;}
  &.text {background-color: var(--color-white);}
  &.outline {background-color: var(--color-white);}

  &.fill {
    &:hover {
      opacity: .8;
    }
  }

  &.icon-start {
    i {order: 1;}
  }

  .text {
    order: 5;
  }

  &.icon-end {
    i {order: 10;}
  }

  &.empty-content {
    .icon {
      margin: 0 !important;
    }
  }

  &.rounded {
    border-radius: 50%;

    &.empty-content {
      padding: 0;
      width: 2.7em;
      height: 2.7em;
    }

    &.has-content {
      border-radius: var(--radius-10);
    }
  }
  button {
    font-size: .9em;
    padding: .7em 1.1em;

    &.icon-start .icon {margin-inline-end: var(--size-3);}
    &.icon-end .icon {margin-inline-start: var(--size-3);}
  }

  .icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    animation: loading-width 500ms linear;
  }

  &.loading {

    .icon::before {
      animation: loading-spinner .8s linear infinite;
    }
  }
}

button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  color: inherit;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

@keyframes loading-width {
  0% {max-width: 0;}
  100% {max-width: 100px;}
}

@keyframes loading-spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
