:host {
  left: 0;
  right: 0;
  height: 0;
  z-index: 1000;
  display: flex;
  position: absolute;

  &.top-start, &.top-center, &.top-end {top: 0;align-items: flex-start;}
  &.middle-start, &.middle-center, &.middle-end {top: 50%;bottom: 50%;align-items: center;}
  &.bottom-start, &.bottom-center, &.bottom-end {bottom: 0;align-items: flex-end;}

  &.top-start, &.middle-start, &.bottom-start {justify-content: flex-start;}
  &.top-center, &.middle-center, &.bottom-center {justify-content: center;}
  &.top-end, &.middle-end, &.bottom-end {justify-content: flex-end;}

  &.dock {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}
