<div class="control-box">
  <div class="control-container flex-1">
    @if (icon && iconPos == 'start') {
      <i [ngClass]="icon" class="icon"></i>
    }
    <input #inputEl (blur)="blur()" (change)="renderValueControl()"
      (focus)="focus()" [dir]="dir" [ngClass]="classControl"
      [ngModel]="displayFormControl.value" [placeholder]="placeholder" [style.text-align]="textAlign" class="control"/>
      @if (icon && iconPos == 'end') {
        <i [ngClass]="icon" class="icon"></i>
      }
    </div>
    @if (clearable) {
      <div class="control-container">
        @if (displayFormControl.value) {
          <i (click)="clear()" class="clear far fa-times"></i>
        }
      </div>
    }
  </div>
  <ng-template #desktopTpl>
    <div (click)="onClick($event)" [ngClass]="pickerClasses" class="picker">
      <div class="day-picker">
        <div class="year-month">
          <div (mousedown)="showYears()" class="year">{{ selectedValue.year }}</div>
          <div (mousedown)="showMonths()" class="month">{{ selectedDate.format('MMMM') }}</div>
        </div>
        <div class="calendar">
          <div class="week-days">
            @for (weekDay of weekDays; track weekDay) {
              <div class="week-day">{{ weekDay }}</div>
            }
          </div>
          <div class="days">
            @for (date of dates; track date; let index = $index) {
              <div (mousedown)="selectDate(date)"
                [ngClass]="{active: date.isSelected,today: date.isToday,holiday: date.isHoliday,'this-month': date.isCurrentMonth}"
                class="day">
                <span>{{ date.day }}</span>
              </div>
            }
          </div>
        </div>
        <div (click)="selectDate(todayValue)" class="today-button">
          {{ ('today' | translate) }}
        </div>
      </div>
      <div [ngClass]="{show: (view == 'month')}" class="month-picker">
        @for (month of months; track month; let index = $index) {
          <div (click)="selectMonth(index)"
            [ngClass]="{active: (selectedValue.month == index)}" class="month">
            {{ month }}
          </div>
        }
      </div>
      <div #yearPickerEl [ngClass]="{show: (view == 'year')}" class="year-picker">
        @for (year of years; track year) {
          <div (click)="selectYear(year)" [ngClass]="{active: (selectedValue.year == year)}"
            class="year">
            {{ year }}
          </div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #mobileTpl let-dialog>
    <div class="mobile-view">
      <div class="preview">
        <span class="year">{{ selectedValue.year }}</span>
        <span class="month">{{ months[selectedValue.month] }}</span>
        <span class="day">{{ selectedValue.day }}</span>
        <span class="day">{{ selectedValue.dayOfWeakName }}</span>
      </div>
      <div #mobileViewDateEl class="date">
        <div class="days">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (day of days; track day) {
                <li (click)="setMobileItem({day: day})"
                  [ngClass]="{active: (day == selectedValue.day)}">{{ day }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="months">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (month of months; track month; let index = $index) {
                <li (click)="setMobileItem({month: index})"
                  [ngClass]="{active: (index == selectedValue.month)}">{{ month }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="years">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (year of years; track year) {
                <li (click)="setMobileItem({year: year})"
                  [ngClass]="{active: (year == selectedValue.year)}">{{ year }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="seconds">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (second of seconds; track second) {
                <li (click)="setMobileItem({second: second})"
                  [ngClass]="{active: (second == selectedValue.second)}">{{ second.toString().padStart(2, '0') }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="minutes">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (minute of minutes; track minute) {
                <li (click)="setMobileItem({minute: minute})"
                  [ngClass]="{active: (minute == selectedValue.minute)}">{{ minute.toString().padStart(2, '0') }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="hours">
          <div (scroll)="processMobileItems()" class="scroll-box">
            <ul>
              @for (hour of hours; track hour) {
                <li (click)="setMobileItem({hour: hour})"
                  [ngClass]="{active: (hour == selectedValue.hour)}">{{ hour.toString().padStart(2, '0') }}
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a (click)="selectMobileItem(dialog)" class="set color-primary flex-1">
          {{ 'select' | translate }}
        </a>
        <span></span>
        <a (click)="selectMobileItemToday()" class="cancel color-gray-8 flex-1">
          {{ 'today' | translate }}
        </a>
        <span></span>
        <a (click)="dialog.close()" class="cancel color-gray-8 flex-1">
          {{ 'cancel' | translate }}
        </a>
      </div>
    </div>
  </ng-template>
