@use "sass:math";

$animation: 200ms ease;

:host {
    overflow: auto;
    transition: opacity $animation;

    &.middle-center .dialog,
    &.top-start .dialog,
    &.bottom-start .dialog,
    &.top-end .dialog,
    &.bottom-end .dialog,
    &.top-start .dialog,
    &.bottom-start .dialog,
    &.top-end .dialog,
    &.bottom-end .dialog {
        animation: scale-in $animation;
    }

    &.direction-ltr.middle-start .dialog,
    &.direction-rtl.middle-end .dialog {
        animation: left-in $animation;
    }

    &.direction-rtl.middle-start .dialog,
    &.direction-ltr.middle-end .dialog {
        animation: right-in $animation;
    }

    &.top-center .dialog {
        animation: top-in $animation;
    }

    &.bottom-center .dialog {
        animation: bottom-in $animation;
    }

    &.closing {
        opacity: 0;

        &.middle-center .dialog,
        &.top-start .dialog,
        &.bottom-start .dialog,
        &.top-end .dialog,
        &.bottom-end .dialog,
        &.top-start .dialog,
        &.bottom-start .dialog,
        &.top-end .dialog,
        &.bottom-end .dialog {
            animation: scale-out $animation;
        }

        &.direction-ltr.middle-start .dialog,
        &.direction-rtl.middle-end .dialog {
            animation: left-out $animation;
        }

        &.direction-rtl.middle-start .dialog,
        &.direction-ltr.middle-end .dialog {
            animation: right-out $animation;
        }

        &.top-center .dialog {
            animation: top-out $animation;
        }

        &.bottom-center .dialog {
            animation: bottom-out $animation;
        }
    }

    &.top-start, &.top-center, &.top-end {
        align-items: flex-start;
    }

    &.middle-start, &.middle-center, &.middle-end {
        align-items: center;
    }

    &.bottom-start, &.bottom-center, &.bottom-end {
        align-items: flex-end;
    }

    &.top-start, &.middle-start, &.bottom-start {
        justify-content: flex-start;
    }

    &.top-center, &.middle-center, &.bottom-center {
        justify-content: center;
    }

    &.top-end, &.middle-end, &.bottom-end {
        justify-content: flex-end;
    }

    &.movable {

    }

    &.mask:not(.minimize) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
        position: absolute;
        background-color: rgba(var(--color-black-fix-rgb), 0.4);
    }

    &.maximize {
        transform: none;

        .dialog {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            border-radius: 0;
            max-width: 100% !important;
        }
    }

    &.minimize {
        z-index: 100;
        transform: none;
        position: relative;

        .dialog {
            bottom: 0;
            width: 20%;
            position: fixed;
            margin: 0 !important;
            border-radius: 0 !important;
            transition: all $animation !important;
            box-shadow: none !important;
        }

        .body {
            display: none;
        }
    }
}

.dialog {
    margin: .5rem;
    display: flex;
    overflow: auto;
    position: absolute;
    flex-direction: column;
    max-width: calc(100% - 1rem);
    border-radius: var(--radius-3);
    animation: scale-in 300ms linear;
    transition: transform $animation;
    background-color: var(--color-white);
    box-shadow: 0 1px 20px 0 rgba(var(--color-black-fix-rgb), .13);

    .header {
        top: 0;
        gap: .5rem;
        display: flex;
        z-index: 10000;
        position: sticky;
        padding: .8rem 1rem;
        align-items: center;
        background-color: inherit;
        border-bottom: 1px solid var(--color-gray--2);

        .header {
            flex: 1;
            display: flex;
            font-size: 1.5rem;
            padding: .3em .5em;
            overflow: hidden;
            font-weight: bold;
            align-items: center;
            //white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--color-gray-4);
        }

        .button {
            width: 2.2rem;
            height: 2.2rem;
            display: flex;
            cursor: pointer;
            font-size: 1.3rem;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: var(--color-gray-9);
            transition: all 100ms ease;

            &:hover {
                color: var(--color-gray-7);
                background-color: var(--color-gray--5);
            }

            i, i::before {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .body {
        flex: 1;
        padding: 1rem;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes top-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes right-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bottom-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

//=== Out ===\\
@keyframes scale-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes top-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes left-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes right-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes bottom-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
