:host {
  gap: .5rem;
  height: 2rem;
  display: flex;
  padding: .2rem .8rem;
  align-items: center;
  border-radius: var(--radius-2);
  color: var(--color-component-text);
  background-color: var(--color-component);

  &.rounded {
    border-radius: 3rem;
  }
}
