<ng-template #itemTpl let-item let-type="type">
  <div class="item" [ngClass]="'type-' + type">
    <ng-container *ngIf="optionTemplate; else elseTextTemplate">
      <ng-container *ngTemplateOutlet="optionTemplate; context: {$implicit: item}"></ng-container>
    </ng-container>
    <ng-template #elseTextTemplate>
      <span class="text">{{getText(item)}}</span>
      <ng-container *ngIf="mode == 'multiple' && type == 'value'">
        <i class="remove icons-core-close-circle" (click)="select(item, $event)"></i>
      </ng-container>
    </ng-template>
  </div>
</ng-template>

<div class="control-box">
  <div class="control-container selected-items-container flex-1">
    <ng-container *ngIf="selectedItems.length == 0; else hasSelectedItemTpl">
      <div class="full-absolute placeholder px-4" *ngIf="placeholder">
        {{placeholder}}
      </div>
    </ng-container>
    <ng-template #hasSelectedItemTpl>
      <div class="selected-items" [ngClass]="mode">
        <ng-container *ngIf="mode === 'single'">
          <ng-container
            *ngTemplateOutlet="itemTpl; context: {$implicit:selectedItems[0], type: 'value'}"></ng-container>
        </ng-container>
        <ng-container *ngIf="mode === 'multiple'">
          <ng-container *ngFor="let item of selectedItems">
            <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit:item, type: 'value'}"></ng-container>
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="clearable && mode == 'single'">
        <i class="remove icons-core-close" (click)="clear()"></i>
      </ng-container>
    </ng-template>
  </div>
  <div class="control-container icon-container">
    <ng-container *ngIf="loading; else arrowTpl">
      <div class="loading">
        <i class="icons-core-loader"></i>
      </div>
    </ng-container>
    <ng-template #arrowTpl>
      <div class="arrow"></div>
    </ng-template>
  </div>
</div>
<ng-template #itemsTpl>
  <div class="items-container" [ngClass]="size">
    <div class="filter-box" *ngIf="searchable && items.length > 10">
      <d-input [size]="size" [formControl]="searchFormControl" [placeholder]="searchPlaceHolder"/>
    </div>
    <div class="scroll-container" #itemsContainerEl>
      <ul class="items">
        <li *ngFor="let item of renderedItems" class="item" (click)="select(item, $event)"
            [ngClass]="{selected: item.selected, hovered: (hoveredItem == item)}">
          <ng-container *ngIf="mode == 'multiple'">
            <d-checkbox [size]="size" [ngModel]="item.selected"></d-checkbox>
          </ng-container>
          <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit:item, type: 'option'}"></ng-container>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
