<div class="control-box">
  <div class="control-container flex-1">
    <input class="control" #inputEl [ngModel]="formControl.value" [placeholder]="placeholder"
           (ngModelChange)="onInputChange($event)" (focus)="focus()" (blur)="blur()"/>
  </div>
  <div class="control-container">
    <i class="clear far fa-times" *ngIf="formControl.value" (click)="clear()"></i>
  </div>
</div>
<ng-template #pickerTpl>
  <div class="picker" [ngClass]="pickerClasses">
    <div class="day-picker">
      <div class="year-month">
        <div class="year" (mousedown)="showYears()">{{selectedValue.year}}</div>
        <div class="month" (mousedown)="showMonths()">{{selectedDate.format('MMMM')}}</div>
      </div>
      <div class="calendar">
        <div class="week-days">
          <div class="week-day" *ngFor="let weekDay of weekDays">{{weekDay}}</div>
        </div>
        <div class="days">
          <div class="day" *ngFor="let date of dates; let index = index" 
            [ngClass]="{active: date.isSelected,today: date.isToday,holiday: date.isHoliday,'this-month': date.isCurrentMonth}" 
            (mousedown)="selectDate(date)">
            <span>{{date.day}}</span>
          </div>
        </div>
      </div>
      <div class="today-button" (click)="selectDate(todayValue)">
        امروز
      </div>
    </div>
    <div class="month-picker" [ngClass]="{show: (view == 'month')}">
      <div class="month" *ngFor="let month of months;let index = index" [ngClass]="{
    active: (selectedValue.month == index)
  }" (click)="selectMonth(index)">
        {{month}}
      </div>
    </div>
    <div #yearPickerEl class="year-picker" [ngClass]="{show: (view == 'year')}">
      <div class="year" *ngFor="let year of years" (click)="selectYear(year)"
           [ngClass]="{active: (selectedValue.year == year)}">
        {{year}}
      </div>
    </div>
  </div>
</ng-template>
