<div class="level">
  <d-button-group class="w-100">
    <d-button [mode]="logLevel == LogLevel.Trace ? 'fill' : 'text'" color="secondary-tint" icon="far fa-arrow-progress" (click)="setLevel(LogLevel.Trace)">Trace</d-button>
    <d-button [mode]="logLevel == LogLevel.Debug ? 'fill' : 'text'" color="secondary" icon="far fa-bug" (click)="setLevel(LogLevel.Debug)">Debug</d-button>
    <d-button [mode]="logLevel == LogLevel.Information ? 'fill' : 'text'" color="link" icon="far fa-info-circle" (click)="setLevel(LogLevel.Information)">Information</d-button>
    <d-button [mode]="logLevel == LogLevel.Warning ? 'fill' : 'text'" color="warning" icon="far fa-warning" (click)="setLevel(LogLevel.Warning)">Warning</d-button>
    <d-button [mode]="logLevel == LogLevel.Error ? 'fill' : 'text'" color="danger" icon="far fa-times-circle" (click)="setLevel(LogLevel.Error)">Error</d-button>
    <d-button [mode]="logLevel == LogLevel.Critical ? 'fill' : 'text'" color="danger-shade" icon="far fa-times-hexagon" (click)="setLevel(LogLevel.Critical)">Critical</d-button>
  </d-button-group>
</div>
<div class="logs">
  <div class="log-container">
    <ng-container *ngIf="!loadingService.loading; else shimmerTpl">
      <div class="log" *ngFor="let item of itemsFiltered">
        <div class="head">
          <ng-container [ngSwitch]="item.level">
            <i *ngSwitchCase="LogLevel.Trace" class="color-secondary far fa-arrow-progress"></i>
            <i *ngSwitchCase="LogLevel.Debug" class="color-secondary far fa-bug"></i>
            <i *ngSwitchCase="LogLevel.Information" class="color-link far fa-info-circle"></i>
            <i *ngSwitchCase="LogLevel.Warning" class="color-warning far fa-warning"></i>
            <i *ngSwitchCase="LogLevel.Error" class="color-danger far fa-times-circle"></i>
            <i *ngSwitchCase="LogLevel.Critical" class="color-danger-shade far fa-times-hexagon"></i>
          </ng-container>
          <span>{{ item.message }}</span>
        </div>
        <textarea *ngIf="item.stackTrace">{{ item.stackTrace }}</textarea>
      </div>
    </ng-container>
    <ng-template #shimmerTpl>
      <div class="flex-column flex-gap-2">
        <d-shimmer ratio="50%:2"></d-shimmer>
        <d-shimmer ratio="70%:2"></d-shimmer>
        <d-shimmer ratio="80%:2"></d-shimmer>
        <d-shimmer ratio="30%:2"></d-shimmer>
        <d-shimmer ratio="20%:2"></d-shimmer>
        <d-shimmer ratio="60%:2"></d-shimmer>
        <d-shimmer ratio="50%:2"></d-shimmer>
        <d-shimmer ratio="40%:2"></d-shimmer>
      </div>
    </ng-template>
  </div>
</div>
<div class="paginator">
  <d-button icon="far fa-angle-right" (click)="prev()">Prev</d-button>
  <span>{{ page + 1 }} / {{pageCount + 1}}</span>
  <d-button icon="far fa-angle-left" iconPos="end" (click)="next()">Next</d-button>
</div>
