<ul class="tab-list">
  @for (tab of tabsTemplates; track tab) {
    <li (click)="setTab(tab)" [class]="(tab == activeTab ? 'active' : '')" [ngClass]="tab.classes">
      @if (tab.icon) {
        <i [ngClass]="tab.icon"></i>
      }
      <span>{{ tab.header }}</span>
    </li>
  }
</ul>
<div class="tab-container">
  @if (activeTab) {
    @if (!activeTab.noContent) {
      <div>
        <ng-container *ngTemplateOutlet="activeTab.template; context: {$implicit: activeTab}"></ng-container>
      </div>
    }
  }
</div>
