

[theme=default-dark] {

  // Colors
  --color-black: rgb(255, 255, 255);
  --color-black-rgb: 255, 255, 255;

  --color-white: rgb(30, 30, 30);
  --color-white-rgb: 51, 51, 51;

  --color-gray--0: #1E1E1EFF;
  --color-gray--1: #232323;
  --color-gray--2: #272727;
  --color-gray--3: #2c2c2c;
  --color-gray--4: #313131;
  --color-gray--5: #373737;
  --color-gray--6: #3b3b3b;
  --color-gray--7: #414141;
  --color-gray--8: #474747;
  --color-gray--9: #4a4a4a;
  --color-gray--10: #505050;

  --color-gray-10: #555;
  --color-gray-9: #666;
  --color-gray-8: #777;
  --color-gray-7: #888;
  --color-gray-6: #999;
  --color-gray-5: #aaa;
  --color-gray-4: #bbb;
  --color-gray-3: #ccc;
  --color-gray-2: #ddd;
  --color-gray-1: #eee;
  --color-gray-0: #fff;
}
