:host {
  display: flex;
  justify-content: stretch;

  .tab-list {
    margin: 0;
    padding: 0;
    z-index: 10;
    display: flex;
    list-style: none;
    position: relative;
    white-space: nowrap;
    justify-content: stretch;

    li {
      gap: .5em;
      display: flex;
      cursor: pointer;
      padding: .8em 1.2em;
      align-items: center;
      color: var(--color-gray-7);

      &.active {
        color: var(--color-primary);
      }

      i {
        opacity: .7;
      }

      &:hover {
        background-color: var(--color-gray--2);
      }
    }
  }

  &.horizontal {
    flex-direction: column;

    .tab-list {
      flex-direction: row;

      li {

        &.active {
          box-shadow: 0 3px 0 0 var(--color-component);
        }
      }
    }

    .tab-container {
      border-top: 1px solid var(--color-gray--6);
    }
  }

  &.vertical {
    flex-direction: row;

    .tab-list {
      flex-direction: column;
    }

    &.direction-ltr .tab-list li.active {
      box-shadow: 3px 0 0 0 var(--color-component);
    }

    &.direction-rtl .tab-list li.active {
      box-shadow: -3px 0 0 0 var(--color-component);
    }

    .tab-container {
      border-inline-start: 1px solid var(--color-gray--6);
    }

  }

  .tab-container {
    padding: 1em;
  }
}
