:host {
  display: flex;
  justify-content: stretch;

  &.header-fill {
    .tab-list li {
      flex: 1;
    }
  }

  .tab-list {
    margin: 0;
    padding: 0;
    z-index: 10;
    display: flex;
    overflow: auto;
    list-style: none;
    position: relative;
    white-space: nowrap;
    justify-content: stretch;
    background-color: var(--color-white);

    li {
      gap: .5rem;
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: .8rem 1.2rem;
      justify-content: center;
      color: var(--color-gray-7);

      &.active {
        color: var(--color-primary);
      }

      i {
        opacity: .7;
      }

      &:hover {
        background-color: var(--color-gray--2);
      }
    }
  }

  &.horizontal {
    flex-direction: column;

    .tab-list {
      flex-direction: row;

      li {

        &.active {
          box-shadow: inset 0 -3px 0px -1px var(--color-component);
        }
      }
    }

    .tab-container {
      border-top: 1px solid var(--color-gray--4);
    }
  }

  &.vertical {
    flex-direction: row;

    .tab-list {
      flex-direction: column;
    }

    &.direction-ltr .tab-list li.active {
      box-shadow: 3px 0 0 0 var(--color-component);
    }

    &.direction-rtl .tab-list li.active {
      box-shadow: -3px 0 0 0 var(--color-component);
    }

    .tab-container {
      border-inline-start: 1px solid var(--color-gray--6);
    }

  }

  .tab-container {
    flex: 1;
    padding: 1rem;
    overflow: auto;
  }
}
