<div class="control-box">
    <div [style.max-height]="maxHeight" class="control-container flex-1">
        <div *ngFor="let item of formControl.value; let index = index" class="item">
            <span class="text">{{ item }}</span>
            <i (click)="remove(index)" class="remove icons-core-close-circle"></i>
        </div>
        <input #inputEl (blur)="blur()" (focus)="focus()" (keydown)="onInputKeyDown($event)"
               (ngModelChange)="onValueChange()" [(ngModel)]="value" [placeholder]="placeholder" class="control"/>
    </div>
</div>
