@import "../../../assets/styles/mixin";

@mixin selected-row {
  @include selected-color;

  td {
    border-inline-end: 1px solid rgba(var(--color-primary-rgb), 0.15) !important;
  }

  ::ng-deep {
    tr, & + tbody tr {
      border-top: 1px solid rgba(var(--color-primary-rgb), 0.2) !important;
    }
  }
}

$border-color: rgba(var(--color-black-rgb), .05);

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.has-scroll .data-table ::ng-deep table > tbody:last-child {
    td, th {
      border-bottom: none;
    }
  }

  &.table-striped ::ng-deep {
    table {
      .main-tbody:nth-child(2n+1) {
        background-color: var(--color-gray--1);
      }

      .main-tbody:nth-child(2n) {
        background-color: var(--color-white);
      }
    }
  }

  &.table-bordered ::ng-deep {

    table {
      thead, tfoot {
        th:not(:last-child) {border-inline-end: 1px solid $border-color;}
      }

      .main-tbody:nth-child(2n+1) {
        td:not(:last-child) {border-inline-end: 1px solid $border-color;}
      }

      .main-tbody:nth-child(2n) {
        td:not(:last-child) {border-inline-end: 1px solid $border-color;}
      }
    }
  }

  &.hovered ::ng-deep {
    table {
      .main-tbody {
        cursor: pointer;

        &:hover {
          @include selected-row;
        }
      }
    }
  }

  .filter-box td {
    padding: 0 !important;
  }
}

.caption {
  padding: .8rem 0;
  border-style: solid;
  border-width: 1px 1px 0;
  border-color: var(--color-gray--4);
}

.data {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  &.loading {

    &::before, &::after {
      content: '';
      z-index: 100;
      position: absolute;
    }

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(var(--color-black-rgb), .05);
    }

    &::after {
      $size: 4rem;
      width: $size;
      height: $size;
      border-radius: 50%;
      top: calc(50% - $size);
      left: calc(50% - $size);
      border-width: .5rem;
      border-style: solid;
      animation: spinner 1s linear infinite;
      border-color: transparent var(--color-gray-7) var(--color-gray-7);
    }
  }

  .scroll-container {
    height: 100%;
    overflow-y: scroll;
    text-align: justify;
    transition: margin-inline-end 300ms ease;
  }

  .data-header, .data-footer {
    border: 1px solid $border-color;
    background-color: var(--color-gray--4);
  }

  .data-header {
  }

  .data-table {
    flex: 1;
    overflow: auto;
    position: relative;
    border-radius: var(--radius-2);
    background-color: var(--color-white);
    border: 1px solid $border-color;

    &.no-data {
      background-size: auto 35%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./images/empty.png);
    }
  }

  .footer {

  }

  ::ng-deep {

    .data-table {

      table {
        width: 100%;
        min-height: 100%;
        border-collapse: collapse;
        color: var(--color-gray-4);

        tr {
          background-color: inherit;
        }

        td, th {
          padding: .5rem .5rem;
        }

        th {
          font-weight: bold;
          text-align: justify;

          &.sortable {
            cursor: pointer;

            &:hover {
              background-color: var(--color-gray--4);
              .sort-icon::before {
                opacity: 1 !important;
              }
            }

            .sort-icon {
              padding: .4rem .5rem;
            }

            &:not(.sort-dir) {
              .sort-icon::before {
                font-family: "Font Awesome 6 Pro";
                opacity: .4;
                content: '\e099';
                font-style: normal;
              }
            }
            &.sort-dir.asc .sort-icon::before {
              font-family: "Font Awesome 6 Pro";
              content: '\f884';
              font-style: normal;
            }
            &.sort-dir.desc .sort-icon::before {
              font-family: "Font Awesome 6 Pro";
              content: '\f161';
              font-style: normal;
            }
          }
        }

        thead {top: 0;}
        tfoot {bottom: -1px;}
        thead, tfoot {
          z-index: 10;
          height: 3.5rem;
          position: sticky;
          background-color: var(--color-gray--2);

          tr {
            position: relative;
          }
        }

        tbody {
          height: 3rem;

          &.selected {
            @include selected-row;
          }
        }
      }

      tbody tr {
        border-top: 1px solid var(--color-gray--2);
      }

      table > tbody:first-child {
        td, th {
          border-top: none;
        }
      }

      .flexible-table-height {
        height: auto;
      }
    }
  }

  ::ng-deep {
    .sticky-column-start, .sticky-column-end {
      position: sticky;
      background-color: inherit !important;

      &::before {
        top: 0;
        bottom: 0;
        content: '';
        position: absolute;
        border-inline-start: 1px solid $border-color;
      }
    }
  }

  :host-context([dir=ltr]) {
    ::ng-deep {
      .sticky-column-start {
        left: 0;
        &::before {
          right: 0;
        }
      }

      .sticky-column-end {
        right: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  :host-context([dir=rtl]) {
    ::ng-deep {
      .sticky-column-start {
        right: 0;
        &::before {
          left: 0;
        }
      }

      .sticky-column-end {
        left: 0;
        &::before {
          right: 0;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: var(--color-gray--4);

  .summary {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .paginator {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    .current-page-report {
      text-align: end;
      white-space: nowrap;
      color: var(--color-gray-8);
    }

    .page-numbers {
      padding: 0 2rem;
    }

    .page-row-count {
      width: 100px;
    }
  }
}
