@import "../../../assets/styles/mixin";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.has-scroll .data-table ::ng-deep table > tbody:last-child {
    td, th {
      border-bottom: none;
    }
  }

  &.table-striped ::ng-deep {
    table {
      .item-box:nth-child(2n+1) {
        background-color: var(--color-gray--1);
      }

      .item-box:nth-child(2n) {
        background-color: var(--color-white);
      }
    }
  }

  &.table-bordered ::ng-deep {

    table {
      thead,tfoot {
        th:not(:last-child) {border-inline-end: 1px solid var(--color-gray--5);}
      }

      .item-box:nth-child(2n+1) {
        td:not(:last-child) {border-inline-end: 1px solid var(--color-gray--5);}
      }

      .item-box:nth-child(2n) {
        td:not(:last-child) {border-inline-end: 1px solid var(--color-gray--3);}
      }
    }
  }

  &.selectable ::ng-deep {
    table {
      .item-box {
        cursor: pointer;

        &:hover {
          background-color: var(--color-gray--2);
        }
      }
    }
  }
}

.caption {
  padding: .8em 0;
}

.data {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  &.loading {

    &::before, &::after {
      content: '';
      z-index: 100;
      position: absolute;
    }

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(var(--color-black-rgb), .3);
    }

    &::after {
      $size: 4em;
      width: $size;
      height: $size;
      border-radius: 50%;
      top: calc(50% - $size);
      left: calc(50% - $size);
      border-width: .5em;
      border-style: solid;
      animation: spinner 1s linear infinite;
      border-color: transparent var(--color-white) var(--color-white);
    }

    @keyframes spinner {
      0% {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
    }
  }

  .scroll-container {
    height: 100%;
    overflow-y: scroll;
    text-align: justify;
    transition: margin-inline-end 300ms ease;
  }

  .data-header, .data-footer {
    border: 1px solid var(--color-gray--2);
    background-color: var(--color-gray--4);
  }

  .data-header {
  }

  .data-table {
    flex: 1;
    overflow: auto;
    position: relative;
    border-radius: var(--radius-2);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray--4);

    &.no-data {
      background-size: auto 35%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./images/empty.png);
    }

    .scroll-container {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .footer {

  }

  ::ng-deep {

    .data-table {

      table {
        width: 100%;
        min-height: 100%;
        border-collapse: collapse;
        color: var(--color-gray-4);

        td, th {
          padding: .5em .5em;
        }

        th {
          font-weight: normal;
          text-align: justify;

          &.sortable {
            cursor: pointer;

            &:hover {
              background-color: var(--color-gray--4);
              .sort-icon::before {
                opacity: 1 !important;
              }
            }

            .sort-icon {
              padding: .4em .5em;
            }

            &:not(.sort-dir) {
              .sort-icon::before {
                font-family: "Font Awesome 6 Pro";
                opacity: .4;
                content: '\e099';
                font-style: normal;
              }
            }
            &.sort-dir.asc .sort-icon::before {
              font-family: "Font Awesome 6 Pro";
              content: '\f884';
              font-style: normal;
            }
            &.sort-dir.desc .sort-icon::before {
              font-family: "Font Awesome 6 Pro";
              content: '\f161';
              font-style: normal;
            }
          }
        }

        thead, tfoot {
          height: 3.5em;
          position: sticky;
          background-color: var(--color-gray--2);

          tr {
            position: relative;
          }
        }

        tbody {
          height: 3em;

          &.selected {
            @include selected-color;

            td {
              border-inline-end: 1px solid rgba(var(--color-primary-rgb), 0.15) !important;
            }

            ::ng-deep {
              tr, & + tbody tr {
                border-top: 1px solid rgba(var(--color-primary-rgb), 0.15) !important;
              }
            }
          }
        }
      }

      tbody tr {
        border-top: 1px solid var(--color-gray--2);
      }

      table > tbody:first-child {
        td, th {
          border-top: none;
        }
      }

      .flexible-table-height {
        height: auto;
      }
    }
  }
}

.pagination {
  display: flex;
  padding: .5em;

  .pagination-start {
    flex: 1;
  }

  .paginator {
    display: flex;
    align-items: center;

    .current-page-report {
      text-align: end;
      white-space: nowrap;
      color: var(--color-gray-8);
    }

    .page-numbers {
      padding: 0 2em;
    }

    .page-row-count {
      width: 100px;
    }
  }
}
