@import "../../../../../assets/styles/mixin";

:host {
  display: inline-flex;
  align-items: center;

  i {
    transition: transform 300ms ease;
  }

  &.expanded {
    i {
      transform: rotate(90deg);
    }
  }
}

:host-context([dir=rtl]) {

  i {
    transform: rotate(180deg);
  }
}

.icon-box {
  padding: 5px 7px;
  cursor: pointer;

  i {
    opacity: .4;
  }

  &.active {
    opacity: 1;
  }
}

.overlay-box {
  width: 200px;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: var(--color-white);
  animation: overlay-open 300ms ease;
  @include shadow;

  .operation {
    padding: 8px;
    background-color: var(--color-gray--1);
    border-bottom: 1px solid var(--color-gray--3);
  }

  .value-box {
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  d-select {
    background-color: var(--color-white);
  }
}

@keyframes overlay-open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 300px;
  }
}
