<div class="icon-box" [ngClass]="{active: (!!valueControl.value)}" (click)="openFilterOverlay($event)">
  <i class="icons-core-filter" #filterIconEl></i>
</div>
<div *ngIf="!overlay && template">
  <ng-container *ngTemplateOutlet="template; context: {$implicit: this, control: valueControl}">
  </ng-container>
</div>

<ng-template #overlayTpl>
  <div>
    <div class="overlay-box">
      <div class="operation">
        <d-select [items]="operations" [formControl]="operationControl" valueField="key"
                    textField="value"></d-select>
      </div>
      <div class="value-box" *ngIf="overlay && template">
        <ng-container *ngTemplateOutlet="template; context: {$implicit: this, control: valueControl}">
        </ng-container>
      </div>
      <div class="">

      </div>
    </div>
  </div>
</ng-template>
