<div class="control-box">
    <div class="control-container flex-1">
        <i *ngIf="icon && iconPos == 'start'" [ngClass]="icon" class="icon"></i>
        <input #inputEl (blur)="blur()" (change)="renderValueControl()"
               (focus)="focus()" [dir]="dir" [ngClass]="classControl"
               [ngModel]="displayFormControl.value" [placeholder]="placeholder" [style.text-align]="textAlign" class="control"/>
        <i *ngIf="icon && iconPos == 'end'" [ngClass]="icon" class="icon"></i>
    </div>
    <div *ngIf="clearable" class="control-container">
        <i (click)="clear()" *ngIf="displayFormControl.value" class="clear icons-core-close"></i>
    </div>
</div>
<ng-template #desktopTpl>
    <div (click)="onClick($event)" [ngClass]="pickerClasses" class="picker">
        <div class="day-picker">
            <div class="year-month">
                <div (mousedown)="showYears()" class="year">{{ selectedValue.year }}</div>
                <div (mousedown)="showMonths()" class="month">{{ selectedDate.format('MMMM') }}</div>
            </div>
            <div class="calendar">
                <div class="week-days">
                    <div *ngFor="let weekDay of weekDays" class="week-day">{{ weekDay }}</div>
                </div>
                <div class="days">
                    <div (mousedown)="selectDate(date)" *ngFor="let date of dates; let index = index"
                         [ngClass]="{active: date.isSelected,today: date.isToday,holiday: date.isHoliday,'this-month': date.isCurrentMonth}"
                         class="day">
                        <span>{{ date.day }}</span>
                    </div>
                </div>
            </div>
            <div (click)="selectDate(todayValue)" class="today-button">
                {{ ('today' | translate) }}
            </div>
        </div>
        <div [ngClass]="{show: (view == 'month')}" class="month-picker">
            <div (click)="selectMonth(index)" *ngFor="let month of months;let index = index"
                 [ngClass]="{active: (selectedValue.month == index)}" class="month">
                {{ month }}
            </div>
        </div>
        <div #yearPickerEl [ngClass]="{show: (view == 'year')}" class="year-picker">
            <div (click)="selectYear(year)" *ngFor="let year of years" [ngClass]="{active: (selectedValue.year == year)}"
                 class="year">
                {{ year }}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #mobileTpl let-dialog>
    <div class="mobile-view">
        <div class="preview">
            <span class="year">{{ selectedValue.year }}</span>
            <span class="month">{{ months[selectedValue.month] }}</span>
            <span class="day">{{ selectedValue.day }}</span>
            <span class="day">{{ selectedValue.dayOfWeakName }}</span>
        </div>
        <div #mobileViewDateEl class="date">
            <div class="days">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({day: day})" *ngFor="let day of days"
                            [ngClass]="{active: (day == selectedValue.day)}">{{ day }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="months">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({month: index})" *ngFor="let month of months; let index = index"
                            [ngClass]="{active: (index == selectedValue.month)}">{{ month }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="years">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({year: year})" *ngFor="let year of years"
                            [ngClass]="{active: (year == selectedValue.year)}">{{ year }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="seconds">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({second: second})" *ngFor="let second of seconds"
                            [ngClass]="{active: (second == selectedValue.second)}">{{ second.toString().padStart(2, '0') }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="minutes">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({minute: minute})" *ngFor="let minute of minutes"
                            [ngClass]="{active: (minute == selectedValue.minute)}">{{ minute.toString().padStart(2, '0') }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hours">
                <div (scroll)="processMobileItems()" class="scroll-box">
                    <ul>
                        <li (click)="setMobileItem({hour: hour})" *ngFor="let hour of hours"
                            [ngClass]="{active: (hour == selectedValue.hour)}">{{ hour.toString().padStart(2, '0') }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttons">
            <a (click)="selectMobileItem(dialog)" class="set color-primary flex-1">
                {{ 'select' | translate }}
            </a>
            <span></span>
            <a (click)="selectMobileItemToday()" class="cancel color-gray-8 flex-1">
                {{ 'today' | translate }}
            </a>
            <span></span>
            <a (click)="dialog.close()" class="cancel color-gray-8 flex-1">
                {{ 'cancel' | translate }}
            </a>
        </div>
    </div>
</ng-template>
