<div [dOverlay]="{template: validationBoxTpl, verticalThreshold: 10, autoClose: true}" class="control-box">
  @if (prependTemplate) {
    <div class="side-box start-box">
      <ng-container *ngTemplateOutlet="prependTemplate"></ng-container>
    </div>
  }
  <div class="control-box-container">
    <ng-content></ng-content>
    @if (label || labelTemplate) {
      <label [ngClass]="labelMode" class="label-box">
        @if (labelTemplate) {
          <ng-container *ngTemplateOutlet="labelTemplate; context: {label: label}"></ng-container>
        } @else {
          {{ label }}
          @if (isRequired) {
            <span class="required">*</span>
          }
        }
      </label>
    }
  </div>
  @if (appendTemplate) {
    <div class="side-box end-box">
      <ng-container *ngTemplateOutlet="appendTemplate"></ng-container>
    </div>
  }
</div>
<ng-template #validationBoxTpl>
  @if (focused && formControl.dirty) {
    <div class="control-group-below-box">
      @if (errors.length) {
        <ul class="validation-box">
          @for (error of errors; track error) {
            <li>
              <span>{{ error.message }}</span>
              @if (!focused && errors.length > 1) {
                <span>{{ errors.length - 1 }}</span>
                <span>more errors</span>
              }
            </li>
          }
        </ul>
      } @else {
        @if (hint) {
          <div class="hint-box">
            {{ hint }}
          </div>
        }
      }
    </div>
  }
</ng-template>
