:host {
  padding: .5rem;
  display: block;
  color: var(--color-component);

  &.vertical-lines {
    ul ul::before {
      top: 0;
      bottom: 0;
      content: '';
      width: .05rem;
      position: absolute;
      background-color: var(--color-gray--4);
    }
  }
}

ul {
  overflow: hidden;
  list-style: none;
  position: relative;
  transition: all 300ms ease;

  &.root {
    margin: 0;
    padding: 0;
  }

  ul {
    padding-inline-start: 1.7rem;
  }

  li {

    &.droppable > .data-item {
      box-shadow: inset 0 0 0 1px rgba(var(--color-component-rgb), .4);
    }

    .data-item {
      gap: .3rem;
      display: flex;
      cursor: pointer;
      padding: .4rem .6rem;
      position: relative;
      align-items: stretch;
      justify-content: stretch;
      border-bottom: 1px solid var(--color-gray--2);

      &:hover {
        background-color: var(--color-gray--2);
      }

      > div {
        display: flex;
        align-items: center;
      }

      .icon {
        min-width: 2rem;
        justify-content: center;
      }

      .content {
        flex: 1;
      }
    }

    &.selected {
      > .data-item {
        color: var(--color-component);
        background-color: rgba(var(--color-component-rgb), 0.07);
      }
    }

    &:not(.expanded) > ul {
      max-height: 0 !important;
    }
  }
}

:host-context([dir=rtl]) {
  .icons-core-angle-right {
    transform: scaleX(-1);
  }
}
