:host {
  display: flex;
  max-width: 100%;
  position: relative;

  &.focused {
    z-index: 100;

    .control-box {
      border-color: var(--color-primary-tint);
      box-shadow: 0 0 0 .1em rgba(var(--color-primary-rgb), 1);

      &.fill {
        box-shadow: none;
        border-color: var(--color-gray--7);
      }
    }
  }

  ::ng-deep .control {
    padding-inline: 1em !important;
  }

  &.xxs, &.xs {
    .control-box {
      border-radius: var(--radius-2);
    }
  }
}

.control-box {
  cursor: text;
  display: flex;
  font-size: 1em;
  min-width: 100%;
  position: relative;
  align-items: stretch;
  border-radius: var(--radius-2);
  border: 1px solid var(--color-gray--3);
  background-color: var(--color-gray--2);

  .control-container {
    display: flex;
    min-height: 3em;
    position: relative;
    align-items: center;
  }

  .full-absolute {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: inherit;
    position: absolute;
    align-items: center;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }

    > * {
      position: absolute;
    }
  }

  .arrow {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-9);
    background-color: inherit;

    &::before {
      content: '▼';
      font-size: .8rem;
    }
  }

  .end {
    justify-content: flex-end;
  }

  .placeholder {
    color: var(--color-gray-7);
  }

  .control {
    flex: 1;
    width: 100%;
    border: none;
    cursor: text;
    outline: none;
    font-size: inherit;
    padding: .3rem 0;
    position: relative;
    color: var(--color-gray-4);
    background-color: transparent;
    transition: background-color 99999s ease-in-out 0s;
  }
}

.icon-container {
  padding: 0 1em;
}
