<div class="control-box">
  <div class="control-container flex-1">
    <ng-container *ngIf="show">
      <input #inputEl class="control" type="text" [ngModel]="formControl.value" [placeholder]="placeholder"
             (ngModelChange)="formControl.setValue($event)" (focus)="focus()" (blur)="blur()"/>
    </ng-container>
    <ng-container *ngIf="!show">
      <input #inputEl class="control" type="password" [ngModel]="formControl.value" [placeholder]="placeholder"
             (ngModelChange)="formControl.setValue($event)" (focus)="focus()" (blur)="blur()"/>
    </ng-container>
  </div>
  <div class="control-container" *ngIf="visible">
    <div class="eye" (click)="show = !show">
      <i class="far" [ngClass]="(show ? 'fa-eye-slash' : 'fa-eye')"></i>
    </div>
  </div>
</div>

<ng-template #meterTpl>
  <div class="progress-box">
    <div class="progress-bar"></div>
  </div>
</ng-template>
