@use "sass:math";

:host {
    display: flex;
    flex-direction: column;
}

.steps {
    margin: 0 0 .5rem;
    display: flex;
    list-style: none;
    padding: 1rem 0 3rem;
    align-items: center;
    border-radius: 6px;
    background-color: var(--color-white);

    $size: 4rem;

    .step {
        flex: 1;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .lines {
            top: 50%;
            left: 0;
            right: 0;
            display: flex;
            position: absolute;
            transform: translateY(-50%);

            &::before, &::after {
                flex: 1;
                height: 2px;
                content: '';
                display: block;
                background-color: var(--color-gray--7);
            }
        }

        .step-content {
            z-index: 10;
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            justify-content: center;


            .image {
                width: $size;
                height: $size;
                display: flex;
                font-size: 2rem;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: var(--color-white);
                border: 2px solid var(--color-gray--7);

                img {
                    max-width: 60%;
                }
            }

            .icon {
                font-size: 2em;
                color: var(--color-gray-3);
            }

            .circle {
                display: flex;
                padding: .6rem;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: var(--color-white);
                border: 2px solid var(--color-primary);
            }
        }

        .header {
            left: 0;
            right: 0;
            position: absolute;
            text-align: center;
            top: calc(100% + .5rem);
            color: var(--color-gray-5);
        }

        &.done {
            .lines::before, .lines::after {
                background-color: var(--color-success);
            }

            .step-content {
                .circle {
                    border-color: var(--color-success);
                }
            }
        }

        &.active {

            .lines::before {
                background-color: var(--color-primary);
            }
        }
    }
}

.content {
    flex: 1;
}
