@if (showNavigation) {
  <ul class="steps">
    @for (step of steps; track step; let index = $index) {
      <li (click)="goto(step, index)" [ngClass]="{done: index < activeStepIndex, active: index == activeStepIndex}"
        class="step">
        <div class="lines"></div>
        <div class="step-content">
          <div class="circle">
            @if (step.icon) {
              <i [ngClass]="step.icon" class="icon"></i>
            }
            @if (step.image) {
              <img [alt]="step.text" [src]="step.image" class="image" fill/>
            }
          </div>
        </div>
        <div class="title">{{ step.text }}</div>
      </li>
    }
  </ul>
}
<div class="content">
  @if (activeStep) {
    <ng-container *ngTemplateOutlet="activeStep.template"></ng-container>
  }
</div>
