<div (touchend)="remove()" class="message">
  @if (contentTemplate) {
    <ng-container *ngTemplateOutlet="contentTemplate; context: {$implicit: item}"></ng-container>
  } @else {
    @if (item.icon) {
      <div class="icon-box">
        <i [ngClass]="item.icon"></i>
      </div>
    }
    <div class="content">
      @if (item.title) {
        <div class="title">
          {{ item.title }}
        </div>
      }
      @if (item.body) {
        <div class="body">
          {{ item.body }}
        </div>
      }
    </div>
    @if (item.showTimeString && timer) {
      <div class="timer-box">
        {{ (timer / 1000).toFixed(2) }}s
      </div>
    }
    @if (item.removable) {
      <div (click)="remove()" class="remove-box">
        <i class="far fa-times"></i>
      </div>
    }
  }
</div>
<div class="progress"></div>
