.fade-scale-vertical {
  animation: fade-scale-vertical 250ms ease;
}

@keyframes fade-scale-vertical {
  0% {
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    overflow: hidden;
    transform: scaleY(1);
  }
}
.fade {
  animation: fade 250ms ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-control {
  width: 100%;
  border: none;
  padding: 5px;
  outline: none;
  box-shadow: 0 0 1px 0 var(--color-gray-6);
}

.mx-0 {
  margin-inline-start: var(--size-0) !important;
  margin-inline-end: var(--size-0) !important;
}

.mx-1 {
  margin-inline-start: var(--size-1) !important;
  margin-inline-end: var(--size-1) !important;
}

.mx-2 {
  margin-inline-start: var(--size-2) !important;
  margin-inline-end: var(--size-2) !important;
}

.mx-3 {
  margin-inline-start: var(--size-3) !important;
  margin-inline-end: var(--size-3) !important;
}

.mx-4 {
  margin-inline-start: var(--size-4) !important;
  margin-inline-end: var(--size-4) !important;
}

.mx-5 {
  margin-inline-start: var(--size-5) !important;
  margin-inline-end: var(--size-5) !important;
}

.mx-6 {
  margin-inline-start: var(--size-6) !important;
  margin-inline-end: var(--size-6) !important;
}

.mx-7 {
  margin-inline-start: var(--size-7) !important;
  margin-inline-end: var(--size-7) !important;
}

.mx-8 {
  margin-inline-start: var(--size-8) !important;
  margin-inline-end: var(--size-8) !important;
}

.mx-9 {
  margin-inline-start: var(--size-9) !important;
  margin-inline-end: var(--size-9) !important;
}

.mx-10 {
  margin-inline-start: var(--size-10) !important;
  margin-inline-end: var(--size-10) !important;
}

.mxs-0 {
  margin-inline-start: var(--size-0) !important;
}

.mxs-1 {
  margin-inline-start: var(--size-1) !important;
}

.mxs-2 {
  margin-inline-start: var(--size-2) !important;
}

.mxs-3 {
  margin-inline-start: var(--size-3) !important;
}

.mxs-4 {
  margin-inline-start: var(--size-4) !important;
}

.mxs-5 {
  margin-inline-start: var(--size-5) !important;
}

.mxs-6 {
  margin-inline-start: var(--size-6) !important;
}

.mxs-7 {
  margin-inline-start: var(--size-7) !important;
}

.mxs-8 {
  margin-inline-start: var(--size-8) !important;
}

.mxs-9 {
  margin-inline-start: var(--size-9) !important;
}

.mxs-10 {
  margin-inline-start: var(--size-10) !important;
}

.mxe-0 {
  margin-inline-end: var(--size-0) !important;
}

.mxe-1 {
  margin-inline-end: var(--size-1) !important;
}

.mxe-2 {
  margin-inline-end: var(--size-2) !important;
}

.mxe-3 {
  margin-inline-end: var(--size-3) !important;
}

.mxe-4 {
  margin-inline-end: var(--size-4) !important;
}

.mxe-5 {
  margin-inline-end: var(--size-5) !important;
}

.mxe-6 {
  margin-inline-end: var(--size-6) !important;
}

.mxe-7 {
  margin-inline-end: var(--size-7) !important;
}

.mxe-8 {
  margin-inline-end: var(--size-8) !important;
}

.mxe-9 {
  margin-inline-end: var(--size-9) !important;
}

.mxe-10 {
  margin-inline-end: var(--size-10) !important;
}

.my-0 {
  margin-block-start: var(--size-0) !important;
  margin-block-end: var(--size-0) !important;
}

.my-1 {
  margin-block-start: var(--size-1) !important;
  margin-block-end: var(--size-1) !important;
}

.my-2 {
  margin-block-start: var(--size-2) !important;
  margin-block-end: var(--size-2) !important;
}

.my-3 {
  margin-block-start: var(--size-3) !important;
  margin-block-end: var(--size-3) !important;
}

.my-4 {
  margin-block-start: var(--size-4) !important;
  margin-block-end: var(--size-4) !important;
}

.my-5 {
  margin-block-start: var(--size-5) !important;
  margin-block-end: var(--size-5) !important;
}

.my-6 {
  margin-block-start: var(--size-6) !important;
  margin-block-end: var(--size-6) !important;
}

.my-7 {
  margin-block-start: var(--size-7) !important;
  margin-block-end: var(--size-7) !important;
}

.my-8 {
  margin-block-start: var(--size-8) !important;
  margin-block-end: var(--size-8) !important;
}

.my-9 {
  margin-block-start: var(--size-9) !important;
  margin-block-end: var(--size-9) !important;
}

.my-10 {
  margin-block-start: var(--size-10) !important;
  margin-block-end: var(--size-10) !important;
}

.mys-0 {
  margin-block-start: var(--size-0) !important;
}

.mys-1 {
  margin-block-start: var(--size-1) !important;
}

.mys-2 {
  margin-block-start: var(--size-2) !important;
}

.mys-3 {
  margin-block-start: var(--size-3) !important;
}

.mys-4 {
  margin-block-start: var(--size-4) !important;
}

.mys-5 {
  margin-block-start: var(--size-5) !important;
}

.mys-6 {
  margin-block-start: var(--size-6) !important;
}

.mys-7 {
  margin-block-start: var(--size-7) !important;
}

.mys-8 {
  margin-block-start: var(--size-8) !important;
}

.mys-9 {
  margin-block-start: var(--size-9) !important;
}

.mys-10 {
  margin-block-start: var(--size-10) !important;
}

.mye-0 {
  margin-block-end: var(--size-0) !important;
}

.mye-1 {
  margin-block-end: var(--size-1) !important;
}

.mye-2 {
  margin-block-end: var(--size-2) !important;
}

.mye-3 {
  margin-block-end: var(--size-3) !important;
}

.mye-4 {
  margin-block-end: var(--size-4) !important;
}

.mye-5 {
  margin-block-end: var(--size-5) !important;
}

.mye-6 {
  margin-block-end: var(--size-6) !important;
}

.mye-7 {
  margin-block-end: var(--size-7) !important;
}

.mye-8 {
  margin-block-end: var(--size-8) !important;
}

.mye-9 {
  margin-block-end: var(--size-9) !important;
}

.mye-10 {
  margin-block-end: var(--size-10) !important;
}

.ml-0 {
  margin-left: var(--size-0) !important;
}

.ml-1 {
  margin-left: var(--size-1) !important;
}

.ml-2 {
  margin-left: var(--size-2) !important;
}

.ml-3 {
  margin-left: var(--size-3) !important;
}

.ml-4 {
  margin-left: var(--size-4) !important;
}

.ml-5 {
  margin-left: var(--size-5) !important;
}

.ml-6 {
  margin-left: var(--size-6) !important;
}

.ml-7 {
  margin-left: var(--size-7) !important;
}

.ml-8 {
  margin-left: var(--size-8) !important;
}

.ml-9 {
  margin-left: var(--size-9) !important;
}

.ml-10 {
  margin-left: var(--size-10) !important;
}

.mr-0 {
  margin-right: var(--size-0) !important;
}

.mr-1 {
  margin-right: var(--size-1) !important;
}

.mr-2 {
  margin-right: var(--size-2) !important;
}

.mr-3 {
  margin-right: var(--size-3) !important;
}

.mr-4 {
  margin-right: var(--size-4) !important;
}

.mr-5 {
  margin-right: var(--size-5) !important;
}

.mr-6 {
  margin-right: var(--size-6) !important;
}

.mr-7 {
  margin-right: var(--size-7) !important;
}

.mr-8 {
  margin-right: var(--size-8) !important;
}

.mr-9 {
  margin-right: var(--size-9) !important;
}

.mr-10 {
  margin-right: var(--size-10) !important;
}

.mt-0 {
  margin-top: var(--size-0) !important;
}

.mt-1 {
  margin-top: var(--size-1) !important;
}

.mt-2 {
  margin-top: var(--size-2) !important;
}

.mt-3 {
  margin-top: var(--size-3) !important;
}

.mt-4 {
  margin-top: var(--size-4) !important;
}

.mt-5 {
  margin-top: var(--size-5) !important;
}

.mt-6 {
  margin-top: var(--size-6) !important;
}

.mt-7 {
  margin-top: var(--size-7) !important;
}

.mt-8 {
  margin-top: var(--size-8) !important;
}

.mt-9 {
  margin-top: var(--size-9) !important;
}

.mt-10 {
  margin-top: var(--size-10) !important;
}

.mb-0 {
  margin-bottom: var(--size-0) !important;
}

.mb-1 {
  margin-bottom: var(--size-1) !important;
}

.mb-2 {
  margin-bottom: var(--size-2) !important;
}

.mb-3 {
  margin-bottom: var(--size-3) !important;
}

.mb-4 {
  margin-bottom: var(--size-4) !important;
}

.mb-5 {
  margin-bottom: var(--size-5) !important;
}

.mb-6 {
  margin-bottom: var(--size-6) !important;
}

.mb-7 {
  margin-bottom: var(--size-7) !important;
}

.mb-8 {
  margin-bottom: var(--size-8) !important;
}

.mb-9 {
  margin-bottom: var(--size-9) !important;
}

.mb-10 {
  margin-bottom: var(--size-10) !important;
}

.px-0 {
  padding-inline-start: var(--size-0) !important;
  padding-inline-end: var(--size-0) !important;
}

.px-1 {
  padding-inline-start: var(--size-1) !important;
  padding-inline-end: var(--size-1) !important;
}

.px-2 {
  padding-inline-start: var(--size-2) !important;
  padding-inline-end: var(--size-2) !important;
}

.px-3 {
  padding-inline-start: var(--size-3) !important;
  padding-inline-end: var(--size-3) !important;
}

.px-4 {
  padding-inline-start: var(--size-4) !important;
  padding-inline-end: var(--size-4) !important;
}

.px-5 {
  padding-inline-start: var(--size-5) !important;
  padding-inline-end: var(--size-5) !important;
}

.px-6 {
  padding-inline-start: var(--size-6) !important;
  padding-inline-end: var(--size-6) !important;
}

.px-7 {
  padding-inline-start: var(--size-7) !important;
  padding-inline-end: var(--size-7) !important;
}

.px-8 {
  padding-inline-start: var(--size-8) !important;
  padding-inline-end: var(--size-8) !important;
}

.px-9 {
  padding-inline-start: var(--size-9) !important;
  padding-inline-end: var(--size-9) !important;
}

.px-10 {
  padding-inline-start: var(--size-10) !important;
  padding-inline-end: var(--size-10) !important;
}

.pxs-0 {
  padding-inline-start: var(--size-0) !important;
}

.pxs-1 {
  padding-inline-start: var(--size-1) !important;
}

.pxs-2 {
  padding-inline-start: var(--size-2) !important;
}

.pxs-3 {
  padding-inline-start: var(--size-3) !important;
}

.pxs-4 {
  padding-inline-start: var(--size-4) !important;
}

.pxs-5 {
  padding-inline-start: var(--size-5) !important;
}

.pxs-6 {
  padding-inline-start: var(--size-6) !important;
}

.pxs-7 {
  padding-inline-start: var(--size-7) !important;
}

.pxs-8 {
  padding-inline-start: var(--size-8) !important;
}

.pxs-9 {
  padding-inline-start: var(--size-9) !important;
}

.pxs-10 {
  padding-inline-start: var(--size-10) !important;
}

.pxe-0 {
  padding-inline-end: var(--size-0) !important;
}

.pxe-1 {
  padding-inline-end: var(--size-1) !important;
}

.pxe-2 {
  padding-inline-end: var(--size-2) !important;
}

.pxe-3 {
  padding-inline-end: var(--size-3) !important;
}

.pxe-4 {
  padding-inline-end: var(--size-4) !important;
}

.pxe-5 {
  padding-inline-end: var(--size-5) !important;
}

.pxe-6 {
  padding-inline-end: var(--size-6) !important;
}

.pxe-7 {
  padding-inline-end: var(--size-7) !important;
}

.pxe-8 {
  padding-inline-end: var(--size-8) !important;
}

.pxe-9 {
  padding-inline-end: var(--size-9) !important;
}

.pxe-10 {
  padding-inline-end: var(--size-10) !important;
}

.py-0 {
  padding-block-start: var(--size-0) !important;
  padding-block-end: var(--size-0) !important;
}

.py-1 {
  padding-block-start: var(--size-1) !important;
  padding-block-end: var(--size-1) !important;
}

.py-2 {
  padding-block-start: var(--size-2) !important;
  padding-block-end: var(--size-2) !important;
}

.py-3 {
  padding-block-start: var(--size-3) !important;
  padding-block-end: var(--size-3) !important;
}

.py-4 {
  padding-block-start: var(--size-4) !important;
  padding-block-end: var(--size-4) !important;
}

.py-5 {
  padding-block-start: var(--size-5) !important;
  padding-block-end: var(--size-5) !important;
}

.py-6 {
  padding-block-start: var(--size-6) !important;
  padding-block-end: var(--size-6) !important;
}

.py-7 {
  padding-block-start: var(--size-7) !important;
  padding-block-end: var(--size-7) !important;
}

.py-8 {
  padding-block-start: var(--size-8) !important;
  padding-block-end: var(--size-8) !important;
}

.py-9 {
  padding-block-start: var(--size-9) !important;
  padding-block-end: var(--size-9) !important;
}

.py-10 {
  padding-block-start: var(--size-10) !important;
  padding-block-end: var(--size-10) !important;
}

.pys-0 {
  padding-block-start: var(--size-0) !important;
}

.pys-1 {
  padding-block-start: var(--size-1) !important;
}

.pys-2 {
  padding-block-start: var(--size-2) !important;
}

.pys-3 {
  padding-block-start: var(--size-3) !important;
}

.pys-4 {
  padding-block-start: var(--size-4) !important;
}

.pys-5 {
  padding-block-start: var(--size-5) !important;
}

.pys-6 {
  padding-block-start: var(--size-6) !important;
}

.pys-7 {
  padding-block-start: var(--size-7) !important;
}

.pys-8 {
  padding-block-start: var(--size-8) !important;
}

.pys-9 {
  padding-block-start: var(--size-9) !important;
}

.pys-10 {
  padding-block-start: var(--size-10) !important;
}

.pye-0 {
  padding-block-end: var(--size-0) !important;
}

.pye-1 {
  padding-block-end: var(--size-1) !important;
}

.pye-2 {
  padding-block-end: var(--size-2) !important;
}

.pye-3 {
  padding-block-end: var(--size-3) !important;
}

.pye-4 {
  padding-block-end: var(--size-4) !important;
}

.pye-5 {
  padding-block-end: var(--size-5) !important;
}

.pye-6 {
  padding-block-end: var(--size-6) !important;
}

.pye-7 {
  padding-block-end: var(--size-7) !important;
}

.pye-8 {
  padding-block-end: var(--size-8) !important;
}

.pye-9 {
  padding-block-end: var(--size-9) !important;
}

.pye-10 {
  padding-block-end: var(--size-10) !important;
}

.pl-0 {
  padding-left: var(--size-0) !important;
}

.pl-1 {
  padding-left: var(--size-1) !important;
}

.pl-2 {
  padding-left: var(--size-2) !important;
}

.pl-3 {
  padding-left: var(--size-3) !important;
}

.pl-4 {
  padding-left: var(--size-4) !important;
}

.pl-5 {
  padding-left: var(--size-5) !important;
}

.pl-6 {
  padding-left: var(--size-6) !important;
}

.pl-7 {
  padding-left: var(--size-7) !important;
}

.pl-8 {
  padding-left: var(--size-8) !important;
}

.pl-9 {
  padding-left: var(--size-9) !important;
}

.pl-10 {
  padding-left: var(--size-10) !important;
}

.pr-0 {
  padding-right: var(--size-0) !important;
}

.pr-1 {
  padding-right: var(--size-1) !important;
}

.pr-2 {
  padding-right: var(--size-2) !important;
}

.pr-3 {
  padding-right: var(--size-3) !important;
}

.pr-4 {
  padding-right: var(--size-4) !important;
}

.pr-5 {
  padding-right: var(--size-5) !important;
}

.pr-6 {
  padding-right: var(--size-6) !important;
}

.pr-7 {
  padding-right: var(--size-7) !important;
}

.pr-8 {
  padding-right: var(--size-8) !important;
}

.pr-9 {
  padding-right: var(--size-9) !important;
}

.pr-10 {
  padding-right: var(--size-10) !important;
}

.pt-0 {
  padding-top: var(--size-0) !important;
}

.pt-1 {
  padding-top: var(--size-1) !important;
}

.pt-2 {
  padding-top: var(--size-2) !important;
}

.pt-3 {
  padding-top: var(--size-3) !important;
}

.pt-4 {
  padding-top: var(--size-4) !important;
}

.pt-5 {
  padding-top: var(--size-5) !important;
}

.pt-6 {
  padding-top: var(--size-6) !important;
}

.pt-7 {
  padding-top: var(--size-7) !important;
}

.pt-8 {
  padding-top: var(--size-8) !important;
}

.pt-9 {
  padding-top: var(--size-9) !important;
}

.pt-10 {
  padding-top: var(--size-10) !important;
}

.pb-0 {
  padding-bottom: var(--size-0) !important;
}

.pb-1 {
  padding-bottom: var(--size-1) !important;
}

.pb-2 {
  padding-bottom: var(--size-2) !important;
}

.pb-3 {
  padding-bottom: var(--size-3) !important;
}

.pb-4 {
  padding-bottom: var(--size-4) !important;
}

.pb-5 {
  padding-bottom: var(--size-5) !important;
}

.pb-6 {
  padding-bottom: var(--size-6) !important;
}

.pb-7 {
  padding-bottom: var(--size-7) !important;
}

.pb-8 {
  padding-bottom: var(--size-8) !important;
}

.pb-9 {
  padding-bottom: var(--size-9) !important;
}

.pb-10 {
  padding-bottom: var(--size-10) !important;
}

.xxs {
  font-size: var(--font-size-xxs) !important;
}

.xs {
  font-size: var(--font-size-xs) !important;
}

.sm {
  font-size: var(--font-size-sm) !important;
}

.md {
  font-size: var(--font-size-md) !important;
}

.lg {
  font-size: var(--font-size-lg) !important;
}

.xl {
  font-size: var(--font-size-xl) !important;
}

.xxl {
  font-size: var(--font-size-xxl) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-tint {
  background-color: var(--color-primary-tint) !important;
}

.bg-primary-shade {
  background-color: var(--color-primary-shade) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-secondary-tint {
  background-color: var(--color-secondary-tint) !important;
}

.bg-secondary-shade {
  background-color: var(--color-secondary-shade) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bg-success-tint {
  background-color: var(--color-success-tint) !important;
}

.bg-success-shade {
  background-color: var(--color-success-shade) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}

.bg-warning-tint {
  background-color: var(--color-warning-tint) !important;
}

.bg-warning-shade {
  background-color: var(--color-warning-shade) !important;
}

.bg-danger {
  background-color: var(--color-danger) !important;
}

.bg-danger-tint {
  background-color: var(--color-danger-tint) !important;
}

.bg-danger-shade {
  background-color: var(--color-danger-shade) !important;
}

.bg-link {
  background-color: var(--color-link) !important;
}

.bg-link-tint {
  background-color: var(--color-link-tint) !important;
}

.bg-link-shade {
  background-color: var(--color-link-shade) !important;
}

.bg-gray-0 {
  background-color: var(--color-gray-0) !important;
}

.bg-gray-1 {
  background-color: var(--color-gray-1) !important;
}

.bg-gray-2 {
  background-color: var(--color-gray-2) !important;
}

.bg-gray-3 {
  background-color: var(--color-gray-3) !important;
}

.bg-gray-4 {
  background-color: var(--color-gray-4) !important;
}

.bg-gray-5 {
  background-color: var(--color-gray-5) !important;
}

.bg-gray-6 {
  background-color: var(--color-gray-6) !important;
}

.bg-gray-7 {
  background-color: var(--color-gray-7) !important;
}

.bg-gray-8 {
  background-color: var(--color-gray-8) !important;
}

.bg-gray-9 {
  background-color: var(--color-gray-9) !important;
}

.bg-gray-10 {
  background-color: var(--color-gray-10) !important;
}

.bg-gray--0 {
  background-color: var(--color-gray--0) !important;
}

.bg-gray--1 {
  background-color: var(--color-gray--1) !important;
}

.bg-gray--2 {
  background-color: var(--color-gray--2) !important;
}

.bg-gray--3 {
  background-color: var(--color-gray--3) !important;
}

.bg-gray--4 {
  background-color: var(--color-gray--4) !important;
}

.bg-gray--5 {
  background-color: var(--color-gray--5) !important;
}

.bg-gray--6 {
  background-color: var(--color-gray--6) !important;
}

.bg-gray--7 {
  background-color: var(--color-gray--7) !important;
}

.bg-gray--8 {
  background-color: var(--color-gray--8) !important;
}

.bg-gray--9 {
  background-color: var(--color-gray--9) !important;
}

.bg-gray--10 {
  background-color: var(--color-gray--10) !important;
}

.text-white {
  color: var(--color-white) !important;
}

.text-black {
  color: var(--color-black) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-primary-tint {
  color: var(--color-primary-tint) !important;
}

.text-primary-shade {
  color: var(--color-primary-shade) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-secondary-tint {
  color: var(--color-secondary-tint) !important;
}

.text-secondary-shade {
  color: var(--color-secondary-shade) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.text-success-tint {
  color: var(--color-success-tint) !important;
}

.text-success-shade {
  color: var(--color-success-shade) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}

.text-warning-tint {
  color: var(--color-warning-tint) !important;
}

.text-warning-shade {
  color: var(--color-warning-shade) !important;
}

.text-danger {
  color: var(--color-danger) !important;
}

.text-danger-tint {
  color: var(--color-danger-tint) !important;
}

.text-danger-shade {
  color: var(--color-danger-shade) !important;
}

.text-link {
  color: var(--color-link) !important;
}

.text-link-tint {
  color: var(--color-link-tint) !important;
}

.text-link-shade {
  color: var(--color-link-shade) !important;
}

.text-gray-0 {
  color: var(--color-gray-0) !important;
}

.text-gray-1 {
  color: var(--color-gray-1) !important;
}

.text-gray-2 {
  color: var(--color-gray-2) !important;
}

.text-gray-3 {
  color: var(--color-gray-3) !important;
}

.text-gray-4 {
  color: var(--color-gray-4) !important;
}

.text-gray-5 {
  color: var(--color-gray-5) !important;
}

.text-gray-6 {
  color: var(--color-gray-6) !important;
}

.text-gray-7 {
  color: var(--color-gray-7) !important;
}

.text-gray-8 {
  color: var(--color-gray-8) !important;
}

.text-gray-9 {
  color: var(--color-gray-9) !important;
}

.text-gray-10 {
  color: var(--color-gray-10) !important;
}

.text-gray--0 {
  color: var(--color-gray--0) !important;
}

.text-gray--1 {
  color: var(--color-gray--1) !important;
}

.text-gray--2 {
  color: var(--color-gray--2) !important;
}

.text-gray--3 {
  color: var(--color-gray--3) !important;
}

.text-gray--4 {
  color: var(--color-gray--4) !important;
}

.text-gray--5 {
  color: var(--color-gray--5) !important;
}

.text-gray--6 {
  color: var(--color-gray--6) !important;
}

.text-gray--7 {
  color: var(--color-gray--7) !important;
}

.text-gray--8 {
  color: var(--color-gray--8) !important;
}

.text-gray--9 {
  color: var(--color-gray--9) !important;
}

.text-gray--10 {
  color: var(--color-gray--10) !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-stretch {
  justify-content: stretch;
}

.text-align-start {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.flex-gap-0 {
  gap: var(--size-0);
}

.flex-gap-1 {
  gap: var(--size-1);
}

.flex-gap-2 {
  gap: var(--size-2);
}

.flex-gap-3 {
  gap: var(--size-3);
}

.flex-gap-4 {
  gap: var(--size-4);
}

.flex-gap-5 {
  gap: var(--size-5);
}

.flex-gap-6 {
  gap: var(--size-6);
}

.flex-gap-7 {
  gap: var(--size-7);
}

.flex-gap-8 {
  gap: var(--size-8);
}

.flex-gap-9 {
  gap: var(--size-9);
}

.flex-gap-10 {
  gap: var(--size-10);
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 0) {
  .col-xxs-1 {
    width: 8.3333333333%;
  }
  .col-xxs-2 {
    width: 16.6666666667%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-4 {
    width: 33.3333333333%;
  }
  .col-xxs-5 {
    width: 41.6666666667%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-7 {
    width: 58.3333333333%;
  }
  .col-xxs-8 {
    width: 66.6666666667%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-10 {
    width: 83.3333333333%;
  }
  .col-xxs-11 {
    width: 91.6666666667%;
  }
  .col-xxs-12 {
    width: 100%;
  }
}
@media (min-width: 366px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
@media (min-width: 0) {
  .container {
    width: 100%;
  }
}
@media (min-width: 366px) {
  .container {
    width: 340px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  color: var(--color-gray-4);
}

hr {
  border-style: solid;
  border-color: var(--color-gray--3);
}

a:link, a:visited {
  color: var(--color-link);
}

:root {
  --color-black: rgb(0, 0, 0);
  --color-black-rgb: 0, 0, 0;
  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;
  --color-primary-tint: rgb(152, 160, 245);
  --color-primary: rgb(98, 111, 225);
  --color-primary-shade: rgb(66, 86, 224);
  --color-primary-rgb: 98, 111, 225;
  --color-secondary-tint: rgb(104, 211, 215);
  --color-secondary: rgb(76, 183, 187);
  --color-secondary-shade: rgb(37, 161, 164);
  --color-secondary-rgb: 76, 183, 187;
  --color-success-tint: rgb(158, 238, 203);
  --color-success: rgb(68, 189, 133);
  --color-success-shade: rgb(27, 166, 108);
  --color-success-rgb: 68, 189, 133;
  --color-warning-tint: rgb(253, 228, 179);
  --color-warning: rgb(250, 173, 65);
  --color-warning-shade: rgb(234, 145, 17);
  --color-warning-rgb: 250, 173, 65;
  --color-danger-tint: rgb(255, 196, 196);
  --color-danger: rgb(252, 109, 109);
  --color-danger-shade: rgb(239, 56, 56);
  --color-danger-rgb: 252, 109, 109;
  --color-link-tint: rgb(86, 176, 252);
  --color-link: rgb(33, 154, 250);
  --color-link-shade: rgb(8, 115, 196);
  --color-link-rgb: 33, 154, 250;
  --color-gray--0: #fbfbfb;
  --color-gray--1: #f9f9f9;
  --color-gray--2: #f6f6f6;
  --color-gray--3: #f2f2f2;
  --color-gray--4: #eee;
  --color-gray--5: #e6e6e6;
  --color-gray--6: #ddd;
  --color-gray--7: #d6d6d6;
  --color-gray--8: #ccc;
  --color-gray--9: #c6c6c6;
  --color-gray--10: #b6b6b6;
  --color-gray-10: #aaa;
  --color-gray-9: #999;
  --color-gray-8: #888;
  --color-gray-7: #777;
  --color-gray-6: #666;
  --color-gray-5: #555;
  --color-gray-4: #444;
  --color-gray-3: #333;
  --color-gray-2: #222;
  --color-gray-1: #111;
  --color-gray-0: #000;
  --font-family: sans-serif;
  --font-size-base: 12px;
  --font-size--4: 8px;
  --font-size--3: 9px;
  --font-size--2: 10px;
  --font-size--1: 11px;
  --font-size-0: 12px;
  --font-size-1: 13px;
  --font-size-2: 14px;
  --font-size-3: 15px;
  --font-size-4: 16px;
  --font-size-5: 17px;
  --font-size-6: 18px;
  --font-size-7: 19px;
  --font-size-8: 20px;
  --font-size-9: 21px;
  --font-size-10: 22px;
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 8px;
  --size-5: 12px;
  --size-6: 16px;
  --size-7: 20px;
  --size-8: 24px;
  --size-9: 28px;
  --size-10: 32px;
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 14px;
  --radius-8: 16px;
  --radius-9: 20px;
  --radius-10: 24px;
  --font-size-xxs: var(--font-size--3);
  --font-size-xs: var(--font-size--1);
  --font-size-sm: var(--font-size-1);
  --font-size-md: var(--font-size-2);
  --font-size-lg: var(--font-size-5);
  --font-size-xl: var(--font-size-8);
  --font-size-xxl: var(--font-size-10);
  --date-picker-size: 320px;
}

:root.theme-default-dark {
  --color-black: rgb(255, 255, 255);
  --color-black-rgb: 255, 255, 255;
  --color-white: rgb(30, 30, 30);
  --color-white-rgb: 51, 51, 51;
  --color-gray--0: #000;
  --color-gray--1: #050505;
  --color-gray--2: #121212;
  --color-gray--3: #181818;
  --color-gray--4: #222;
  --color-gray--5: #282828;
  --color-gray--6: #313131;
  --color-gray--7: #373737;
  --color-gray--8: #3e3e3e;
  --color-gray--9: #444;
  --color-gray--10: #494949;
  --color-gray-10: #555;
  --color-gray-9: #666;
  --color-gray-8: #777;
  --color-gray-7: #888;
  --color-gray-6: #999;
  --color-gray-5: #aaa;
  --color-gray-4: #bbb;
  --color-gray-3: #ccc;
  --color-gray-2: #ddd;
  --color-gray-1: #eee;
  --color-gray-0: #fff;
  --font-family: sans-serif;
  --font-size-base: 12px;
  --font-size--4: 8px;
  --font-size--3: 9px;
  --font-size--2: 10px;
  --font-size--1: 11px;
  --font-size-0: 12px;
  --font-size-1: 13px;
  --font-size-2: 14px;
  --font-size-3: 15px;
  --font-size-4: 16px;
  --font-size-5: 17px;
  --font-size-6: 18px;
  --font-size-7: 19px;
  --font-size-8: 20px;
  --font-size-9: 21px;
  --font-size-10: 22px;
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 8px;
  --size-5: 12px;
  --size-6: 16px;
  --size-7: 20px;
  --size-8: 24px;
  --size-9: 28px;
  --size-10: 32px;
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 14px;
  --radius-8: 16px;
  --radius-9: 20px;
  --radius-10: 24px;
  --font-size-xxs: var(--font-size--3);
  --font-size-xs: var(--font-size--1);
  --font-size-sm: var(--font-size-1);
  --font-size-md: var(--font-size-2);
  --font-size-lg: var(--font-size-5);
  --font-size-xl: var(--font-size-8);
  --font-size-xxl: var(--font-size-10);
  --date-picker-size: 320px;
}

body {
  color: var(--color-black);
  font-size: var(--font-size-base);
}

/*# sourceMappingURL=all.css.map */
