.alert {
  padding: 1rem;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  text-align: justify;
}
.alert.alert-white {
  color: var(--color-white);
  background-color: var(--color-white-tint);
  border-color: rgba(var(--color-white-rgb), 0.2);
}
.alert.alert-black {
  color: var(--color-black);
  background-color: var(--color-black-tint);
  border-color: rgba(var(--color-black-rgb), 0.2);
}
.alert.alert-primary {
  color: var(--color-primary);
  background-color: var(--color-primary-tint);
  border-color: rgba(var(--color-primary-rgb), 0.2);
}
.alert.alert-secondary {
  color: var(--color-secondary);
  background-color: var(--color-secondary-tint);
  border-color: rgba(var(--color-secondary-rgb), 0.2);
}
.alert.alert-success {
  color: var(--color-success);
  background-color: var(--color-success-tint);
  border-color: rgba(var(--color-success-rgb), 0.2);
}
.alert.alert-warning {
  color: var(--color-warning);
  background-color: var(--color-warning-tint);
  border-color: rgba(var(--color-warning-rgb), 0.2);
}
.alert.alert-danger {
  color: var(--color-danger);
  background-color: var(--color-danger-tint);
  border-color: rgba(var(--color-danger-rgb), 0.2);
}
.alert.alert-link {
  color: var(--color-link);
  background-color: var(--color-link-tint);
  border-color: rgba(var(--color-link-rgb), 0.2);
}

.animate-fade-scale-vertical {
  animation: fade-scale-vertical 250ms ease;
}

@keyframes fade-scale-vertical {
  0% {
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    overflow: hidden;
    transform: scaleY(1);
  }
}
.animate-fade-in {
  animation: fade-in 250ms ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade-out {
  opacity: 0;
  animation: fade-out 250ms ease;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-spinner {
  animation: spinner 2000ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-fade-in-slide-up {
  animation: fade-in-slide-up 250ms ease;
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-slide-down {
  transform: translateY(100%);
  animation: fade-in-slide-down 250ms ease;
}

@keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
.form-control {
  width: 100%;
  border: none;
  padding: 5px;
  outline: none;
  box-shadow: 0 0 1px 0 var(--color-gray-6);
}

.m-0 {
  margin: var(--size-0) !important;
}

.m-1 {
  margin: var(--size-1) !important;
}

.m-2 {
  margin: var(--size-2) !important;
}

.m-3 {
  margin: var(--size-3) !important;
}

.m-4 {
  margin: var(--size-4) !important;
}

.m-5 {
  margin: var(--size-5) !important;
}

.m-6 {
  margin: var(--size-6) !important;
}

.m-7 {
  margin: var(--size-7) !important;
}

.m-8 {
  margin: var(--size-8) !important;
}

.m-9 {
  margin: var(--size-9) !important;
}

.m-10 {
  margin: var(--size-10) !important;
}

.mx-0 {
  margin-inline-start: var(--size-0) !important;
  margin-inline-end: var(--size-0) !important;
}

.mx-1 {
  margin-inline-start: var(--size-1) !important;
  margin-inline-end: var(--size-1) !important;
}

.mx-2 {
  margin-inline-start: var(--size-2) !important;
  margin-inline-end: var(--size-2) !important;
}

.mx-3 {
  margin-inline-start: var(--size-3) !important;
  margin-inline-end: var(--size-3) !important;
}

.mx-4 {
  margin-inline-start: var(--size-4) !important;
  margin-inline-end: var(--size-4) !important;
}

.mx-5 {
  margin-inline-start: var(--size-5) !important;
  margin-inline-end: var(--size-5) !important;
}

.mx-6 {
  margin-inline-start: var(--size-6) !important;
  margin-inline-end: var(--size-6) !important;
}

.mx-7 {
  margin-inline-start: var(--size-7) !important;
  margin-inline-end: var(--size-7) !important;
}

.mx-8 {
  margin-inline-start: var(--size-8) !important;
  margin-inline-end: var(--size-8) !important;
}

.mx-9 {
  margin-inline-start: var(--size-9) !important;
  margin-inline-end: var(--size-9) !important;
}

.mx-10 {
  margin-inline-start: var(--size-10) !important;
  margin-inline-end: var(--size-10) !important;
}

.mxs-0 {
  margin-inline-start: var(--size-0) !important;
}

.mxs-1 {
  margin-inline-start: var(--size-1) !important;
}

.mxs-2 {
  margin-inline-start: var(--size-2) !important;
}

.mxs-3 {
  margin-inline-start: var(--size-3) !important;
}

.mxs-4 {
  margin-inline-start: var(--size-4) !important;
}

.mxs-5 {
  margin-inline-start: var(--size-5) !important;
}

.mxs-6 {
  margin-inline-start: var(--size-6) !important;
}

.mxs-7 {
  margin-inline-start: var(--size-7) !important;
}

.mxs-8 {
  margin-inline-start: var(--size-8) !important;
}

.mxs-9 {
  margin-inline-start: var(--size-9) !important;
}

.mxs-10 {
  margin-inline-start: var(--size-10) !important;
}

.mxe-0 {
  margin-inline-end: var(--size-0) !important;
}

.mxe-1 {
  margin-inline-end: var(--size-1) !important;
}

.mxe-2 {
  margin-inline-end: var(--size-2) !important;
}

.mxe-3 {
  margin-inline-end: var(--size-3) !important;
}

.mxe-4 {
  margin-inline-end: var(--size-4) !important;
}

.mxe-5 {
  margin-inline-end: var(--size-5) !important;
}

.mxe-6 {
  margin-inline-end: var(--size-6) !important;
}

.mxe-7 {
  margin-inline-end: var(--size-7) !important;
}

.mxe-8 {
  margin-inline-end: var(--size-8) !important;
}

.mxe-9 {
  margin-inline-end: var(--size-9) !important;
}

.mxe-10 {
  margin-inline-end: var(--size-10) !important;
}

.my-0 {
  margin-block-start: var(--size-0) !important;
  margin-block-end: var(--size-0) !important;
}

.my-1 {
  margin-block-start: var(--size-1) !important;
  margin-block-end: var(--size-1) !important;
}

.my-2 {
  margin-block-start: var(--size-2) !important;
  margin-block-end: var(--size-2) !important;
}

.my-3 {
  margin-block-start: var(--size-3) !important;
  margin-block-end: var(--size-3) !important;
}

.my-4 {
  margin-block-start: var(--size-4) !important;
  margin-block-end: var(--size-4) !important;
}

.my-5 {
  margin-block-start: var(--size-5) !important;
  margin-block-end: var(--size-5) !important;
}

.my-6 {
  margin-block-start: var(--size-6) !important;
  margin-block-end: var(--size-6) !important;
}

.my-7 {
  margin-block-start: var(--size-7) !important;
  margin-block-end: var(--size-7) !important;
}

.my-8 {
  margin-block-start: var(--size-8) !important;
  margin-block-end: var(--size-8) !important;
}

.my-9 {
  margin-block-start: var(--size-9) !important;
  margin-block-end: var(--size-9) !important;
}

.my-10 {
  margin-block-start: var(--size-10) !important;
  margin-block-end: var(--size-10) !important;
}

.mys-0 {
  margin-block-start: var(--size-0) !important;
}

.mys-1 {
  margin-block-start: var(--size-1) !important;
}

.mys-2 {
  margin-block-start: var(--size-2) !important;
}

.mys-3 {
  margin-block-start: var(--size-3) !important;
}

.mys-4 {
  margin-block-start: var(--size-4) !important;
}

.mys-5 {
  margin-block-start: var(--size-5) !important;
}

.mys-6 {
  margin-block-start: var(--size-6) !important;
}

.mys-7 {
  margin-block-start: var(--size-7) !important;
}

.mys-8 {
  margin-block-start: var(--size-8) !important;
}

.mys-9 {
  margin-block-start: var(--size-9) !important;
}

.mys-10 {
  margin-block-start: var(--size-10) !important;
}

.mye-0 {
  margin-block-end: var(--size-0) !important;
}

.mye-1 {
  margin-block-end: var(--size-1) !important;
}

.mye-2 {
  margin-block-end: var(--size-2) !important;
}

.mye-3 {
  margin-block-end: var(--size-3) !important;
}

.mye-4 {
  margin-block-end: var(--size-4) !important;
}

.mye-5 {
  margin-block-end: var(--size-5) !important;
}

.mye-6 {
  margin-block-end: var(--size-6) !important;
}

.mye-7 {
  margin-block-end: var(--size-7) !important;
}

.mye-8 {
  margin-block-end: var(--size-8) !important;
}

.mye-9 {
  margin-block-end: var(--size-9) !important;
}

.mye-10 {
  margin-block-end: var(--size-10) !important;
}

.ml-0 {
  margin-left: var(--size-0) !important;
}

.ml-1 {
  margin-left: var(--size-1) !important;
}

.ml-2 {
  margin-left: var(--size-2) !important;
}

.ml-3 {
  margin-left: var(--size-3) !important;
}

.ml-4 {
  margin-left: var(--size-4) !important;
}

.ml-5 {
  margin-left: var(--size-5) !important;
}

.ml-6 {
  margin-left: var(--size-6) !important;
}

.ml-7 {
  margin-left: var(--size-7) !important;
}

.ml-8 {
  margin-left: var(--size-8) !important;
}

.ml-9 {
  margin-left: var(--size-9) !important;
}

.ml-10 {
  margin-left: var(--size-10) !important;
}

.mr-0 {
  margin-right: var(--size-0) !important;
}

.mr-1 {
  margin-right: var(--size-1) !important;
}

.mr-2 {
  margin-right: var(--size-2) !important;
}

.mr-3 {
  margin-right: var(--size-3) !important;
}

.mr-4 {
  margin-right: var(--size-4) !important;
}

.mr-5 {
  margin-right: var(--size-5) !important;
}

.mr-6 {
  margin-right: var(--size-6) !important;
}

.mr-7 {
  margin-right: var(--size-7) !important;
}

.mr-8 {
  margin-right: var(--size-8) !important;
}

.mr-9 {
  margin-right: var(--size-9) !important;
}

.mr-10 {
  margin-right: var(--size-10) !important;
}

.mt-0 {
  margin-top: var(--size-0) !important;
}

.mt-1 {
  margin-top: var(--size-1) !important;
}

.mt-2 {
  margin-top: var(--size-2) !important;
}

.mt-3 {
  margin-top: var(--size-3) !important;
}

.mt-4 {
  margin-top: var(--size-4) !important;
}

.mt-5 {
  margin-top: var(--size-5) !important;
}

.mt-6 {
  margin-top: var(--size-6) !important;
}

.mt-7 {
  margin-top: var(--size-7) !important;
}

.mt-8 {
  margin-top: var(--size-8) !important;
}

.mt-9 {
  margin-top: var(--size-9) !important;
}

.mt-10 {
  margin-top: var(--size-10) !important;
}

.mb-0 {
  margin-bottom: var(--size-0) !important;
}

.mb-1 {
  margin-bottom: var(--size-1) !important;
}

.mb-2 {
  margin-bottom: var(--size-2) !important;
}

.mb-3 {
  margin-bottom: var(--size-3) !important;
}

.mb-4 {
  margin-bottom: var(--size-4) !important;
}

.mb-5 {
  margin-bottom: var(--size-5) !important;
}

.mb-6 {
  margin-bottom: var(--size-6) !important;
}

.mb-7 {
  margin-bottom: var(--size-7) !important;
}

.mb-8 {
  margin-bottom: var(--size-8) !important;
}

.mb-9 {
  margin-bottom: var(--size-9) !important;
}

.mb-10 {
  margin-bottom: var(--size-10) !important;
}

.p-0 {
  padding: var(--size-0) !important;
}

.p-1 {
  padding: var(--size-1) !important;
}

.p-2 {
  padding: var(--size-2) !important;
}

.p-3 {
  padding: var(--size-3) !important;
}

.p-4 {
  padding: var(--size-4) !important;
}

.p-5 {
  padding: var(--size-5) !important;
}

.p-6 {
  padding: var(--size-6) !important;
}

.p-7 {
  padding: var(--size-7) !important;
}

.p-8 {
  padding: var(--size-8) !important;
}

.p-9 {
  padding: var(--size-9) !important;
}

.p-10 {
  padding: var(--size-10) !important;
}

.px-0 {
  padding-inline-start: var(--size-0) !important;
  padding-inline-end: var(--size-0) !important;
}

.px-1 {
  padding-inline-start: var(--size-1) !important;
  padding-inline-end: var(--size-1) !important;
}

.px-2 {
  padding-inline-start: var(--size-2) !important;
  padding-inline-end: var(--size-2) !important;
}

.px-3 {
  padding-inline-start: var(--size-3) !important;
  padding-inline-end: var(--size-3) !important;
}

.px-4 {
  padding-inline-start: var(--size-4) !important;
  padding-inline-end: var(--size-4) !important;
}

.px-5 {
  padding-inline-start: var(--size-5) !important;
  padding-inline-end: var(--size-5) !important;
}

.px-6 {
  padding-inline-start: var(--size-6) !important;
  padding-inline-end: var(--size-6) !important;
}

.px-7 {
  padding-inline-start: var(--size-7) !important;
  padding-inline-end: var(--size-7) !important;
}

.px-8 {
  padding-inline-start: var(--size-8) !important;
  padding-inline-end: var(--size-8) !important;
}

.px-9 {
  padding-inline-start: var(--size-9) !important;
  padding-inline-end: var(--size-9) !important;
}

.px-10 {
  padding-inline-start: var(--size-10) !important;
  padding-inline-end: var(--size-10) !important;
}

.pxs-0 {
  padding-inline-start: var(--size-0) !important;
}

.pxs-1 {
  padding-inline-start: var(--size-1) !important;
}

.pxs-2 {
  padding-inline-start: var(--size-2) !important;
}

.pxs-3 {
  padding-inline-start: var(--size-3) !important;
}

.pxs-4 {
  padding-inline-start: var(--size-4) !important;
}

.pxs-5 {
  padding-inline-start: var(--size-5) !important;
}

.pxs-6 {
  padding-inline-start: var(--size-6) !important;
}

.pxs-7 {
  padding-inline-start: var(--size-7) !important;
}

.pxs-8 {
  padding-inline-start: var(--size-8) !important;
}

.pxs-9 {
  padding-inline-start: var(--size-9) !important;
}

.pxs-10 {
  padding-inline-start: var(--size-10) !important;
}

.pxe-0 {
  padding-inline-end: var(--size-0) !important;
}

.pxe-1 {
  padding-inline-end: var(--size-1) !important;
}

.pxe-2 {
  padding-inline-end: var(--size-2) !important;
}

.pxe-3 {
  padding-inline-end: var(--size-3) !important;
}

.pxe-4 {
  padding-inline-end: var(--size-4) !important;
}

.pxe-5 {
  padding-inline-end: var(--size-5) !important;
}

.pxe-6 {
  padding-inline-end: var(--size-6) !important;
}

.pxe-7 {
  padding-inline-end: var(--size-7) !important;
}

.pxe-8 {
  padding-inline-end: var(--size-8) !important;
}

.pxe-9 {
  padding-inline-end: var(--size-9) !important;
}

.pxe-10 {
  padding-inline-end: var(--size-10) !important;
}

.py-0 {
  padding-block-start: var(--size-0) !important;
  padding-block-end: var(--size-0) !important;
}

.py-1 {
  padding-block-start: var(--size-1) !important;
  padding-block-end: var(--size-1) !important;
}

.py-2 {
  padding-block-start: var(--size-2) !important;
  padding-block-end: var(--size-2) !important;
}

.py-3 {
  padding-block-start: var(--size-3) !important;
  padding-block-end: var(--size-3) !important;
}

.py-4 {
  padding-block-start: var(--size-4) !important;
  padding-block-end: var(--size-4) !important;
}

.py-5 {
  padding-block-start: var(--size-5) !important;
  padding-block-end: var(--size-5) !important;
}

.py-6 {
  padding-block-start: var(--size-6) !important;
  padding-block-end: var(--size-6) !important;
}

.py-7 {
  padding-block-start: var(--size-7) !important;
  padding-block-end: var(--size-7) !important;
}

.py-8 {
  padding-block-start: var(--size-8) !important;
  padding-block-end: var(--size-8) !important;
}

.py-9 {
  padding-block-start: var(--size-9) !important;
  padding-block-end: var(--size-9) !important;
}

.py-10 {
  padding-block-start: var(--size-10) !important;
  padding-block-end: var(--size-10) !important;
}

.pys-0 {
  padding-block-start: var(--size-0) !important;
}

.pys-1 {
  padding-block-start: var(--size-1) !important;
}

.pys-2 {
  padding-block-start: var(--size-2) !important;
}

.pys-3 {
  padding-block-start: var(--size-3) !important;
}

.pys-4 {
  padding-block-start: var(--size-4) !important;
}

.pys-5 {
  padding-block-start: var(--size-5) !important;
}

.pys-6 {
  padding-block-start: var(--size-6) !important;
}

.pys-7 {
  padding-block-start: var(--size-7) !important;
}

.pys-8 {
  padding-block-start: var(--size-8) !important;
}

.pys-9 {
  padding-block-start: var(--size-9) !important;
}

.pys-10 {
  padding-block-start: var(--size-10) !important;
}

.pye-0 {
  padding-block-end: var(--size-0) !important;
}

.pye-1 {
  padding-block-end: var(--size-1) !important;
}

.pye-2 {
  padding-block-end: var(--size-2) !important;
}

.pye-3 {
  padding-block-end: var(--size-3) !important;
}

.pye-4 {
  padding-block-end: var(--size-4) !important;
}

.pye-5 {
  padding-block-end: var(--size-5) !important;
}

.pye-6 {
  padding-block-end: var(--size-6) !important;
}

.pye-7 {
  padding-block-end: var(--size-7) !important;
}

.pye-8 {
  padding-block-end: var(--size-8) !important;
}

.pye-9 {
  padding-block-end: var(--size-9) !important;
}

.pye-10 {
  padding-block-end: var(--size-10) !important;
}

.pl-0 {
  padding-left: var(--size-0) !important;
}

.pl-1 {
  padding-left: var(--size-1) !important;
}

.pl-2 {
  padding-left: var(--size-2) !important;
}

.pl-3 {
  padding-left: var(--size-3) !important;
}

.pl-4 {
  padding-left: var(--size-4) !important;
}

.pl-5 {
  padding-left: var(--size-5) !important;
}

.pl-6 {
  padding-left: var(--size-6) !important;
}

.pl-7 {
  padding-left: var(--size-7) !important;
}

.pl-8 {
  padding-left: var(--size-8) !important;
}

.pl-9 {
  padding-left: var(--size-9) !important;
}

.pl-10 {
  padding-left: var(--size-10) !important;
}

.pr-0 {
  padding-right: var(--size-0) !important;
}

.pr-1 {
  padding-right: var(--size-1) !important;
}

.pr-2 {
  padding-right: var(--size-2) !important;
}

.pr-3 {
  padding-right: var(--size-3) !important;
}

.pr-4 {
  padding-right: var(--size-4) !important;
}

.pr-5 {
  padding-right: var(--size-5) !important;
}

.pr-6 {
  padding-right: var(--size-6) !important;
}

.pr-7 {
  padding-right: var(--size-7) !important;
}

.pr-8 {
  padding-right: var(--size-8) !important;
}

.pr-9 {
  padding-right: var(--size-9) !important;
}

.pr-10 {
  padding-right: var(--size-10) !important;
}

.pt-0 {
  padding-top: var(--size-0) !important;
}

.pt-1 {
  padding-top: var(--size-1) !important;
}

.pt-2 {
  padding-top: var(--size-2) !important;
}

.pt-3 {
  padding-top: var(--size-3) !important;
}

.pt-4 {
  padding-top: var(--size-4) !important;
}

.pt-5 {
  padding-top: var(--size-5) !important;
}

.pt-6 {
  padding-top: var(--size-6) !important;
}

.pt-7 {
  padding-top: var(--size-7) !important;
}

.pt-8 {
  padding-top: var(--size-8) !important;
}

.pt-9 {
  padding-top: var(--size-9) !important;
}

.pt-10 {
  padding-top: var(--size-10) !important;
}

.pb-0 {
  padding-bottom: var(--size-0) !important;
}

.pb-1 {
  padding-bottom: var(--size-1) !important;
}

.pb-2 {
  padding-bottom: var(--size-2) !important;
}

.pb-3 {
  padding-bottom: var(--size-3) !important;
}

.pb-4 {
  padding-bottom: var(--size-4) !important;
}

.pb-5 {
  padding-bottom: var(--size-5) !important;
}

.pb-6 {
  padding-bottom: var(--size-6) !important;
}

.pb-7 {
  padding-bottom: var(--size-7) !important;
}

.pb-8 {
  padding-bottom: var(--size-8) !important;
}

.pb-9 {
  padding-bottom: var(--size-9) !important;
}

.pb-10 {
  padding-bottom: var(--size-10) !important;
}

.xxs {
  font-size: var(--font-size-xxs);
}

.xs {
  font-size: var(--font-size-xs);
}

.sm {
  font-size: var(--font-size-sm);
}

.md {
  font-size: var(--font-size-md);
}

.lg {
  font-size: var(--font-size-lg);
}

.xl {
  font-size: var(--font-size-xl);
}

.xxl {
  font-size: var(--font-size-xxl);
}

.bg-primary-tint {
  background-color: var(--color-primary-tint) !important;
}

.bg-secondary-tint {
  background-color: var(--color-secondary-tint) !important;
}

.bg-success-tint {
  background-color: var(--color-success-tint) !important;
}

.bg-warning-tint {
  background-color: var(--color-warning-tint) !important;
}

.bg-danger-tint {
  background-color: var(--color-danger-tint) !important;
}

.bg-link-tint {
  background-color: var(--color-link-tint) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}

.bg-danger {
  background-color: var(--color-danger) !important;
}

.bg-link {
  background-color: var(--color-link) !important;
}

.bg-primary-shade {
  background-color: var(--color-primary-shade) !important;
}

.bg-secondary-shade {
  background-color: var(--color-secondary-shade) !important;
}

.bg-success-shade {
  background-color: var(--color-success-shade) !important;
}

.bg-warning-shade {
  background-color: var(--color-warning-shade) !important;
}

.bg-link-shade {
  background-color: var(--color-link-shade) !important;
}

.bg-gray-0 {
  background-color: var(--color-gray-0) !important;
}

.bg-gray-1 {
  background-color: var(--color-gray-1) !important;
}

.bg-gray-2 {
  background-color: var(--color-gray-2) !important;
}

.bg-gray-3 {
  background-color: var(--color-gray-3) !important;
}

.bg-gray-4 {
  background-color: var(--color-gray-4) !important;
}

.bg-gray-5 {
  background-color: var(--color-gray-5) !important;
}

.bg-gray-6 {
  background-color: var(--color-gray-6) !important;
}

.bg-gray-7 {
  background-color: var(--color-gray-7) !important;
}

.bg-gray-8 {
  background-color: var(--color-gray-8) !important;
}

.bg-gray-9 {
  background-color: var(--color-gray-9) !important;
}

.bg-gray-10 {
  background-color: var(--color-gray-10) !important;
}

.bg-gray--0 {
  background-color: var(--color-gray--0) !important;
}

.bg-gray--1 {
  background-color: var(--color-gray--1) !important;
}

.bg-gray--2 {
  background-color: var(--color-gray--2) !important;
}

.bg-gray--3 {
  background-color: var(--color-gray--3) !important;
}

.bg-gray--4 {
  background-color: var(--color-gray--4) !important;
}

.bg-gray--5 {
  background-color: var(--color-gray--5) !important;
}

.bg-gray--6 {
  background-color: var(--color-gray--6) !important;
}

.bg-gray--7 {
  background-color: var(--color-gray--7) !important;
}

.bg-gray--8 {
  background-color: var(--color-gray--8) !important;
}

.bg-gray--9 {
  background-color: var(--color-gray--9) !important;
}

.bg-gray--10 {
  background-color: var(--color-gray--10) !important;
}

.color-primary-tint {
  color: var(--color-primary-tint) !important;
}

.color-secondary-tint {
  color: var(--color-secondary-tint) !important;
}

.color-success-tint {
  color: var(--color-success-tint) !important;
}

.color-warning-tint {
  color: var(--color-warning-tint) !important;
}

.color-danger-tint {
  color: var(--color-danger-tint) !important;
}

.color-link-tint {
  color: var(--color-link-tint) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.color-black {
  color: var(--color-black) !important;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-secondary {
  color: var(--color-secondary) !important;
}

.color-success {
  color: var(--color-success) !important;
}

.color-warning {
  color: var(--color-warning) !important;
}

.color-danger {
  color: var(--color-danger) !important;
}

.color-link {
  color: var(--color-link) !important;
}

.color-primary-shade {
  color: var(--color-primary-shade) !important;
}

.color-secondary-shade {
  color: var(--color-secondary-shade) !important;
}

.color-success-shade {
  color: var(--color-success-shade) !important;
}

.color-warning-shade {
  color: var(--color-warning-shade) !important;
}

.color-link-shade {
  color: var(--color-link-shade) !important;
}

.color-gray-0 {
  color: var(--color-gray-0) !important;
}

.color-gray-1 {
  color: var(--color-gray-1) !important;
}

.color-gray-2 {
  color: var(--color-gray-2) !important;
}

.color-gray-3 {
  color: var(--color-gray-3) !important;
}

.color-gray-4 {
  color: var(--color-gray-4) !important;
}

.color-gray-5 {
  color: var(--color-gray-5) !important;
}

.color-gray-6 {
  color: var(--color-gray-6) !important;
}

.color-gray-7 {
  color: var(--color-gray-7) !important;
}

.color-gray-8 {
  color: var(--color-gray-8) !important;
}

.color-gray-9 {
  color: var(--color-gray-9) !important;
}

.color-gray-10 {
  color: var(--color-gray-10) !important;
}

.color-gray--0 {
  color: var(--color-gray--0) !important;
}

.color-gray--1 {
  color: var(--color-gray--1) !important;
}

.color-gray--2 {
  color: var(--color-gray--2) !important;
}

.color-gray--3 {
  color: var(--color-gray--3) !important;
}

.color-gray--4 {
  color: var(--color-gray--4) !important;
}

.color-gray--5 {
  color: var(--color-gray--5) !important;
}

.color-gray--6 {
  color: var(--color-gray--6) !important;
}

.color-gray--7 {
  color: var(--color-gray--7) !important;
}

.color-gray--8 {
  color: var(--color-gray--8) !important;
}

.color-gray--9 {
  color: var(--color-gray--9) !important;
}

.color-gray--10 {
  color: var(--color-gray--10) !important;
}

.w-10 {
  width: 10%;
}

.h-10 {
  height: 10%;
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.w-70 {
  width: 70%;
}

.h-70 {
  height: 70%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.w-90 {
  width: 90%;
}

.h-90 {
  height: 90%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-33 {
  width: 33.333%;
}

.w-66 {
  width: 66.666%;
}

.h-33 {
  height: 33.333%;
}

.h-66 {
  height: 66.666%;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-column-reverse {
  display: flex !important;
  flex-direction: column-reverse !important;
}

.flex-align-start {
  align-items: flex-start !important;
}

.flex-align-center {
  align-items: center !important;
}

.flex-align-end {
  align-items: flex-end !important;
}

.flex-align-stretch {
  align-items: stretch !important;
}

.flex-justify-start {
  justify-content: flex-start !important;
}

.flex-justify-center {
  justify-content: center !important;
}

.flex-justify-end {
  justify-content: flex-end !important;
}

.flex-justify-space-between {
  justify-content: space-between !important;
}

.flex-justify-space-around {
  justify-content: space-around !important;
}

.flex-justify-stretch {
  justify-content: stretch !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-stretch {
  justify-content: stretch !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-end {
  text-align: end !important;
}

.text-align-start {
  text-align: start !important;
}

.text-align-justify {
  text-align: justify !important;
}

.flex-gap-0 {
  gap: var(--size-0) !important;
}

.flex-gap-1 {
  gap: var(--size-1) !important;
}

.flex-gap-2 {
  gap: var(--size-2) !important;
}

.flex-gap-3 {
  gap: var(--size-3) !important;
}

.flex-gap-4 {
  gap: var(--size-4) !important;
}

.flex-gap-5 {
  gap: var(--size-5) !important;
}

.flex-gap-6 {
  gap: var(--size-6) !important;
}

.flex-gap-7 {
  gap: var(--size-7) !important;
}

.flex-gap-8 {
  gap: var(--size-8) !important;
}

.flex-gap-9 {
  gap: var(--size-9) !important;
}

.flex-gap-10 {
  gap: var(--size-10) !important;
}

.flex-0 {
  flex: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-5 {
  flex: 5 !important;
}

.flex-6 {
  flex: 6 !important;
}

.flex-7 {
  flex: 7 !important;
}

.flex-8 {
  flex: 8 !important;
}

.flex-9 {
  flex: 9 !important;
}

.flex-10 {
  flex: 10 !important;
}

.col-1 {
  width: 8.3333333333% !important;
}

.col-2 {
  width: 16.6666666667% !important;
}

.col-3 {
  width: 25% !important;
}

.col-4 {
  width: 33.3333333333% !important;
}

.col-5 {
  width: 41.6666666667% !important;
}

.col-6 {
  width: 50% !important;
}

.col-7 {
  width: 58.3333333333% !important;
}

.col-8 {
  width: 66.6666666667% !important;
}

.col-9 {
  width: 75% !important;
}

.col-10 {
  width: 83.3333333333% !important;
}

.col-11 {
  width: 91.6666666667% !important;
}

.col-12 {
  width: 100% !important;
}

@media (min-width: 0) {
  .col-xxs-1 {
    width: 8.3333333333% !important;
  }
  .col-xxs-2 {
    width: 16.6666666667% !important;
  }
  .col-xxs-3 {
    width: 25% !important;
  }
  .col-xxs-4 {
    width: 33.3333333333% !important;
  }
  .col-xxs-5 {
    width: 41.6666666667% !important;
  }
  .col-xxs-6 {
    width: 50% !important;
  }
  .col-xxs-7 {
    width: 58.3333333333% !important;
  }
  .col-xxs-8 {
    width: 66.6666666667% !important;
  }
  .col-xxs-9 {
    width: 75% !important;
  }
  .col-xxs-10 {
    width: 83.3333333333% !important;
  }
  .col-xxs-11 {
    width: 91.6666666667% !important;
  }
  .col-xxs-12 {
    width: 100% !important;
  }
}
@media (min-width: 366px) {
  .col-xs-1 {
    width: 8.3333333333% !important;
  }
  .col-xs-2 {
    width: 16.6666666667% !important;
  }
  .col-xs-3 {
    width: 25% !important;
  }
  .col-xs-4 {
    width: 33.3333333333% !important;
  }
  .col-xs-5 {
    width: 41.6666666667% !important;
  }
  .col-xs-6 {
    width: 50% !important;
  }
  .col-xs-7 {
    width: 58.3333333333% !important;
  }
  .col-xs-8 {
    width: 66.6666666667% !important;
  }
  .col-xs-9 {
    width: 75% !important;
  }
  .col-xs-10 {
    width: 83.3333333333% !important;
  }
  .col-xs-11 {
    width: 91.6666666667% !important;
  }
  .col-xs-12 {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333% !important;
  }
  .col-sm-2 {
    width: 16.6666666667% !important;
  }
  .col-sm-3 {
    width: 25% !important;
  }
  .col-sm-4 {
    width: 33.3333333333% !important;
  }
  .col-sm-5 {
    width: 41.6666666667% !important;
  }
  .col-sm-6 {
    width: 50% !important;
  }
  .col-sm-7 {
    width: 58.3333333333% !important;
  }
  .col-sm-8 {
    width: 66.6666666667% !important;
  }
  .col-sm-9 {
    width: 75% !important;
  }
  .col-sm-10 {
    width: 83.3333333333% !important;
  }
  .col-sm-11 {
    width: 91.6666666667% !important;
  }
  .col-sm-12 {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333% !important;
  }
  .col-md-2 {
    width: 16.6666666667% !important;
  }
  .col-md-3 {
    width: 25% !important;
  }
  .col-md-4 {
    width: 33.3333333333% !important;
  }
  .col-md-5 {
    width: 41.6666666667% !important;
  }
  .col-md-6 {
    width: 50% !important;
  }
  .col-md-7 {
    width: 58.3333333333% !important;
  }
  .col-md-8 {
    width: 66.6666666667% !important;
  }
  .col-md-9 {
    width: 75% !important;
  }
  .col-md-10 {
    width: 83.3333333333% !important;
  }
  .col-md-11 {
    width: 91.6666666667% !important;
  }
  .col-md-12 {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333% !important;
  }
  .col-lg-2 {
    width: 16.6666666667% !important;
  }
  .col-lg-3 {
    width: 25% !important;
  }
  .col-lg-4 {
    width: 33.3333333333% !important;
  }
  .col-lg-5 {
    width: 41.6666666667% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .col-lg-7 {
    width: 58.3333333333% !important;
  }
  .col-lg-8 {
    width: 66.6666666667% !important;
  }
  .col-lg-9 {
    width: 75% !important;
  }
  .col-lg-10 {
    width: 83.3333333333% !important;
  }
  .col-lg-11 {
    width: 91.6666666667% !important;
  }
  .col-lg-12 {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333% !important;
  }
  .col-xl-2 {
    width: 16.6666666667% !important;
  }
  .col-xl-3 {
    width: 25% !important;
  }
  .col-xl-4 {
    width: 33.3333333333% !important;
  }
  .col-xl-5 {
    width: 41.6666666667% !important;
  }
  .col-xl-6 {
    width: 50% !important;
  }
  .col-xl-7 {
    width: 58.3333333333% !important;
  }
  .col-xl-8 {
    width: 66.6666666667% !important;
  }
  .col-xl-9 {
    width: 75% !important;
  }
  .col-xl-10 {
    width: 83.3333333333% !important;
  }
  .col-xl-11 {
    width: 91.6666666667% !important;
  }
  .col-xl-12 {
    width: 100% !important;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333% !important;
  }
  .col-xxl-2 {
    width: 16.6666666667% !important;
  }
  .col-xxl-3 {
    width: 25% !important;
  }
  .col-xxl-4 {
    width: 33.3333333333% !important;
  }
  .col-xxl-5 {
    width: 41.6666666667% !important;
  }
  .col-xxl-6 {
    width: 50% !important;
  }
  .col-xxl-7 {
    width: 58.3333333333% !important;
  }
  .col-xxl-8 {
    width: 66.6666666667% !important;
  }
  .col-xxl-9 {
    width: 75% !important;
  }
  .col-xxl-10 {
    width: 83.3333333333% !important;
  }
  .col-xxl-11 {
    width: 91.6666666667% !important;
  }
  .col-xxl-12 {
    width: 100% !important;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
@media (min-width: 0) {
  .container {
    width: 100%;
  }
}
@media (min-width: 366px) {
  .container {
    width: 340px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.dock {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.dock.dock-scroll {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--color-black);
  font-size: var(--font-size-base);
}

body {
  line-height: 1.75em;
  font-family: var(--font-family);
  background-color: var(--color-white);
}
body * {
  font-family: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  color: var(--color-gray-4);
}

hr {
  border-style: solid;
  border-color: var(--color-gray--3);
}

a {
  cursor: pointer;
}

a:link, a:visited {
  color: var(--color-link);
}

:root {
  --color-white-fix: rgb(255, 255, 255);
  --color-white-fix-rgb: 255, 255, 255;
  --color-black-fix: rgb(0, 0, 0);
  --color-black-fix-rgb: 0, 0, 0;
  --color-primary-tint: rgb(144, 156, 255);
  --color-primary: rgb(98, 111, 225);
  --color-primary-shade: rgb(56, 75, 213);
  --color-primary-rgb: 98, 111, 225;
  --color-primary-text: var(--color-white-fix);
  --color-secondary-tint: rgb(131, 250, 255);
  --color-secondary: rgb(76, 183, 187);
  --color-secondary-shade: rgb(30, 154, 157);
  --color-secondary-rgb: 76, 183, 187;
  --color-secondary-text: var(--color-white-fix);
  --color-success-tint: rgb(130, 253, 195);
  --color-success: rgb(68, 189, 133);
  --color-success-shade: rgb(21, 152, 98);
  --color-success-rgb: 68, 189, 133;
  --color-success-text: var(--color-white-fix);
  --color-warning-tint: rgb(255, 198, 118);
  --color-warning: rgb(250, 173, 65);
  --color-warning-shade: rgb(227, 136, 10);
  --color-warning-rgb: 250, 173, 65;
  --color-warning-text: var(--color-white-fix);
  --color-danger-tint: rgb(255, 124, 124);
  --color-danger: rgb(255, 72, 72);
  --color-danger-shade: rgb(218, 44, 44);
  --color-danger-rgb: 255, 72, 72;
  --color-danger-text: var(--color-white-fix);
  --color-link-tint: rgb(139, 196, 255);
  --color-link: rgb(45, 114, 187);
  --color-link-shade: rgb(8, 68, 129);
  --color-link-rgb: 45, 114, 187;
  --color-link-text: var(--color-white-fix);
  --color-white-text: var(--color-gray-5);
  --color-black-text: var(--color-white);
  --color-gray--0-text: var(--color-gray-10);
  --color-gray--1-text: var(--color-gray-10);
  --color-gray--2-text: var(--color-gray-9);
  --color-gray--3-text: var(--color-gray-9);
  --color-gray--4-text: var(--color-gray-8);
  --color-gray--5-text: var(--color-gray-8);
  --color-gray--6-text: var(--color-gray-7);
  --color-gray--7-text: var(--color-gray-7);
  --color-gray--8-text: var(--color-gray-6);
  --color-gray--9-text: var(--color-gray-6);
  --color-gray--10-text: var(--color-gray-5);
  --color-gray-10-text: var(--color-gray--5);
  --color-gray-9-text: var(--color-gray--6);
  --color-gray-8-text: var(--color-gray--6);
  --color-gray-7-text: var(--color-gray--7);
  --color-gray-6-text: var(--color-gray--7);
  --color-gray-5-text: var(--color-gray--8);
  --color-gray-4-text: var(--color-gray--8);
  --color-gray-3-text: var(--color-gray--9);
  --color-gray-2-text: var(--color-gray--9);
  --color-gray-1-text: var(--color-gray--10);
  --color-gray-0-text: var(--color-gray--10);
  --font-family: sans-serif;
  --font-size-base: 12px;
  --font-size--7: calc(var(--font-size-base) - 1rem);
  --font-size--6: calc(var(--font-size-base) - .85rem);
  --font-size--5: calc(var(--font-size-base) - .7rem);
  --font-size--4: calc(var(--font-size-base) - .55rem);
  --font-size--3: calc(var(--font-size-base) - .4rem);
  --font-size--2: calc(var(--font-size-base) - .25rem);
  --font-size--1: calc(var(--font-size-base) - .1rem);
  --font-size-0: calc(var(--font-size-base));
  --font-size-1: calc(var(--font-size-base) + .1rem);
  --font-size-2: calc(var(--font-size-base) + .25rem);
  --font-size-3: calc(var(--font-size-base) + .4rem);
  --font-size-4: calc(var(--font-size-base) + .55rem);
  --font-size-5: calc(var(--font-size-base) + .7rem);
  --font-size-6: calc(var(--font-size-base) + .85rem);
  --font-size-7: calc(var(--font-size-base) + 1rem);
  --font-size-8: calc(var(--font-size-base) + 1.15rem);
  --font-size-9: calc(var(--font-size-base) + 1.3rem);
  --font-size-10: calc(var(--font-size-base) + 1.45rem);
  --size-0: 0rem;
  --size-1: .3rem;
  --size-2: .6rem;
  --size-3: .9rem;
  --size-4: 1.2rem;
  --size-5: 1.5rem;
  --size-6: 1.8rem;
  --size-7: 2.1rem;
  --size-8: 2.4rem;
  --size-9: 2.7rem;
  --size-10: 3rem;
  --radius-1: .1rem;
  --radius-2: .25rem;
  --radius-3: .4rem;
  --radius-4: .55rem;
  --radius-5: .7rem;
  --radius-6: .85rem;
  --radius-7: 1rem;
  --radius-8: 1.15rem;
  --radius-9: 1.3rem;
  --radius-10: 1.45rem;
  --font-size-xxs: .6rem;
  --font-size-xs: .7rem;
  --font-size-sm: .8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.6rem;
  --date-picker-size: 25rem;
}

[theme=default-light] {
  --color-black: #1d1d21;
  --color-black-rgb: 29, 29, 33;
  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;
  --color-gray--0: #fbfbfb;
  --color-gray--1: #f9f9f9;
  --color-gray--2: #f6f6f6;
  --color-gray--3: #f2f2f2;
  --color-gray--4: #eee;
  --color-gray--5: #e6e6e6;
  --color-gray--6: #ddd;
  --color-gray--7: #d6d6d6;
  --color-gray--8: #ccc;
  --color-gray--9: #c6c6c6;
  --color-gray--10: #b6b6b6;
  --color-gray-10: #888;
  --color-gray-9: #777;
  --color-gray-8: #666;
  --color-gray-7: #555;
  --color-gray-6: #444;
  --color-gray-5: #393941;
  --color-gray-4: #34343e;
  --color-gray-3: #313138;
  --color-gray-2: #28282f;
  --color-gray-1: #212128;
  --color-gray-0: #1c1c21;
}

[theme=default-dark] {
  --color-black: rgb(255, 255, 255);
  --color-black-rgb: 255, 255, 255;
  --color-white: rgb(30, 30, 30);
  --color-white-rgb: 51, 51, 51;
  --color-gray--0: #26262d;
  --color-gray--1: #292c33;
  --color-gray--2: #2e323b;
  --color-gray--3: #313642;
  --color-gray--4: #3c4046;
  --color-gray--5: #373737;
  --color-gray--6: #3b3b3b;
  --color-gray--7: #414141;
  --color-gray--8: #474747;
  --color-gray--9: #4a4a4a;
  --color-gray--10: #505050;
  --color-gray-10: #555;
  --color-gray-9: #666;
  --color-gray-8: #777;
  --color-gray-7: #888;
  --color-gray-6: #999;
  --color-gray-5: #aaa;
  --color-gray-4: #bbb;
  --color-gray-3: #ccc;
  --color-gray-2: #ddd;
  --color-gray-1: #eee;
  --color-gray-0: #fff;
}

@font-face {
  font-family: "icons-core";
  src: url("icons-core.eot?t=1688403923206"); /* IE9*/
  src: url("icons-core.eot?t=1688403923206#iefix") format("embedded-opentype"), url("icons-core.woff2?t=1688403923206") format("woff2"), url("icons-core.woff?t=1688403923206") format("woff"), url("icons-core.ttf?t=1688403923206") format("truetype"), url("icons-core.svg?t=1688403923206#icons-core") format("svg"); /* iOS 4.1- */
}
[class^=icons-core-], [class*=" icons-core-"] {
  font-family: "icons-core" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-core-angle-double-left:before {
  content: "\ea01";
}

.icons-core-angle-double-right:before {
  content: "\ea02";
}

.icons-core-angle-down:before {
  content: "\ea03";
}

.icons-core-angle-left:before {
  content: "\ea04";
}

.icons-core-angle-right:before {
  content: "\ea05";
}

.icons-core-angle-up:before {
  content: "\ea06";
}

.icons-core-check:before {
  content: "\ea07";
}

.icons-core-close-circle:before {
  content: "\ea08";
}

.icons-core-close:before {
  content: "\ea09";
}

.icons-core-exclamation-circle:before {
  content: "\ea0a";
}

.icons-core-eye-slash:before {
  content: "\ea0b";
}

.icons-core-eye:before {
  content: "\ea0c";
}

.icons-core-file:before {
  content: "\ea0d";
}

.icons-core-filter:before {
  content: "\ea0e";
}

.icons-core-info-circle:before {
  content: "\ea0f";
}

.icons-core-link:before {
  content: "\ea10";
}

.icons-core-loader:before {
  content: "\ea11";
}

.icons-core-loading:before {
  content: "\ea12";
}

.icons-core-maximize:before {
  content: "\ea13";
}

.icons-core-minimize:before {
  content: "\ea14";
}

.icons-core-minus:before {
  content: "\ea15";
}

.icons-core-search:before {
  content: "\ea16";
}

.icons-core-star-fill:before {
  content: "\ea17";
}

.icons-core-star:before {
  content: "\ea18";
}

.icons-core-warning:before {
  content: "\ea19";
}

/*# sourceMappingURL=styles.css.map */
