@font-face {
    font-family: "icons-core";
    src: url('icons-core.eot?t=1688403923206'); /* IE9*/
    src: url('icons-core.eot?t=1688403923206#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("icons-core.woff2?t=1688403923206") format("woff2"),
    url("icons-core.woff?t=1688403923206") format("woff"),
    url('icons-core.ttf?t=1688403923206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('icons-core.svg?t=1688403923206#icons-core') format('svg'); /* iOS 4.1- */
}

[class^="icons-core-"], [class*=" icons-core-"] {
    font-family: 'icons-core' !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icons-core-angle-double-left:before {
    content: "\ea01";
}

.icons-core-angle-double-right:before {
    content: "\ea02";
}

.icons-core-angle-down:before {
    content: "\ea03";
}

.icons-core-angle-left:before {
    content: "\ea04";
}

.icons-core-angle-right:before {
    content: "\ea05";
}

.icons-core-angle-up:before {
    content: "\ea06";
}

.icons-core-check:before {
    content: "\ea07";
}

.icons-core-close-circle:before {
    content: "\ea08";
}

.icons-core-close:before {
    content: "\ea09";
}

.icons-core-exclamation-circle:before {
    content: "\ea0a";
}

.icons-core-eye-slash:before {
    content: "\ea0b";
}

.icons-core-eye:before {
    content: "\ea0c";
}

.icons-core-file:before {
    content: "\ea0d";
}

.icons-core-filter:before {
    content: "\ea0e";
}

.icons-core-info-circle:before {
    content: "\ea0f";
}

.icons-core-link:before {
    content: "\ea10";
}

.icons-core-loader:before {
    content: "\ea11";
}

.icons-core-loading:before {
    content: "\ea12";
}

.icons-core-maximize:before {
    content: "\ea13";
}

.icons-core-minimize:before {
    content: "\ea14";
}

.icons-core-minus:before {
    content: "\ea15";
}

.icons-core-search:before {
    content: "\ea16";
}

.icons-core-star-fill:before {
    content: "\ea17";
}

.icons-core-star:before {
    content: "\ea18";
}

.icons-core-warning:before {
    content: "\ea19";
}

$icons-core-angle-double-left: "\ea01";
$icons-core-angle-double-right: "\ea02";
$icons-core-angle-down: "\ea03";
$icons-core-angle-left: "\ea04";
$icons-core-angle-right: "\ea05";
$icons-core-angle-up: "\ea06";
$icons-core-check: "\ea07";
$icons-core-close-circle: "\ea08";
$icons-core-close: "\ea09";
$icons-core-exclamation-circle: "\ea0a";
$icons-core-eye-slash: "\ea0b";
$icons-core-eye: "\ea0c";
$icons-core-file: "\ea0d";
$icons-core-filter: "\ea0e";
$icons-core-info-circle: "\ea0f";
$icons-core-link: "\ea10";
$icons-core-loader: "\ea11";
$icons-core-loading: "\ea12";
$icons-core-maximize: "\ea13";
$icons-core-minimize: "\ea14";
$icons-core-minus: "\ea15";
$icons-core-search: "\ea16";
$icons-core-star-fill: "\ea17";
$icons-core-star: "\ea18";
$icons-core-warning: "\ea19";

