<ul>
  @if (showArrows && showFirstArrow && pageNumbers.length > 0) {
    <li (click)="select(1)">
      <i class="far fa-angle-double-left"></i>
    </li>
  }
  @if (showArrows && showPrevArrow && pageNumbers.length > 0) {
    <li (click)="select(page)">
      <i class="far fa-angle-left"></i>
    </li>
  }
  @for (item of pageNumbers; track item) {
    <li (click)="select(item)"
      [ngClass]="{active: (page == item - 1)}">
      @if (item) {
        {{ item }}
      } @else {
        ...
      }
    </li>
  }
  @if (showArrows && showNextArrow && pageNumbers.length > 0) {
    <li (click)="select(page + 2)">
      <i class="far fa-angle-right"></i>
    </li>
  }
  @if (showArrows && showLastArrow && pageNumbers.length > 0) {
    <li (click)="select(pageNumbers[pageNumbers.length - 1])"
      >
      <i class="far fa-angle-double-right"></i>
    </li>
  }
</ul>
