<div class="filter-box flex align-items-center">
  <div class="flex-1">
    <ng-content></ng-content>
  </div>
  <div class="filter">
    <div (click)="openFilterOverlay($event)" [ngClass]="{active: (!!valueControl.value)}" class="icon-box">
      <i #filterIconEl class="far fa-filter"></i>
    </div>
    @if (!overlay && template) {
      <div>
        <ng-container *ngTemplateOutlet="template; context: {$implicit: this, control: valueControl}">
        </ng-container>
      </div>
    }
  </div>
</div>


<ng-template #overlayTpl>
  <div (click)="stopPropagation($event)">
    <div class="overlay-box">
      <div class="operation">
        <select [formControl]="operationControl">
          @for (operation of operations; track operation) {
            <option [ngValue]="operation.key">{{ operation.value }}</option>
          }
        </select>
      </div>
      @if (overlay) {
        <div class="value-box">
          @if (template) {
            <ng-container *ngTemplateOutlet="template; context: {$implicit: this, control: valueControl}">
            </ng-container>
          } @else {
            <d-input [formControl]="valueControl"></d-input>
          }
        </div>
      }
    </div>
  </div>
</ng-template>
