<input [(ngModel)]="dateValue"/>
<dev-date-picker [(ngModel)]="dateValue" (onChooseDate)="dateValue = $event" locale="fa"></dev-date-picker>
<dev-table [items]="items">

  <ng-template filter="input" let-control>
    <input [formControl]="control"/>
  </ng-template>

  <ng-template devTemplate="caption">
    Caption
  </ng-template>

  <ng-template devTemplate="header">
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Gender</th>
      <th>
        IP Address
        <dev-columnFilter>
          <ng-template devTemplate="header"></ng-template>
        </dev-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template devTemplate="body" let-item>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.ip_address}}</td>
    </tr>
  </ng-template>
  <ng-template devTemplate="footer">
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Gender</th>
      <th>IP Address</th>
    </tr>
  </ng-template>
</dev-table>
