@use "primeng.theme";


p-button {

    &.w-full {
        display: flex;

        button {
            flex: 1;
            display: flex;
        }
    }
}

.grid {
    br {
        width: 100%;
    }
}

p-ifta-label {
    label {
        &.required::after {
            content: '*';
            color: var(--danger);
            padding-inline-start: .5rem;
        }
    }
}
