@use "primeng.theme";


p-button {

    &.w-full {
        display: flex;

        button {
            flex: 1;
            display: flex;
        }
    }
}

.grid {
    br {
        width: 100%;
    }
}

.p-datatable-table-container {
    background-color: var(--surface-50);

    .p-datatable-tbody {
        height: var(--p-custom-table-height);

        &::after {
            content: '';
            display: table-row;
        }
    }
}
