@use "primeng.theme";


p-button {

    &.w-full {
        display: flex;

        button {
            flex: 1;
            display: flex;
        }
    }
}

.grid {
    br {
        width: 100%;
    }
}