@import "../variables";

.alert {
  padding: 1rem;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  text-align: justify;

  @each $color in $main-colors {
    &.alert-#{$color} {
      color: var(--color-#{$color}-shade);
      border-color: rgba(var(--color-#{$color}-rgb), .3);
      background-color: rgba(var(--color-#{$color}-rgb), .2);
    }
  }
}
