@import "../variables";

.alert {
  gap: 1rem;
  display: flex;
  padding: 1rem;
  border-radius: 6px;
  text-align: justify;
  align-items: center;

  @each $color in $main-colors {
    &.alert-#{$color} {
      color: var(--color-#{$color}-text);
      background-color: var(--color-#{$color});
    }
  }
}
