<div class="control-box">
  <div [style.max-height]="maxHeight" class="control-container flex-1">
    @for (item of formControl.value; track item; let index = $index) {
      <div class="item">
        <span class="text">{{ item }}</span>
        <i (click)="remove(index)" class="remove far fa-times-circle"></i>
      </div>
    }
    <input #inputEl (blur)="blur()" (focus)="focus()" (keydown)="onInputKeyDown($event)"
      (ngModelChange)="onValueChange()" [(ngModel)]="value" [placeholder]="placeholder" class="control"/>
    </div>
  </div>
