@use "../../directives/tooltip.directive";

:host {
    display: flex;
    position: absolute;
    z-index: 10000000000;

    .overlay-container {
        height: 0;
        display: flex;

        &.top, &.bottom {
            min-width: 100%;

            ::ng-deep > * {
                animation: scale-vertical 200ms ease;
            }
        }

        &.top {
            align-items: flex-end;

            ::ng-deep > * {
                transform-origin: bottom;
            }
        }

        &.bottom {
            align-items: flex-start;

            ::ng-deep > * {
                transform-origin: top;
            }
        }

        &.top-start, &.bottom-start {
            justify-content: flex-start;
        }

        &.top-center, &.bottom-center {
            justify-content: center;
        }

        &.top-end, &.bottom-end {
            justify-content: flex-end;
        }

        &.start, &.end {
            min-height: 100%;

            ::ng-deep > * {
                animation: scale-horizontal 200ms ease;
            }
        }

        &.start {
            justify-content: flex-end;

            &.direction-ltr ::ng-deep > * {
                transform-origin: right;
            }

            &.direction-rtl ::ng-deep > * {
                transform-origin: left;
            }
        }

        &.end {
            justify-content: flex-start;

            &.direction-ltr ::ng-deep > * {
                transform-origin: left;
            }

            &.direction-rtl ::ng-deep > * {
                transform-origin: right;
            }
        }

        &.start-top, &.end-top {
            align-items: flex-start;
        }

        &.start-center, &.end-center {
            align-items: center;
        }

        &.start-bottom, &.end-bottom {
            align-items: flex-end;
        }
    }

    .content-box {
        flex: 1;
        white-space: nowrap;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;

        .text {
            text-align: justify;
        }
    }
}


@keyframes scale-vertical {
    0% {
        transform: scaleY(.8);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes scale-horizontal {
    0% {
        transform: scaleX(.8);
    }

    100% {
        transform: scaleX(1);
    }
}
