<div [ngClass]="mode" [ngSwitch]="type" class="control-box">
    <div class="control-container flex-1">
        <i *ngIf="icon" [ngClass]="icon + ' ' + (iconPos)"></i>
        <ng-container *ngSwitchCase="'textarea'">
      <textarea #inputEl (blur)="blur()" (focus)="focus()" (input)="updateValue()" (keydown)="onKeydown.emit($event)" (keyup)="onKeyup.emit($event)"
                [cols]="cols" [dir]="dir" [disabled]="formControl.disabled" [maxLength]="maxLength" [minLength]="minLength" [name]="name"
                [ngClass]="classControl" [placeholder]="placeholder" [rows]="rows" [style.text-align]="align"
                [style]="styleControl" class="control"></textarea>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <input #inputEl (blur)="blur()" (focus)="focus()" (input)="updateValue()" (keydown)="onKeydown.emit($event)"
                   (keyup)="onKeyup.emit($event)" [dKeyFilter]="keyFilter" [dir]="dir"
                   [disabled]="formControl.disabled" [maxLength]="maxLength" [minLength]="minLength"
                   [name]="name" [ngClass]="classControl" [placeholder]="placeholder" [style.text-align]="align"
                   [style]="styleControl" [type]="(type == 'number' ? 'text' : type)" class="control"/>
        </ng-container>
    </div>
</div>
