<div class="control-box">
  <div class="side-box start-box" *ngIf="startTemplate">
    <ng-container *ngTemplateOutlet="startTemplate"></ng-container>
  </div>
  <div class="control-box-container">
    <ng-content></ng-content>
    <label class="label-box" *ngIf="label" [ngClass]="labelState">{{label}}</label>
  </div>
  <div class="side-box end-box" *ngIf="endTemplate">
    <ng-container *ngTemplateOutlet="endTemplate"></ng-container>
  </div>
</div>
<ng-container *ngIf="focused">
  <ul class="below-box validation-box" *ngIf="errors?.length; else noErrorTpl">
    <li *ngFor="let error of errors">
      <span>{{error.message}}</span>
      <ng-container *ngIf="!focused && errors.length > 1">
        <span> and {{errors.length - 1}} more errors.</span>
      </ng-container>
    </li>
  </ul>
  <ng-template #noErrorTpl>
    <div class="below-box hint-box" *ngIf="hint">
      {{hint}}
    </div>
  </ng-template>
</ng-container>
