<div class="control-box">
  <div class="side-box start-box" *ngIf="prependTemplate">
    <ng-container *ngTemplateOutlet="prependTemplate"></ng-container>
  </div>
  <div class="control-box-container">
    <ng-content></ng-content>
    <label class="label-box" *ngIf="label || labelTemplate" [ngClass]="labelMode">
      <ng-container *ngIf="labelTemplate; else elseLabelTpl">
        <ng-container *ngTemplateOutlet="labelTemplate; context: {label: label}"></ng-container>
      </ng-container>
      <ng-template #elseLabelTpl>
        {{label}}
      </ng-template>
    </label>
  </div>
  <div class="side-box end-box" *ngIf="appendTemplate">
    <ng-container *ngTemplateOutlet="appendTemplate"></ng-container>
  </div>
</div>
<ng-container *ngIf="focused">
  <ul class="below-box validation-box" *ngIf="errors?.length; else noErrorTpl">
    <li *ngFor="let error of errors">
      <span>{{error.message}}</span>
      <ng-container *ngIf="!focused && errors.length > 1">
        <span> and {{errors.length - 1}} more errors.</span>
      </ng-container>
    </li>
  </ul>
  <ng-template #noErrorTpl>
    <div class="below-box hint-box" *ngIf="hint">
      {{hint}}
    </div>
  </ng-template>
</ng-container>
