:host {
  cursor: text;
  outline: none;
  position: relative;
  background-color: var(--color-gray--2);

  &.float-label {
    .control-box .control-box-container .label-box {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .control-box {
    flex: 1;

    .control-box-container {
      flex: 1;
      display: flex;
      position: relative;

      .label-box {
        top: 0;
        z-index: 100;
        margin: 0 .5rem;
        height: 0.3rem;
        display: flex;
        font-size: .9em;
        padding: 0 0.5rem;
        position: absolute;
        align-items: center;
        transition: all .3s ease;
        color: var(--color-gray-7);
        background-color: var(--color-gray--2);
        transform: translateY(calc(-50% - 0.1rem));
      }

      &::ng-deep > *:not(.label-box) {
        flex: 1;

        .control-box {
          flex: 1;
          z-index: 5;
          border: none;
          display: flex;
          box-shadow: none;
          position: relative;
          padding: 0 !important;
        }
      }
    }

    .side-box {
      display: flex;
      overflow: hidden;
      align-items: stretch;
      border-radius: inherit;

      &::ng-deep {
        > i {
          padding: 0 .8em;
        }

        > * {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }

    //.start-box {padding-inline-end: 0 !important;}
    //.end-box {padding-inline-start: 0 !important;}

    .control {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;

      &::placeholder {
        color: var(--color-gray-10);
      }
    }
  }

  &.ng-invalid.ng-touched {
    .control-box {
      border-color: rgba(var(--color-danger-rgb), .6) !important;
    }

    &.focused .control-box {
      box-shadow: 0 0 0 .1em rgba(var(--color-danger-rgb), .1);
    }
  }
}

::ng-deep {


  .control-group-below-box {
    z-index: 5;
    position: absolute;
    transform-origin: top;
    top: calc(100% + .5rem);
    animation: below-box-animation 200ms ease;

    @keyframes below-box-animation {
      0% {
        opacity: 0;
        transform: scaleY(.1);
      }
      100% {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    > * {
      padding: .3rem 1rem;
      border-radius: var(--radius-2);
    }

    .hint-box {
      color: var(--color-gray-7);
      background-color: var(--color-gray--4);
    }

    .validation-box {
      gap: .2rem;
      margin: 0;
      display: flex;
      padding: .3rem 1rem;
      flex-direction: column;
      padding-inline-start: 2rem;
      color: var(--color-white-fix);
      background-color: var(--color-danger-shade);
    }
  }
}
