:host {
  cursor: text;
  outline: none;
  position: relative;

  &.float-label {
    .control-box .control-box-container .label-box {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .control-box {
    flex: 1;

    .control-box-container {
      flex: 1;
      display: flex;
      position: relative;

      .label-box {
        top: 0;
        z-index: 100;
        margin: 0 .5rem;
        height: 0.7rem;
        display: flex;
        font-size: .8em;
        padding: 0 0.5rem;
        position: absolute;
        align-items: center;
        transition: all .3s ease;
        color: var(--color-gray-8);
        background-color: var(--color-white);
        transform: translateY(calc(-50% - 0.1rem));
      }

      &::ng-deep > *:not(.label-box) {
        flex: 1;

        .control-box {
          flex: 1;
          z-index: 5;
          border: none;
          display: flex;
          box-shadow: none;
          position: relative;
          padding: 0 !important;
        }
      }
    }

    .side-box {
      display: flex;
      overflow: hidden;
      align-items: stretch;
      border-radius: inherit;

      &::ng-deep {
        > i {
          padding: 0 .8em;
        }
        > * {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
    //.start-box {padding-inline-end: 0 !important;}
    //.end-box {padding-inline-start: 0 !important;}

    .control {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;

      &::placeholder {
        color: var(--color-gray-10);
      }
    }
  }


  .below-box {
    z-index: 5;
    padding: .3rem 1rem;
    position: absolute;
    transform-origin: top;
    top: calc(100% + .5rem);
    border-radius: var(--radius-2);
    animation: below-box-animation 200ms ease;
  }

  .hint-box {
    color: var(--color-gray-7);
    background-color: var(--color-gray--4);
  }

  .validation-box {
    gap: .2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    padding-inline-start: 2rem;
    background-color: var(--color-danger-shade);
  }

  &.ng-invalid {
    .control-box {
      border-color: rgba(var(--color-danger-rgb), .6) !important;
    }

    &.focused .control-box {
      box-shadow: 0 0 0 .2rem rgba(var(--color-danger-rgb), .2);
    }
  }
}

@keyframes below-box-animation {
  0% {opacity: 0; transform: scaleY(.1);}
  100% {opacity: 1; transform: scaleY(1);}
}
