<d-position [position]="position" (click)="onPositionClick($event)">
  <div class="dialog" [style]="dialogStyles">
    <div class="header">
      <div class="title">
        {{ title }}
      </div>
      <div class="button minimize" *ngIf="minimizable" (click)="minimize()">
        <i class="icons-core-minus"></i>
      </div>
      <div class="button maximize" *ngIf="!isMinimize && maximizable" (click)="maximize()">
        <i [ngClass]="(isMaximize ? 'icons-core-minimize' : 'icons-core-maximize')"></i>
      </div>
      <div class="button close" *ngIf="closable" (click)="close()">
        <i class="icons-core-close"></i>
      </div>
    </div>
    <div class="body">
      <ng-container *ngIf="template">
        <ng-container *ngTemplateOutlet="template; context: {$implicit: this, context: context}"></ng-container>
      </ng-container>
      <ng-container *ngIf="component">
        <ng-container *ngComponentOutlet="component; inputs: context"></ng-container>
      </ng-container>
      <ng-container *ngIf="html">
        <div [innerHTML]="html"></div>
      </ng-container>
    </div>
  </div>
</d-position>
