<div class="placement">
  <div class="dialog" [style]="dialogStyles">
    <div class="header">
      <div class="title">
        {{title}}
      </div>
      <div class="button minimize" *ngIf="minimizable" (click)="minimize()">
        <i class="far fa-minus"></i>
      </div>
      <div class="button maximize" *ngIf="!isMinimize && maximizable" (click)="maximize()">
        <i class="far" [ngClass]="(isMaximize ? 'fa-arrows-minimize' : 'fa-arrows-maximize')"></i>
      </div>
      <div class="button close" *ngIf="closable" (click)="close()">
        <i class="far fa-times"></i>
      </div>
    </div>
    <div class="body">
      <ng-container *ngTemplateOutlet="template; context: {$implicit: this}"></ng-container>
    </div>
  </div>
</div>
