<div class="control-box" [ngSwitch]="type">
  <div class="control-container flex-1">
    <ng-container *ngSwitchCase="'textarea'">
    <textarea class="control" [ngModel]="formControl.value" [placeholder]="placeholder"
              (ngModelChange)="formControl.setValue($event)" (focus)="focusHandler()" (blur)="blurHandler()"></textarea>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <input class="control" [type]="type" [ngModel]="formControl.value" [placeholder]="placeholder"
             (ngModelChange)="formControl.setValue($event)" (focus)="focusHandler()" (blur)="blurHandler()"
              (keyup)="render()"/>
    </ng-container>
  </div>
</div>
