::ng-deep {
  body {
    margin: 0;
  }
}

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

$header-height: 80px;
$aside-width: 230px;

header {
  display: flex;
  justify-content: stretch;
  max-height: $header-height;
  border-bottom: 1px solid var(--color-gray--3);
  background-color: var(--color-primary-shade);

  .title-box {
    gap: .5em;
    padding: .5em;
    display: flex;
    width: $aside-width;
    align-items: center;
    font-size: var(--font-size-10);
    background-color: var(--color-white);


    .icon {
      color: var(--color-danger-shade);
      font-size: 2em;
    }

    .text {
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

main {
  flex: 1;
  width: 100%;
  display: flex;

  aside {
    width: $aside-width;
    background-color: var(--color-white);
    border-inline-end: 1px solid var(--color-gray--3);

    a:link,
    a:visited {
      color: inherit;
      text-decoration: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      ul {
        background-color: rgba(var(--color-black-rgb), 0.01);

        a {
          padding-inline-start: 2em !important;
        }
      }

      li {

        a {
          display: flex;
          cursor: pointer;
          align-items: center;
          padding: .8em 0 .8em 1em;
          color: var(--color-gray-5);
          border-bottom: 1px solid var(--color-gray--3);

          &:hover {
            color: var(--color-primary);
            background-color: rgba(var(--color-black-rgb), 0.03);
          }

          i {
            width: 1.7em;
            font-size: 1.5em;
          }

          span {
            flex: 1;
          }

          .icon-end {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            &::before {
              position: absolute;
            }
          }
        }

        &.open {
          >a {
            color: var(--color-primary);
            background-color: var(--color-gray--2);
          }

          .icon-end::before {
            transform: rotate(90deg);
          }
        }

        &.active {
          > a {
            color: var(--color-white);
            background-color: var(--color-primary);

            span {
              color: inherit;
            }
          }
        }
      }
    }
  }

  article {
    flex: 1;
    position: relative;
    background-color: var(--color-gray--1);

    > section {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      overflow: auto;
      position: absolute;
    }
  }
}
