:host {
    display: block;
    position: relative;
}

.input-control {
    width: 100%;
    padding-inline: 2rem;
}

.date-picker-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-0);
    animation: fade-in 300ms ease;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .year-month {
        display: flex;
        border-bottom: 1px solid var(--surface-100);

        > div {
            flex: 1;
            min-height: 3rem;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--surface-50);
            }
        }
    }

    .dates {
        width: 100%;
        display: grid;
        grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;

        > div {
            margin: .2rem;
            min-height: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .day-of-week {
            border-bottom: 1px solid var(--surface-100);
        }

        .day {
            cursor: pointer;
            border-radius: 4px;

            &.disabled {
                opacity: .3;
                background-color: var(--surface-50);
            }

            &.today {
                color: var(--green-500);
                background-color: var(--green-50);
            }

            &.selected {
                color: var(--primary-50) !important;
                background-color: var(--primary-500)  !important;
            }

            &:not(.disabled):hover {
                color: var(--surface-500);
                background-color: var(--surface-100);
            }

            &:not(.current-month) {
                opacity: .3;
            }
        }
    }

    .year-picker,
    .month-picker {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0);
        position: absolute;
        transition: transform 300ms ease;
        background-color: var(--surface-0);

        &.open {
            transform: scale(1);
        }

        > div {
            cursor: pointer;

            &:hover {
                background-color: var(--surface-100);
            }
        }
    }

    .month-picker {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;

        .month {
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                color: var(--primary-50);
                background-color: var(--primary-500);
            }
        }
    }

    .year-picker {
        overflow: auto;

        > .year {
            min-height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--surface-100);

            &.selected {
                color: var(--primary-50);
                background-color: var(--primary-500);
            }
        }
    }

    .go-today {
        display: flex;
        cursor: pointer;
        min-height: 3rem;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--surface-100);

        &:hover {
            background-color: var(--surface-100);
        }
    }

    .time-picker {
        display: flex;
        direction: ltr;

        >div {
            flex: 1;
            height: 100px;
            display: flex;
            flex-direction: column;

            a {
                height: 30px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                background-color: var(--surface-0);

                &:hover {
                    background-color: var(--surface-100);
                }
            }

            >div {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
