@use "sass:list";
@use "sass:math";
@use "variables";

@mixin init($colors) {
  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: var(--#{$name});
    }
  }

  @each $name, $color in $colors {
    .color-#{$name} {
      color: var(--#{$name});
    }
  }

  @for $i from 0 through 12 {
    .gap-#{$i} {
      gap: var(--size-#{$i});
    }
  }

  @for $i from 0 through 12 {
    .p-#{$i} {
      padding-top: var(--size-#{$i}) !important;
    }

    .py-#{$i} {
      padding-block: var(--size-#{$i}) !important;
    }

    .px-#{$i} {
      padding-inline: var(--size-#{$i}) !important;
    }

    .pt-#{$i} {
      padding-top: var(--size-#{$i}) !important;
    }

    .pb-#{$i} {
      padding-bottom: var(--size-#{$i}) !important;
    }

    .pr-#{$i} {
      padding-right: var(--size-#{$i}) !important;
    }

    .pl-#{$i} {
      padding-left: var(--size-#{$i}) !important;
    }

    .pxs-#{$i} {
      padding-inline-start: var(--size-#{$i}) !important;
    }

    .pxe-#{$i} {
      padding-inline-end: var(--size-#{$i}) !important;
    }

    .pys-#{$i} {
      padding-block-start: var(--size-#{$i}) !important;
    }

    .pye-#{$i} {
      padding-block-end: var(--size-#{$i}) !important;
    }
  }

  @for $i from 0 through 12 {
    .m-#{$i} {
      margin: var(--size-#{$i}) !important;
    }

    .my-#{$i} {
      margin-block: var(--size-#{$i}) !important;
    }

    .mx-#{$i} {
      margin-inline: var(--size-#{$i}) !important;
    }

    .mt-#{$i} {
      margin-top: var(--size-#{$i}) !important;
    }

    .mb-#{$i} {
      margin-bottom: var(--size-#{$i}) !important;
    }

    .mr-#{$i} {
      margin-right: var(--size-#{$i}) !important;
    }

    .ml-#{$i} {
      margin-left: var(--size-#{$i}) !important;
    }

    .mxs-#{$i} {
      margin-inline-start: var(--size-#{$i}) !important;
    }

    .mxe-#{$i} {
      margin-inline-end: var(--size-#{$i}) !important;
    }

    .mys-#{$i} {
      margin-block-start: var(--size-#{$i}) !important;
    }

    .mye-#{$i} {
      margin-block-end: var(--size-#{$i}) !important;
    }
  }

  @for $i from 0 through 12 {
    .font-size-#{$i} {
      font-size: var(--size-#{$i}) !important;
    }
  }

  .ltr {
    direction: ltr !important;
  }

  .rtl {
    direction: rtl !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-justify {
    text-align: justify !important;
  }

  .text-left {
    text-align: left !important;
  }

  .text-right {
    text-align: right !important;
  }

  .text-start {
    text-align: start !important;
  }

  .text-end {
    text-align: end !important;
  }

  .plain-text {
    unicode-bidi: plaintext;
  }

  .white-space-nowrap {
    white-space: nowrap;
  }

  .white-space-pre {
    white-space: pre;
  }

  .white-space-pre-wrap {
    white-space: pre-wrap;
  }

  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }

  .hidden {
    display: none;
  }

  @each $screen in variables.$screens {
    $name: list.nth($screen, 1);
    $resolution: list.nth($screen, 2);

    @media (min-width: $resolution) {
      .#{$name}\:hidden {
        display: none;
      }

      .#{$name}\:block {
        display: block;
      }

      .#{$name}\:flex {
        display: flex;
      }

      .#{$name}\:grid {
        display: grid;
      }
    }
  }

  @for $i from 0 through 12 {
    .flex-#{$i} {
      flex: $i;
    }
  }

  .flex {
    display: flex;

    @for $i from 1 through 12 {
      .col-#{$i} {
        flex: #{math.div(100%, 12) * $i};
      }

      @for $j from 1 through 12 {
        &.gap-#{$j} > .col-#{$i} {
          flex: calc(#{math.div(100%, 12) * $i} - var(--size-#{$j}));
        }
      }
    }
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-column {
    flex-direction: column;
  }

  .align-items-center {
    align-items: center;
  }

  .align-items-end {
    align-items: end;
  }

  .align-items-start {
    align-items: start;
  }

  .justify-content-center {
    justify-content: center;
  }

  .justify-content-end {
    justify-content: end;
  }

  .justify-content-start {
    justify-content: start;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .grid {
    display: grid;
    margin: 0 !important;
  }

  @for $i from 1 through 12 {
    .col-span-#{$i} {
      grid-column: span $i;
    }

    .row-span-#{$i} {
      grid-row: span $i;
    }

    .grid-cols-#{$i} {
      grid-template-columns: repeat($i, 1fr);

      &.grid-autofill {
        grid-template-columns: repeat(
          auto-fill,
          minmax(#{math.div(100, $i)}, 1fr)
        );
      }
    }

    @for $i from 1 through 12 {
      .w-#{$i} {
        width: #{math.div(100%, 12) * $i};
      }
    }
  }

  @each $screen in variables.$screens {
    $name: list.nth($screen, 1);
    $resolution: list.nth($screen, 2);

    @media (min-width: $resolution) {
      @for $i from 1 through 12 {
        .#{$name}\:grid-cols-#{$i} {
          grid-template-columns: repeat($i, 1fr);

          &.grid {
            display: grid;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
