@use "sass:list";
@use "typography";
@use "variables";
@use "table";

html:root {

    --primary: var(--primary-500);

    --chip-border-radius: 6px;
    --list-padding: .7rem;
    --button-label-font-weight: 200;
    --form-field-border-color: var(--surface-200);
    --form-field-invalid-border-color: var(--red-300);
    --form-field-sm-padding-x: 0.425rem;
    --form-field-sm-padding-y: 0.375rem;
    --dialog-content-padding: var(--overlay-modal-padding);

    --button-outlined-success-hover-background: var(--success-50);
    --button-outlined-success-active-background: var(--success-100);
    --button-outlined-success-border-color: var(--success-200);
    --button-outlined-success-color: var(--success-500);

    --tag-primary-background: var(--primary);
    --tag-primary-color: var(--primary-50);
    --tag-secondary-background: var(--secondary);
    --tag-secondary-color: var(--secondary-50);
    --tag-success-background: var(--success);
    --tag-success-color: var(--success-50);
    --tag-info-background: var(--info);
    --tag-info-color: var(--info-50);
    --tag-warn-background: var(--warning);
    --tag-warn-color: var(--warning-50);
    --tag-danger-background: var(--danger);
    --tag-danger-color: var(--danger-50);

    @each $map_color in variables.$map_colors {
        $target: list.nth($map_color, 1);
        $from: list.nth($map_color, 2);

        --#{$target}: var(--#{$target}-500);
        --#{$target}-50: var(--#{$from}-50);
        --#{$target}-100: var(--#{$from}-100);
        --#{$target}-200: var(--#{$from}-200);
        --#{$target}-300: var(--#{$from}-300);
        --#{$target}-400: var(--#{$from}-400);
        --#{$target}-500: var(--#{$from}-500);
        --#{$target}-600: var(--#{$from}-600);
        --#{$target}-700: var(--#{$from}-700);
        --#{$target}-800: var(--#{$from}-800);
        --#{$target}-900: var(--#{$from}-900);
        --#{$target}-950: var(--#{$from}-950);
    }

    @each $color in variables.$colors {
        --p-#{$color}: var(--#{$color});
    }
}

p-button {

    &.w-full {
        display: flex;

        button {
            flex: 1;
            display: flex;
        }
    }

    .p-button-icon+.p-button-label {
        flex: 1;
    }
}

p-button-group {
    p-button {
        flex: 1;

        button {
            width: 100%;
            white-space: nowrap;
        }
    }
}

.grid {
    br {
        width: 100%;
    }
}

.p-treeselect-label {
    flex-wrap: wrap;
}

p-ifta-label {
    label {
        &.required::after {
            content: '*';
            color: var(--danger);
            padding-inline-start: .5rem;
        }
    }

    p-select,
    p-password,
    p-input-text,
    p-textarea,
    p-date-picker,
    p-input-number,
    p-autocomplete,
    [pinputtext],
    textarea {
        width: 100%;
        display: flex;
    }

    .p-datepicker {
        flex: 1;
    }

    .p-password {
        flex: 1;
    }

    p-tree-select {

        .p-treeselect-label-container {
            padding-top: calc(var(--iftalabel-input-padding-top) - .5em);

            .p-treeselect-label {
                min-height: 3em;
                padding-block-start: var(--iftalabel-input-padding-bottom);
            }
        }

        &.p-treeselect-display-chip {
            .p-treeselect-label-container {
                .p-treeselect-label {
                    padding: 0 calc(var(--iftalabel-input-padding-bottom) / 2) calc(var(--iftalabel-input-padding-bottom) / 2) !important;
                }
            }
        }
    }

    p-multi-select {
        .p-multiselect-label-container {
            padding-top: calc(var(--iftalabel-input-padding-top) - .5em);

            .p-multiselect-label {
                min-height: 3em;
                padding: calc(var(--iftalabel-input-padding-bottom) / 2) !important;
            }
        }

        &.p-multiselect-display-chip {
            .p-multiselect-label-container {}
        }
    }

    .p-select .p-select-label {
        // padding-top: calc(var(--form-field-padding-y) * 2.5) !important;
    }
}

p-select.w-full,
p-password.w-full,
p-input-text.w-full,
p-textarea.w-full,
p-input-number.w-full,
p-autocomplete.w-full,
[pinputtext].w-full,
textarea.w-full {
    width: 100%;
    display: flex;
}

p-autocomplete.w-full {
    .p-autocomplete {
        width: 100%;
    }
}

button,
input {
    font-family: inherit;
}

time {
    unicode-bidi: plaintext;
}

.p-button-outlined {
    @each $color in variables.$colors {
        &.p-button-#{$color} {
            background-color: var(--#{$color}-50);
        }
    }
}

.p-dialog {
    margin: 0 !important;

    .p-dialog-header {
        border-bottom: 1px solid var(--surface-200);
    }
}

.p-dialog-mask,
.p-overlay-mask {
    padding: var(--dialog-padding, .75rem);
    padding-top: var(--app-inset-top, var(--dialog-padding, .75rem));
    padding-bottom: var(--app-inset-bottom, var(--dialog-padding, .75rem));
}

.p-multiselect-label {
    overflow: visible !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.p-confirmdialog {
    width: 400px;
    max-width: min(600px, 90vw);

    .p-dialog-footer {
        p-button {
            flex: 1;

            button {
                width: 100%;
            }
        }
    }
}

p-input-number .p-inputtext {
    width: 100%;
}

.p-button-icon-only {
    --button-padding-x: 0.5em;
    --button-padding-y: 0.4em;
    --button-sm-padding-y: 0.3em;
    --button-sm-padding-x: 0.425rem;
}

p-tabs {

    .p-tab-active {
        background-color: var(--primary-50);
    }

    .p-tablist-content {
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--primary-100);
    }
}

.p-iftalabel .p-select .p-select-label {
    padding-block-start: var(--iftalabel-input-padding-top);
    padding-block-end: var(--iftalabel-input-padding-bottom);
}