@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "sass:color";
@use "variables";
@use "table";
@use "helpers";
@use "customize";

@function create-theme($custom-colors, $color-offset: 3%) {
  $base-colors: map.merge(variables.$base-colors, $custom-colors);

  $colors: ();

  @each $name, $color in $base-colors {
    $colors: map.set($colors, $name, $color);

    $color-step: 4.6%;
    @for $i from 0 through 10 {
      $colors: map.set(
        $colors,
        "#{$name}-#{500 - ($i * 50)}",
        color.adjust($color, $lightness: ($color-offset + $i * $color-step))
      );
      $colors: map.set(
        $colors,
        "#{$name}-#{500 + ($i * 50)}",
        color.adjust(
          $color,
          $lightness: ($color-offset + $i * $color-step * 1.5) * -1
        )
      );

      $color-step: $color-step - 0.1%;
    }
  }

  @return $colors;
}

@function unique-list-join($list1, $list2) {
  $result: ();

  // merge first
  $combined: list.join($list1, $list2);

  @each $item in $combined {
    @if list.index($result, $item) == null {
      $result: list.append($result, $item);
    }
  }

  @return $result;
}

@mixin init($custom-colors) {
  $colors: create-theme($custom-colors);

  :root {
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }
  }

  html:root {
    $overwrite-primeng-colors: (
      "primary",
      "secondary",
      "danger",
      "warning",
      "info",
      "link",
      "success"
    );

    $overwrite-primeng-colors: unique-list-join(
      $overwrite-primeng-colors,
      map.keys($custom-colors)
    );

    @each $name, $color in $colors {
      @each $overwrite-primeng-color in $overwrite-primeng-colors {
        @if string.index($name, $overwrite-primeng-color) != null {
          --p-#{$name}: var(--#{$name});
        }
      }
    }

    --p-dialog-content-padding: var(--p-overlay-modal-padding);
  }

  html.dorbit {
    @include helpers.init($colors);
    @include customize.init($colors);
    @include table.init($colors);
  }
}