@use "theme";
@use "typography";
@use "variables";
@use "table";


p-button {

    &.w-full {
        display: flex;

        button {
            flex: 1;
            display: flex;
        }
    }

    .p-button-icon+.p-button-label {
        flex: 1;
    }
}

p-button-group {
    p-button {
        flex: 1;

        button {
            width: 100%;
            white-space: nowrap;
        }
    }
}

.grid {
    br {
        width: 100%;
    }
}

.p-treeselect-label {
    flex-wrap: wrap;
}

p-ifta-label {
    label {
        &.required::after {
            content: '*';
            color: var(--danger);
            padding-inline-start: .5rem;
        }
    }

    p-select,
    p-password,
    p-input-text,
    p-textarea,
    p-select,
    p-input-number,
    [pinputtext],
    textarea {
        width: 100%;
        display: flex;
    }

    .p-password {
        flex: 1;
    }
}

button,
input {
    font-family: inherit;
}

time {
    unicode-bidi: plaintext;
}

.p-button-outlined {
    @each $color in variables.$colors {
        &.p-button-#{$color} {
            background-color: var(--#{$color}-50);
        }
    }
}

.p-dialog {
    .p-dialog-header {
        border-bottom: 1px solid var(--surface-200);
    }
}

.p-multiselect-label {
    overflow: visible !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.p-confirmdialog {
    min-width: 400px;
    max-width: min(600px, 90vw);

    .p-dialog-footer {
        p-button {
            flex: 1;

            button {
                width: 100%;
            }
        }
    }
}