.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-gray--0);

    thead {
        th {
            padding: .5em .5em;
        }
    }

    tbody {
        td {
            padding: .5em .5em;
        }
    }

    &.table-striped {

        tr:nth-child(2n-1) {
            background-color: var(--surface-0);
        }

        tr:nth-child(2n) {
            background-color: var(--surface-100);
        }
    }

    &.table-bordered {

        th,
        td {
            border: 1px solid var(--surface-200);
        }
    }

    &.table-hover {
        
        tbody tr:hover {
            background-color: var(--warning-100) !important;
        }
    }
}