@use "sass:map";
@use "sass:string";
@use "sass:math";
@use "sass:color";
@use "variables";

@function create-color-variants($custom-colors) {
    $base-colors: map.merge(variables.$base-colors, $custom-colors);

    $colors: (
    );


@each $name, $color in $base-colors {
    $colors: map.set($colors, $name, $color);
    
    $color-step: 6.1%;
    $color-offset: 2%;
    @for $i from 0 through 10 {
        $colors: map.set($colors, '#{$name}-#{500 - ($i * 50)}', color.adjust($color, $lightness: ($color-offset + $i * $color-step)));
        $colors: map.set($colors, '#{$name}-#{500 + ($i * 50)}', color.adjust($color, $lightness: ($color-offset + $i * $color-step) * -1));

        $color-step: $color-step - 0.1%;
    }
}

@return $colors;
}

@mixin init($colors) {

    :root {

        @each $name, $color in $colors {
            --#{$name}: #{$color};
        }
    }

    html:root {
        $overwrite-primeng-colors: ("primary", "secondary", "green");
        @each $name, $color in $colors {
            @each $overwrite-primeng-color in $overwrite-primeng-colors {
                @if string.index($name, $overwrite-primeng-color) != null  {
                    --p-#{$name}: var(--#{$name});
                }
            }
        }
    }

    @each $name, $color in $colors {

        .bg-#{$name} {
            background-color: var(--#{$name});
        }
    }

    @each $name, $color in $colors {
        .color-#{$name} {
            color: var(--#{$name});
        }
    }

    .p-button-outlined {
        &.p-button-success {
            background-color: var(--success-50);
        }

        &.p-button-danger {
            background-color: var(--danger-50);
        }

        &.p-button-warning {
            background-color: var(--warning-50);
        }

        &.p-button-info {
            background-color: var(--info-50);
        }

        &.p-button-link {
            background-color: var(--link-50);
        }

        &.p-button-primary {
            background-color: var(--primary-50);
        }

        &.p-button-secondary {
            background-color: var(--secondary-50);
        }
    }
}