@use "sass:map";
@use "sass:color";
@use "variables";

$color-step: 6.75%;

@function create-color-variants($custom-colors) {
    $base-colors: map.merge(variables.$base-colors, $custom-colors);

    $colors: (
    );

@each $name, $color in $base-colors {

    $colors: map.set($colors, $name, $color);
    $colors: map.set($colors, '#{$name}-0', color.adjust($color, $lightness: $color-step * 8));
    $colors: map.set($colors, '#{$name}-50', color.adjust($color, $lightness: $color-step * 7.8));
    $colors: map.set($colors, '#{$name}-100', color.adjust($color, $lightness: $color-step * 7.5));
    $colors: map.set($colors, '#{$name}-150', color.adjust($color, $lightness: $color-step * 7.1));
    $colors: map.set($colors, '#{$name}-200', color.adjust($color, $lightness: $color-step * 6.6));
    $colors: map.set($colors, '#{$name}-250', color.adjust($color, $lightness: $color-step * 6.0));
    $colors: map.set($colors, '#{$name}-300', color.adjust($color, $lightness: $color-step * 5.3));
    $colors: map.set($colors, '#{$name}-350', color.adjust($color, $lightness: $color-step * 4.5));
    $colors: map.set($colors, '#{$name}-400', color.adjust($color, $lightness: $color-step * 3.5));
    $colors: map.set($colors, '#{$name}-450', color.adjust($color, $lightness: $color-step * 2));
    $colors: map.set($colors, '#{$name}-500', color.adjust($color, $lightness: $color-step * 0));
    $colors: map.set($colors, '#{$name}-550', color.adjust($color, $lightness: $color-step * -.7));
    $colors: map.set($colors, '#{$name}-600', color.adjust($color, $lightness: $color-step * -1.4));
    $colors: map.set($colors, '#{$name}-650', color.adjust($color, $lightness: $color-step * -2.1));
    $colors: map.set($colors, '#{$name}-700', color.adjust($color, $lightness: $color-step * -2.8));
    $colors: map.set($colors, '#{$name}-750', color.adjust($color, $lightness: $color-step * -3.5));
    $colors: map.set($colors, '#{$name}-800', color.adjust($color, $lightness: $color-step * -4.2));
    $colors: map.set($colors, '#{$name}-850', color.adjust($color, $lightness: $color-step * -4.9));
    $colors: map.set($colors, '#{$name}-900', color.adjust($color, $lightness: $color-step * -5.6));
    $colors: map.set($colors, '#{$name}-950', color.adjust($color, $lightness: $color-step * -6.3));
    $colors: map.set($colors, '#{$name}-1000', color.adjust($color, $lightness: $color-step * -7.0));
}

@return $colors;
}

@mixin init($colors, $overwrite-primeng-colors: true) {

    html:root {

        @each $name, $color in $colors {
            --#{$name}: #{$color};

            @if $overwrite-primeng-colors {
                --p-#{$name}: #{$color};
            }
        }

        --p-form-field-border-color: var(--surface-200);
    }

    @each $name, $color in $colors {

        .bg-#{$name} {
            background-color: var(--#{$name});
        }
    }

    @each $name, $color in $colors {
        .color-#{$name} {
            color: var(--#{$name});
        }
    }

    .p-button-outlined {
        &.p-button-success {
            background-color: var(--success-50);
        }

        &.p-button-danger {
            background-color: var(--danger-50);
        }

        &.p-button-warning {
            background-color: var(--warning-50);
        }

        &.p-button-info {
            background-color: var(--info-50);
        }

        &.p-button-link {
            background-color: var(--link-50);
        }

        &.p-button-primary {
            background-color: var(--primary-50);
        }

        &.p-button-secondary {
            background-color: var(--secondary-50);
        }
    }
}