@use "sass:list";
@use "variables.scss";

@each $color in variables.$colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }

    .color-#{$color} {
        color: var(--#{$color});
    }
}

@for $i from 1 through 12 {
    .col-span-#{$i} {
        grid-column: span $i;
    }
    
    .row-span-#{$i} {
        grid-row: span $i;
    }

    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    
        &.grid {
            display: grid;
            margin: 0 !important;
        }
    
    }
}

@each $screen in variables.$screens {
    $name: list.nth($screen, 1);
    $width: list.nth($screen, 2);

    .#{$name}\:grid-2 {
        @media screen and (max-width: #{$width}) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .#{$name}\:grid-3 {
        @media screen and (max-width: #{$width}) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .#{$name}\:grid-4 {
        @media screen and (max-width: #{$width}) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .#{$name}\:grid-5 {
        @media screen and (max-width: #{$width}) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.plain-text {
    unicode-bidi: plaintext;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.text-2xs {
    font-size: .65rem;
}

.text-xs {
    font-size: .75rem;
}

.text-sm {
    font-size: .85rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 2rem;
}

.text-2xl {
    font-size: 2rem;
}