@use "sass:list";
@use "sass:map";
@use "sass:color";

$base-colors: (
    // "surface": #8f9caf,
    // "primary": #f97316,
    // "secondary": #8b5cf6,
    // "danger": #ef4444,
    // "warning": #f5aa29,
    // "info": #27c3df,
    // "link": #3b82f6,
    // "success": #5bc292,

    "emerald": #10b981,
    "green": #57ca91,
    "lime": #84cc16,
    "red": #ef4444,
    "orange": #fa8f42,
    "amber": #fcb438,
    "yellow": #ffd452,
    "teal": #14b8a6,
    "cyan": #42cae2,
    "sky": #2cb0ec,
    "blue": #3b82f6,
    "indigo": #6366f1,
    "violet": #7f55e0,
    "purple": #a855f7,
    "fuchsia": #d946ef,
    "pink": #ec4899,
    "rose": #f43f5e,
    "slate": #64748b,
    "gray": #6b7280,
    "zinc": #71717a,
    "neutral": #737373,
    "stone": #8f9caf
);

$color-step: 6.75%;

$sizes: (
    0,
    0.25rem,
    0.5rem,
    0.75rem,
    1rem,
    1.25rem,
    1.5rem,
    1.75rem,
    2rem,
    2.25rem,
    2.5rem,
    2.75rem,
    3rem
);

$screens: (
    ('xxs', 0, 100%),
    ('xs', 366px, 340px),
    ('sm', 576px, 540px),
    ('md', 768px, 720px),
    ('lg', 992px, 960px),
    ('xl', 1200px, 1140px),
    ('xxl', 1400px, 1320px),
);

html:root {

    $index: 0;

    @each $size in $sizes {
        --size-#{$index}: #{$size};
        $index: $index + 1;
    }
}