<div class="control-box">
  <div class="side-box start-box" *ngIf="startTemplate">
    <ng-container *ngTemplateOutlet="startTemplate"></ng-container>
  </div>
  <div class="control-box-container">
    <label class="label-box" *ngIf="label" [ngClass]="labelState">{{label}}</label>
    <ng-content></ng-content>
  </div>
  <div class="side-box end-box" *ngIf="endTemplate">
    <ng-container *ngTemplateOutlet="endTemplate"></ng-container>
  </div>
</div>
<div class="below-box validation-box" *ngIf="errors?.length; else noErrorTpl">
  <span *ngFor="let error of errors">

    {{error.message}}
  </span>
</div>
<ng-template #noErrorTpl>
  <div class="below-box hint-box" *ngIf="hint">
    {{hint}}
  </div>
</ng-template>
