<p-dialog
    (onHide)="onHide.emit()"
    (visibleChange)="visibleChange.emit($event)"
    [(visible)]="visible"
    [appendTo]="appendTo"
    [baseZIndex]="baseZIndex"
    [breakpoints]="breakpoints"
    [closable]="closable"
    [closeOnEscape]="closeOnEscape"
    [contentStyleClass]="contentStyleClass"
    [contentStyle]="contentStyle"
    [dismissableMask]="dismissableMask"
    [draggable]="draggable"
    [header]="header"
    [maximizable]="maximizable"
    [modal]="modal"
    [position]="position"
    [resizable]="resizable"
    [showHeader]="showHeader"

    [styleClass]="styleClass"
    [style]="style"
>
    <ng-container *ngIf="template && visible">
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </ng-container>
</p-dialog>
