<p-dialog
  (onHide)="onHide.emit()"
  (visibleChange)="visibleChange.emit($event)"
  [(visible)]="visible"
  [appendTo]="appendTo"
  [baseZIndex]="baseZIndex"
  [breakpoints]="breakpoints"
  [closable]="closable"
  [closeOnEscape]="closeOnEscape"
  [dismissableMask]="dismissableMask"
  [draggable]="draggable"
  [header]="header"
  [maximizable]="maximizable"
  [modal]="modal"
  [position]="position"
  [resizable]="resizable"
  [showHeader]="showHeader"
  
  [style]="dialogStyle"
  [maskStyle]="maskStyle"
  [contentStyle]="contentStyle"
  
  [styleClass]="dialogStyleClass"
  [maskStyleClass]="maskStyleClass"
  [contentStyleClass]="contentStyleClass"
  >
  @if (template && visible) {
    <ng-container *ngTemplateOutlet="template"></ng-container>
  }
</p-dialog>
