.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-8);
  background-color: var(--color-gray--2);
  border: 1px solid var(--color-gray--6);
}
