:host {
  width: 100%;
  height: 100%;
  display: inline-flex;

  i {
    transition: transform 300ms ease;
  }

  &.expanded {
    i {
      transform: rotate(90deg);
    }
  }
}

:host-context([dir=rtl]) {

  i {
    transform: rotate(180deg);
  }
}
