@import "reset";
@import "scss/animation";
@import "scss/alert";
@import "scss/button";
@import "scss/form";
@import "scss/grid";
@import "scss/helpers";
@import "scss/responsive";
@import "scss/shimmer";
@import "scss/table";
@import "scss/typography";
@import "themes/default-light";
@import "themes/default-dark";

body {
  color: var(--color-black);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}
