<ng-container>
    <div [ngClass]="overlayClasses" class="overlay-container">
        <div class="content-box">
            <ng-container *ngIf="template; else elseTpl">
                <ng-container *ngTemplateOutlet="template; context: {$implicit: this, context: context}"></ng-container>
            </ng-container>
            <ng-template #elseTpl>
                <div *ngIf="text" [ngStyle]="styles" class="text">{{ text }}</div>
                <div *ngIf="html" [innerHTML]="html" [ngStyle]="styles" class="html"></div>
                <ng-content></ng-content>
            </ng-template>
        </div>
    </div>
</ng-container>
