:host {
    outline: none;
    padding: .1rem .4rem;
    align-items: center;
    display: inline-flex;
    border-radius: var(--radius-10);

    &, * {
        cursor: pointer;
    }

    &:hover, &:focus {
        background-color: rgba(var(--color-component-rgb), .1);
    }

    &.checked .radio-box {
        border-color: var(--color-component);
        background-color: var(--color-component);
        box-shadow: inset 0 0 0 .15rem var(--color-white);
    }

    .radio-box {
        width: 1.2rem;
        height: 1.2rem;
        position: relative;
        border-radius: 50%;
        display: inline-flex;
        transition: opacity 200ms ease;
        background-color: var(--color-white);
        border: .1rem solid var(--color-gray--8);
    }

    label {
        display: flex;
        align-items: center;
        margin-inline: .4rem;

        &:empty {
            display: none;
        }
    }
}
