.items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  .item {
    flex: 1;
    display: flex;
    box-sizing: border-box;

    .splitter {
      display: flex;
      position: relative;
      background-color: var(--color-gray--5);

      .default-point {
        display: block;
        width: 0;
        height: 0;
        padding: 6px;
        border-radius: 50%;
        background-color: var(--color-white);
        border: 2px solid var(--color-primary);
      }
    }

    .start, .end {
      flex: 1;
      display: flex;
    }
  }

  &.dir-vertical {
    flex-direction: column;
    .item {
      flex-direction: row;

      .splitter {
        width: 2px;
        height: 100%;
        justify-content: center;
      }

      .start, .end {
        padding: 0 20px;
      }

      .start {
        justify-content: flex-end;
      }

      .end {
        justify-content: flex-start;
      }
    }
  }

  &.dir-horizontal {
    flex-direction: row;

    .item {
      flex-direction: column;

      .splitter {
        height: 2px;
        width: 100%;
        align-items: center;
      }

      .start, .end {
        padding: 20px 0;
      }

      .start {
        align-items: flex-end;
      }

      .end {
        align-items: flex-start;
      }
    }
  }
}
