<ng-template #itemTpl let-item let-type="type">
  <div [ngClass]="'type-' + type" class="item">
    @if (optionTemplate) {
      <ng-container *ngTemplateOutlet="optionTemplate; context: {$implicit: item}"></ng-container>
    } @else {
      <span class="text">{{ getText(item) }}</span>
      @if (mode == 'multiple' && type == 'value') {
        <i (click)="select(item, $event)" class="remove far fa-times-circle"></i>
      }
    }
  </div>
</ng-template>

<div class="control-box">
  <div [ngClass]="align" class="control-container selected-items-container flex-1">
    @if (icon) {
      <i [ngClass]="icon" class="icon"></i>
    }
    @if (selectedItems.length == 0) {
      @if (placeholder) {
        <div class="placeholder">
          {{ placeholder }}
        </div>
      }
    } @else {
      <div [ngClass]="mode" class="selected-items">
        @if (mode === 'single') {
          <ng-container
          *ngTemplateOutlet="itemTpl; context: {$implicit:selectedItems[0], type: 'value'}"></ng-container>
        }
        @if (mode === 'multiple') {
          @for (item of selectedItems; track item) {
            <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit:item, type: 'value'}"></ng-container>
          }
        }
      </div>
      @if (clearable && mode == 'single') {
        <i (click)="clear()" class="remove far fa-times"></i>
      }
    }
  </div>
  <div class="control-container icon-container">
    @if (loading) {
      <div class="loading">
        <i class="far fa-spinner"></i>
      </div>
    } @else {
      @if (showArrow) {
        <div class="arrow"></div>
      }
    }
  </div>
</div>
<ng-template #itemsTpl>
  <div (click)="onItemsClick($event)" [ngClass]="[size, mode]" class="items-container">
    @if (searchable || (searchable == undefined && items.length > 10)) {
      <div class="filter-box">
        <input #searchEl (blur)="focused = false" (focus)="focused = true" [formControl]="searchFormControl" [placeholder]="searchPlaceHolder | translate"
          autofocus class="form-control"/>
        </div>
      }
      <div #itemsContainerEl class="scroll-container">
        <ul class="items">
          @for (item of renderedItems; track item) {
            <li (click)="select(item, $event)" [ngClass]="{selected: item.selected, hovered: (hoveredItem == item)}"
              class="item">
              @if (mode == 'multiple') {
                <d-checkbox [ngModel]="item.selected" [size]="size"></d-checkbox>
              }
              <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit:item, type: 'option'}"></ng-container>
            </li>
          }
        </ul>
      </div>
    </div>
  </ng-template>
