.grid {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;

  >div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
