<div *ngIf="captionTemplate" class="caption">
  <ng-container *ngTemplateOutlet="captionTemplate; context: {}"></ng-container>
</div>
<div class="data">
  <div class="data-table">
    <table>
      <thead *ngIf="headerTemplate">
      <ng-container *ngTemplateOutlet="headerTemplate; context: {}"></ng-container>
      </thead>
      <ng-container *ngFor="let item of renderedItems">
        <tbody *ngIf="bodyTemplate" class="item-box"
               [ngClass]="{selected: item[config.selecting.key]}"
               (click)="onRowClick.emit(item)">
        <ng-container *ngTemplateOutlet="bodyTemplate; context: {$implicit: item}"></ng-container>
        </tbody>
        <tbody *ngIf="detailTemplate && item['rowExpanded']" class="item-detail-box">
        <tr>
          <td colspan="1000">
            <ng-container *ngTemplateOutlet="detailTemplate; context: {$implicit: item}"></ng-container>
          </td>
        </tr>
        </tbody>
      </ng-container>
      <tfoot *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate; context: {}"></ng-container>
      </tfoot>
      <tbody class="flexible-table-height">
      <tr>
        <td colspan="1000"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pagination" *ngIf="config.paging">
  <div class="pagination-start">
    <ng-container *ngIf="paginationStartTemplate">
      <ng-container *ngTemplateOutlet="paginationStartTemplate; context: {}"></ng-container>
    </ng-container>
  </div>
  <div class="paginator">
    <div class="current-page-report page-numbers-around">
      {{pageReportTemplate}}
    </div>
    <div class="page-numbers">
      <d-paginator [page]="config.paging.page" [totalCount]="totalCount" [pageSize]="config.paging.size" (onSelect)="onPageSelect($event)"></d-paginator>
    </div>
    <div class="page-row-count page-numbers-around">
      <d-select [items]="config.paging.pageSizes"
                  [(ngModel)]="config.paging.size"
                  (ngModelChange)="render()"
                  class="limit-select"
                  name="pageRowCountControl">
      </d-select>
    </div>
  </div>
</div>
<div *ngIf="summaryTemplate" class="summary">
  <ng-container *ngTemplateOutlet="summaryTemplate; context: {}"></ng-container>
</div>
