:host {
  max-width: 100%;
  display: inline-flex;

  &.focused {
    .control-box {
      border-color: var(--color-primary-tint);
      box-shadow: 0 0 0 var(--size-1) rgba(var(--color-primary-rgb), .1);
    }
  }

  ::ng-deep .control-container {padding: 0 .5em;}

  &.xs {
    font-size: var(--font-size--1);
    .control-box {border-radius: var(--radius-2);}
  }
  &.sm {font-size: var(--font-size-1);}
  &.md {font-size: var(--font-size-2);}
  &.lg {font-size: var(--font-size-6);}
  &.xl {font-size: var(--font-size-9);}
}

.control-box {
  cursor: text;
  display: flex;
  min-width: 100%;
  position: relative;
  align-items: stretch;
  border-radius: var(--radius-3);
  border: 1px solid var(--color-gray--5);

  .control-container {
    display: flex;
    min-height: 2.5em;
    position: relative;
    align-items: center;
  }

  .full-absolute {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: inherit;
    position: absolute;
    align-items: center;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }

    > * {
      position: absolute;
    }
  }

  .arrow {
    justify-content: flex-end;
    color: var(--color-gray-9);

    &::before {
      content: '▼';
      font-size: .8em;
    }
  }

  .end {
    justify-content: flex-end;
  }

  .placeholder {
    color: var(--color-gray-7);
  }

  .control {
    flex: 1;
    width: 100%;
    border: none;
    cursor: text;
    outline: none;
    padding: .3em 0;
    font-size: inherit;
    position: relative;
    color: var(--color-gray-4);
    background-color: transparent;
  }
}
