:host {

    ::ng-deep .p-card {
        border-inline-start: 5px solid;
    }
    
    &.danger {
        .p-card {
            color: var(--danger-600);
            border-color: var(--danger);
        }
    }

    &.success {
        .p-card {
            color: var(--success-600);
            border-color: var(--success);
        }
    }

    &.info {
        .p-card {
            color: var(--info-600);
            border-color: var(--info);
        }
    }

    &.warning {
        .p-card {
            color: var(--warning-600);
            border-color: var(--warning);
        }
    }
}