:host {
  display: flex;
  cursor: pointer;
  justify-content: center;

  i {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    border: 1px solid transparent;
    transition: transform 300ms ease;
  }

  &:hover i {
    border-color: var(--color-gray--8);
  }

  &.expanded {
    i {
      transform: rotate(90deg);
    }
  }
}

:host-context([dir=rtl]) {

  i {
    transform: rotate(180deg);
  }
}
