<ul>
    <li (click)="select(1)" *ngIf="showArrows && showFirstArrow && pageNumbers.length > 0">
        <i class="far fa-angle-double-left"></i>
    </li>
    <li (click)="select(page)" *ngIf="showArrows && showPrevArrow && pageNumbers.length > 0">
        <i class="far fa-angle-left"></i>
    </li>
    <li (click)="select(item)" *ngFor="let item of pageNumbers"
        [ngClass]="{active: (page == item - 1)}">
        <ng-container *ngIf="item; else extraPagesTpl">
            {{ item }}
        </ng-container>
        <ng-template #extraPagesTpl>
            ...
        </ng-template>
    </li>
    <li (click)="select(page + 2)" *ngIf="showArrows && showNextArrow && pageNumbers.length > 0">
        <i class="far fa-angle-right"></i>
    </li>
    <li (click)="select(pageNumbers[pageNumbers.length - 1])"
        *ngIf="showArrows && showLastArrow && pageNumbers.length > 0">
        <i class="far fa-angle-double-right"></i>
    </li>
</ul>
