

:root {

  // Colors
  --color-black: rgb(0, 0, 0);
  --color-black-rgb: 0, 0, 0;

  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;

  --color-primary-tint: rgb(152, 160, 245);
  --color-primary: rgb(98, 111, 225);
  --color-primary-shade: rgb(79, 96, 215);
  --color-primary-rgb: 98, 111, 225;

  --color-secondary-tint: rgb(151, 206, 248);
  --color-secondary: rgb(72, 160, 235);
  --color-secondary-shade: rgb(24, 122, 203);
  --color-secondary-rgb: 72, 160, 235;

  --color-success-tint: rgb(168, 248, 226);
  --color-success: rgb(73, 190, 161);
  --color-success-shade: rgb(36, 189, 152);
  --color-success-rgb: 73, 190, 161;

  --color-danger-tint: rgb(255, 196, 196);
  --color-danger: rgb(238, 120, 120);
  --color-danger-shade: rgb(234, 71, 71);
  --color-danger-rgb: 234, 71, 71;

  --color-warning-tint: rgb(253, 228, 179);
  --color-warning: rgb(250, 173, 65);
  --color-warning-shade: rgb(231, 142, 19);
  --color-warning-rgb: 234, 182, 54;

  --color-link-tint: rgb(183, 230, 253);
  --color-link: rgb(109, 198, 234);
  --color-link-shade: rgb(64, 168, 215);
  --color-link-rgb: 55, 145, 183;

  --color-gray--0: #fbfbfb;
  --color-gray--1: #f9f9f9;
  --color-gray--2: #f6f6f6;
  --color-gray--3: #f2f2f2;
  --color-gray--4: #eee;
  --color-gray--5: #e6e6e6;
  --color-gray--6: #ddd;
  --color-gray--7: #d6d6d6;
  --color-gray--8: #ccc;
  --color-gray--9: #c6c6c6;
  --color-gray--10: #b6b6b6;

  --color-gray-10: #aaa;
  --color-gray-9: #999;
  --color-gray-8: #888;
  --color-gray-7: #777;
  --color-gray-6: #666;
  --color-gray-5: #555;
  --color-gray-4: #444;
  --color-gray-3: #333;
  --color-gray-2: #222;
  --color-gray-1: #111;
  --color-gray-0: #000;

  // Fonts
  --font-family: sans-serif;

  --font-size-base: 12px;
  --font-size--4: 8px;
  --font-size--3: 9px;
  --font-size--2: 10px;
  --font-size--1: 11px;
  --font-size-0: 12px;
  --font-size-1: 13px;
  --font-size-2: 14px;
  --font-size-3: 15px;
  --font-size-4: 16px;
  --font-size-5: 17px;
  --font-size-6: 18px;
  --font-size-7: 19px;
  --font-size-8: 20px;
  --font-size-9: 21px;
  --font-size-10: 22px;

  //Spacing
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 8px;
  --size-5: 12px;
  --size-6: 16px;
  --size-7: 20px;
  --size-8: 24px;
  --size-9: 28px;
  --size-10: 32px;

  //Radius
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 14px;
  --radius-8: 16px;
  --radius-9: 20px;
  --radius-10: 24px;

  // Components
  --date-picker-size: 320px;
}
