

:root {
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;

  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;

  --color-primary: #8364ff;
  --color-danger: #ea4747;
  --color-warning: #eab636;
  --color-success: #3ac752;
  --color-link: #3791b7;
}
