:host {
  display: flex;
  justify-content: stretch;

  &.horizontal {
    flex-direction: column;

    .tab-list {
      flex-direction: row;

      li {
        &.active {
          box-shadow: inset 0 -3px 0 0px var(--color-component);
        }
      }
    }

    .tab-container {
      margin-top: -1px;
      border-top: 1px solid var(--color-gray--6);
    }
  }

  &.vertical {
    flex-direction: row;

    .tab-list {
      flex-direction: column;
    }

    &.direction-ltr .tab-list li.active {
      box-shadow: inset -3px 0 0 0px var(--color-component);
    }

    &.direction-rtl .tab-list li.active {
      box-shadow: inset 3px 0 0 0 var(--color-component);
    }

    .tab-container {
      margin-inline-start: -1px;
      border-inline-start: 1px solid var(--color-gray--6);
    }

  }
}

.tab-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: stretch;

  li {
    cursor: pointer;
    padding: .5em 1em;

    &:hover {
      background-color: var(--color-gray--2);
    }
  }
}

.tab-container {
  padding: 1em;
}
