<p-select [ngModel]="value" [optionLabel]="optionLabel" [optionValue]="optionValue" (onChange)="onChange($event)" (onShow)="isShowDialog = true"></p-select>

<p-custom-dialog [(visible)]="isShowDialog" appendTo="body">
    <ng-template>
        <div class="items">
            @for (item of items; track $index) {
            <div class="item" (click)="onChange(optionValue ? item[optionValue] : item)">
                @if(itemTpl) {
                <ng-container *ngTemplateOutlet="itemTpl"></ng-container>
                } @else {
                <span>{{optionLabel ? item[optionLabel] : item}}</span>
                }
            </div>
            }
        </div>
    </ng-template>
</p-custom-dialog>